<%
  key = params[:ayah] || '73:4'
  ayah = Verse.find_by(verse_key: key) || Verse.find_by(verse_key: '73:4')
%>

<div class="flex flex-wrap items-center justify-center gap-4 mb-6">
  <div class="flex flex-wrap items-center justify-center gap-4 mb-6">
    <div class="flex items-center">
      <%= label_tag :ayah, 'Jump to Ayah', class: 'me-2 font-medium' %>
      <%= select_tag :ayah,
                     [],
                     onchange: "jumpToAyah(this.value)",
                     class: "px-3 py-2 border rounded bg-white shadow-sm",
                     style: 'min-width: 220px',
                     data: { controller: 'remote-select2', url: '/api/v1/verses/select2.json' } %>
    </div>

    <div class="flex gap-2">
      <% if ayah.previous_ayah %>
        <%= link_to detail_resources_path('quran-metadata', resource.id, ayah: ayah.previous_ayah.verse_key), class: 'btn btn-secondary' do %>
          ← Previous
        <% end %>
      <% end %>

      <% if ayah.next_ayah %>
        <%= link_to detail_resources_path('quran-metadata', resource.id, ayah: ayah.next_ayah.verse_key), class: 'btn btn-secondary' do %>
          Next →
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="p-6 rounded-xl bg-white shadow">
  <div class="bg-white border border-gray-200 rounded-lg shadow-sm mb-2">
    <div class="p-6">
      <div class="qpc-hafs quran-text">
        <div class="badge badge-default text-left">
          <%= ayah.verse_key %>
        </div>
        <%= ayah.text_qpc_hafs %>
      </div>
    </div>
  </div>
</div>