<div class="row">
  <% if text_diff %>
    <div class="col-md-12">
      <h2>New Text</h2>
      <%= safe_html text_diff.left %>
    </div>

    <div class="col-md-12">
      <h2>Old Text</h2>
      <%= safe_html text_diff.right %>
    </div>

  <% else %>
    <div class="col-md-12">
      <h2>This was first version</h2>
      <%= safe_html @version_object.text %>
    </div>
  <% end %>
</div>

<div class="row">
  <% if short_text_diff %>
    <div class="col-md-12">
      <h2>New Short Text</h2>

      <%= safe_html short_text_diff.left %>
    </div>

    <div class="col-md-12">
      <h2>Old Short Text</h2>
      <%= safe_html short_text_diff.right %>
    </div>
  <% end %>
</div>
