<%
  recitations = Audio::Recitation.all.map do |a|
    [a.humanize, a.id]
  end
%>

<%= render 'tools/header',
           name: 'Surah recitations',
           title: @recitation.humanize,
           key: 'surah_recitation_segment_builder'
%>

<%= render 'shared/access_message' %>

<div class="page-wrapper container-lg">
  <div class="page-section filters">
    <div class="row">
      <div class="col-lg-12">
        <%= form_tag surah_audio_files_path, method: :get do %>
          <div data-controller="chapter-verses-filter" class="d-flex tw-flex-wrap">
            <%= render 'shared/filters', verse: false %>

            <div class="form-group me-2">
              <%= select_tag :recitation_id, options_for_select(recitations, params[:recitation_id]), class: 'form-select tw-w-[85vw] sm:tw-w-auto', data: { controller: 'select2' } %>
              <p class="form-text">Filter by recitation</p>
            </div>

            <div class="form-group">
              <%= submit_tag 'Filter', class: 'btn btn-success', data: { disable_with: 'Please wait..' } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="page-section mt-4">
    <h2 class="tw-text-2xl tw-mb-4">Surah list</h2>
    <div class="tools-table-overflow">
    <table class="table table-hover">
      <thead class="tw-sticky tw-top-0 tw-z-10 bg-white border-bottom">
      <tr>
        <th>
          <%= sort_order_link 'Surah', :chapter_id, recitation_id: @recitation.id %>
        </th>
        <th class="tw-truncate tw-whitespace-nowrap">Segment Progress</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @audio_files.each do |file| %>
        <tr>
          <th scope="row"><%= file.chapter_id %></th>

          <td>
            <% progress = file.segment_progress %>
            <div class="progress">
              <div class="progress-bar progress-bar-success"
                   role="progressbar"
                   aria-valuenow="<%= progress %>"
                   aria-valuemin="0" aria-valuemax="100"
                   style="width: <%= progress %>%; min-width: 30px"
              >
                <%= progress %>%
              </div>
            </div>
          </td>

          <td>
            <div class="d-flex gap-1">
              <%= link_to 'Show', surah_audio_file_path(@recitation.id, chapter_id: file.chapter_id), class: 'btn btn-success text-wrap' %>
              <%= link_to 'Fix Segments', segment_builder_surah_audio_file_path(@recitation.id, chapter_id: file.chapter_id), class: 'btn btn-success text-wrap' %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>


