<%
  is_english = current_language.english?
  language_class = "#{current_language.iso_code} #{current_language.name.downcase}"
  word_translations = WordTranslation.where(language: current_language, word: @verse.words).includes(:word).order('words.position ASC')
  has_group_translation = word_translations.where.not(group_word_id: nil).exists?
%>

<table class="table table-hover mt-4">
  <thead class="tw-sticky tw-top-0 tw-z-10 bg-white border-bottom">
  <tr>
    <th>Word#</th>
    <th>Text Uthmani</th>
    <% if !is_english %>
      <th>En translation</th>
    <% end %>

    <th>
      <%= current_language.name %> Translation
    </th>

    <% if has_group_translation %>
      <th>
        Group Translation
      </th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% word_translations.each do |translation| %>
    <%
      word = translation.word
    %>

    <tr class="<%= 'bg-danger text-white' if translation.blank? %>">
      <th scope="row">
        <%= translation.word.position %>
      </th>

      <td>
        <span class="qpc-hafs">
        <%= word.text_qpc_hafs %>
        </span>
      </td>

      <% if !is_english %>
        <td>
          <%= word.en_translation&.text %>
        </td>
      <% end %>

      <td>
        <span class="<%= language_class %>">
          <%= translation&.text %>
        </span>
      </td>

      <% if has_group_translation %>
        <td>
          <span class="<%= language_class %>">
           <%= translation.get_group_text %>
          </span>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
