<%
  is_english = current_language.english?
  has_group_translation = true
  language_class = "#{current_language.iso_code} #{current_language.name.downcase}"
%>

<table class="table table-hover mt-4">
  <thead class="position-sticky bg-white border-bottom top-0">
  <tr>
    <th>Word#</th>
    <th>Text Uthmani</th>
    <% if !is_english %>
      <th>En translation</th>
    <% end %>

    <th>
      <%= current_language.name %> Translation
    </th>

    <% if has_group_translation %>
      <th>
        Group Translation
      </th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @verse.words.order('position ASC').each do |word| %>
    <% translation = word.translation_for_language(current_language) %>

    <tr class="<%= 'bg-danger text-white' if translation.blank? %>">
      <th scope="row"><%= word.position %></th>

      <td>
        <span class="qpc-hafs">
        <%= word.text_qpc_hafs %>
        </span>
      </td>

      <% if !is_english %>
        <td>
          <%= word.en_translation&.text %>
        </td>
      <% end %>

      <td>
        <span class="<%= language_class %>">
          <%= translation&.text %>
        </span>
      </td>

      <% if has_group_translation %>
        <td>
          <span class="<%= language_class %>">
           <%= translation&.group_text %>
          </span>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
