<div class="form-group" id="<%= dom_id word, :group %>">
  <%= text_field_tag :group_text,
                      word_translation.get_group_text,
                     class: "form-control #{language.name.downcase}", disabled: true %>

  <div class="help-block mt-2">
    <% if word_translation.has_grouped_translation? %>
      <% range = word_translation.group_words_range %>

      <div class="help-block d-flex align-items-center justify-content-between">
        <small>
          <%= word.location %> is part of a group
          translation(<%= range.first.location %> - <%= range.last.location %>)
        </small>

        <a
          type="button"
          class="btn btn-secondary btn-sm"
          data-controller="ajax-modal"
          data-url="<%= group_info_word_translation_path(word.id, language: language.id, word_id: word.id) %>"
        >
          Edit Group translation
        </a>
      </div>
    <% else %>
      <div class="help-block d-flex align-items-center justify-content-between">
        <small>
          <%= word.location %> doesn't have group translation
        </small>

        <a
          type="button"
          class="btn btn-secondary btn-sm"
          data-controller="ajax-modal"
          data-url="<%= group_info_word_translation_path(word.id, language: language.id, word_id: word.id) %>"
        >
          Create Group translation
        </a>
      </div>
    <% end %>
  </div>
</div>
