<%
  is_english = language.english?
  language_class = "#{language.iso_code} #{language.name.downcase}"
  word_translation = form.object
  word = word_translation.word
%>

<%= form.hidden_field :word_id %>
<%= form.hidden_field :language_id, value: language.id %>

<div class="bg-white border border-gray-200 rounded-lg shadow-sm mb-5 p-3">
  <h5 class="text-lg font-semibold mb-3 text-right" dir="rtl">
    <strong class="ms-2">
      <%= word.location %>
    </strong>
    <strong class="qpc-hafs" dir="rtl">
      <%= word.text_qpc_hafs %>
    </strong>
  </h5>

  <div
    class="p-0 word-translation"
    data-word="<%= word.location %>"
  >
    <div class="flex flex-wrap gap-4">
      <div class="w-full md:w-1/2">
        <div class="mb-4">
          <%= form.text_field :text,
                              class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent #{@language.name.downcase}",
                              placeholder: "Enter #{@language.name} translation of #{word.location}" %>
          <div class="flex items-center justify-between text-sm text-gray-600 mt-2">
            <small>Enter word by word translation for <%= word.location %></small>
            <div class="me-5">
              <strong>Current translation:</strong> <%= word_translation.text %>
            </div>

            <% unless is_english %>
              <div>
                <strong>English translation:</strong> <%= word.en_translation&.text %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <% if word_translation.persisted? %>
        <div class="w-full md:w-1/2">
          <%= render 'word_group_info', word_translation: word_translation, language: language, word: word %>
        </div>
      <% end %>
    </div>
  </div>
</div>