<%
  words_count = Word.count
  word_translation_count = WordTranslation.where(language_id: current_language.id).size
  missing_words = words_count - word_translation_count
%>

<%= render 'tools/header',
           name: "Word translation proofreading",
           title: "#{current_language.name} word-by-word translation <div style='font-size: 0.5em'>Total Words: #{words_count}<br>With Translations: #{word_translation_count} <br>Missing: #{link_to missing_words, word_translations_path(language_id: current_language.id, filter_missing: true)} </div>",
           key: 'word_translation'
%>

<div class="page-wrapper container-lg">
  <div class="page-section filters">
    <%= form_tag word_translations_path, method: :get do %>
      <div data-controller="chapter-verses-filter" class="d-flex tw-flex-wrap">
        <%= hidden_field_tag :language, current_language.id %>

        <div class="form-group me-2">
          <%= select_tag :language, options_from_collection_for_select(@word_translation_languages, :id, :name, selected: current_language.id), include_blank: false, class: 'form-select tw-w-[85vw] sm:tw-w-[200px]', data: { placeholder: 'Select language', controller: 'select2' } %>
          <p class="form-text">Select language</p>
        </div>

        <%= render 'shared/filters', juz: true %>

        <div class="form-group">
          <%= submit_tag 'Filter', class: 'btn btn-success', data: { disable_with: 'Please wait..' } %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="page-section mt-4">
    <h2 class="tw-text-2xl tw-mb-4">Ayahs</h2>
    <div class="tools-table-overflow">
    <table class="table table-hover">
      <thead class="tw-sticky tw-top-0 tw-z-10 tw-bg-white">
      <tr>
        <th><%= sort_order_link 'Ayah key', :verse_key %></th>
        <th>Progress</th>
        <th>Text</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @verses.each do |verse| %>
        <tr>
          <th scope="row"><%= verse.verse_key %></th>

          <% progress = verse.word_translation_progress(current_language.id) %>
          <td>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 1em;width: <%= progress %>%;">
                <%= progress %>%
              </div>
            </div>
          </td>

          <td class="qpc-hafs">
            <%= truncate verse.text_qpc_hafs, length: 100 %>
          </td>

          <td>
            <div class="d-flex gap-1">
              <%= link_to 'Edit', new_word_translation_path(ayah: verse.id, language: current_language.id), class: 'btn btn-info' %>
              <%= link_to 'Show', word_translation_path(verse.id, language: current_language.id), class: 'btn btn-success' %>
            </div>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="4">
          <div class="d-flex align-items-center">
            <div class="me-4">
              <%= pagy_bootstrap_nav(@pagy).html_safe %>
            </div>
            <div>
              <%= pagy_info(@pagy).html_safe %>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
