<%= render 'tools/header',
           name: "Word translation proofreading",
           title: "#{@language.name} word-by-word translation for #{@verse.chapter.name_simple} ayah #{@verse.verse_number}",
           key: 'word_translation' %>

<div class="page-wrapper tw-container tw-max-w-7xl tw-mx-auto tw-px-4">
  <div class="page-section">
    <div class="tw-flex tw-flex-wrap tw-gap-4" id="editor-wrap">

      <div class="tw-w-full">
        <b>Text Uthmani</b>
        <div class="qpc-hafs" id="ayah_text">
          <%= @verse.text_qpc_hafs %>
        </div>
      </div>

      <div class="tw-w-full tw-mb-4">
        <% @verse.translations.each do |trans| %>
          <b><%= trans.resource_name %></b>
          <div class="<%= trans.language_name %>" id="ayah_text">
            <%= safe_html trans.text %>
          </div>
        <% end %>
      </div>

      <div class="tw-w-full" data-controller="word-translation">
        <%= form_for @verse, url: word_translations_path(verse_id: @verse.id, language: @language.id), method: :post, html: { class: 'form', autocomplete: 'off' } do |form| %>
          <div id="words">
            <%= form.fields_for :word_translations, @wbw_translations do |trans_form| %>
             <%= render 'word_translation_field', form: trans_form, language: current_language %>
            <% end %>
          </div>

          <div class="tw-mb-4 tw-flex tw-justify-end tw-items-center tw-mt-3">
            <%= link_to 'Cancel', word_translation_path(@verse.id, language: @language.id), class: 'tw-me-3' %>
            <%= form.submit 'Save translations',
                            class: 'tw-bg-green-500 hover:tw-bg-green-600 tw-text-white tw-px-4 tw-py-2 tw-rounded tw-transition-colors',
                            data: { disable_with: 'Please wait...' } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
