<%
  actions = []
  next_ayah = @verse.next_ayah
  previous_ayah = @verse.previous_ayah

  if @access
    actions << link_to('Edit', new_word_translation_path(ayah: @verse.id, language: params[:language]), class: 'btn btn-success')
  end

  if previous_ayah
    actions << link_to('Previous ayah', word_translation_path(previous_ayah.id, language: params[:language]), class: 'btn btn-dark')
  end

  if next_ayah
    actions << link_to('Next ayah', word_translation_path(next_ayah.id, language: params[:language]), class: 'btn btn-dark')
  end

  actions << link_to('Back to filter', word_translations_path(language: params[:language]), class: 'btn btn-info')
%>

<%= render 'tools/header',
           name: "Word translation proofreading",
           title: "#{@language.name} word-by-word translation for #{@verse.chapter.name_simple} ayah #{@verse.verse_number}",
           key: 'word_translation',
           actions: actions
%>

<div class="page-wrapper container-lg">
  <div class="page-section mb-4">
    <div class="alert alert-info" role="alert">
      <div>
        <b>Text Uthmani:</b>
        <div class="qpc-hafs"> <%= @verse.text_qpc_hafs %></div>
      </div>

      <% @verse.translations.each do |trans| %>
        <div>
          <b><%= trans.resource_name %>:</b> <br/>

          <div class="<%= trans.language_name %>">
            <%= safe_html trans.text %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="lead">
      <%
        progress = @verse.word_translation_progress(@language.id)
      %>

      Translation progress
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 1em;width: <%= progress%>%;">
          <%= progress %>%
        </div>
      </div>
    </div>
  </div>

  <div class="page-section">
    <h2>Word list with translation</h2>
    <%= render 'table' %>
  </div>
</div>
