<%= render 'shared/flash_notices' %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <%= render 'shared/form_errors', object: resource %>
    </div>
  </div>
</div>

<div class="row device-container px-3">
  <%= render 'devise/shared/spline_animation' %>

  <div class="col-md-6 col-12 right">
    <div class="py-3 px-4" data-turbo="false">
      <%= render 'form' %>

      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
