<%= render 'tools/header',
           name: "Quran scripts",
           title: 'Proofread Quran script and fonts compatibility',
           key: 'quran_script'
%>

<div class="page-wrapper container-lg">
  <div class="page-section filters">
    <%= form_tag word_text_proofreadings_path, method: :get, class: 'd-flex' do %>
      <div class="form-group me-2">
        <%= select_tag :filter_juz, options_for_select(1..30, params[:filter_juz]), include_blank: true, class: 'form-select', data: { placeholder: 'Filter by para', controller: 'select2' } %>
        <p class="form-text">Filter by Para/Juz</p>
      </div>
      <div class="form-group me-2">
        <%= select_tag :filter_page, options_for_select(1..604, params[:filter_page]), include_blank: true, class: 'form-select', data: { placeholder: 'Filter by page', controller: 'select2' } %>
        <p class="form-text">Filter by page(1-604)</p>
      </div>

      <div class="form-group me-2">
        <%= select_tag :filter_chapter, options_for_select(1..114, params[:filter_chapter]), include_blank: true, class: 'form-select', data: { placeholder: 'Filter by surah', controller: 'select2' } %>
        <p class="form-text">Filter by Surah</p>
      </div>

      <div class="form-group me-2">
        <%= select_tag :filter_verse, options_for_select(1..256, params[:filter_verse]), include_blank: true, class: 'form-select', data: { placeholder: 'Filter by surah', controller: 'select2' } %>
        <p class="form-text">Filter by Ayah</p>
      </div>

      <div class="form-group">
        <%= submit_tag 'Filter', class: 'btn btn-success', data: { disable_with: 'Please wait..' } %>
        <%= link_to 'Clear', word_text_proofreadings_path, class: 'btn-link text-dark' if has_filters?(:filter_juz, :filter_chapter, :filter_page, :filter_verse) %>
      </div>
    <% end %>
  </div>

  <div class="page-section mt-4">
    <h2>Ayah list</h2>
    <table class="table table-hover">
      <thead class="position-sticky bg-white border-bottom top-0">
      <tr>
        <th><%= sort_order_link 'Ayah#', :id %></th>
        <th>Key</th>
        <th>Text</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @verses.each do |verse| %>
        <tr>
          <th scope="row"><%= verse.id %></th>
          <td><%= verse.verse_key %></td>
          <td class="me_quran">
            <%= verse.text_uthmani %>
          </td>

          <td>
            <div class="d-grid align-items-center">
              <%= link_to 'Show', word_text_proofreading_path(verse.id), class: 'btn btn-success' %>
            </div>
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan="4">
          <%= pagy_bootstrap_nav(@pagy).html_safe %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
