<%= render 'tools/header',
           name: "Quran scripts",
           title: 'Proofread Quran script and fonts compatibility',
           key: 'quran_script'
%>

<div class="page-wrapper container-lg">
  <div class="page-section filters">
    <%= form_tag word_text_proofreadings_path, method: :get do %>
      <div data-controller="chapter-verses-filter" class="d-flex tw-flex-wrap">
        <%= render 'shared/filters', juz: true, page: true %>

        <div class="form-group">
          <%= submit_tag 'Filter', class: 'btn btn-success', data: { disable_with: 'Please wait..' } %>
          <%= link_to 'Clear', word_text_proofreadings_path, class: 'btn-link text-dark' if has_filters?(:filter_juz, :filter_chapter, :filter_page, :filter_verse) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="page-section mt-4">
    <h2 class="tw-text-2xl tw-mb-4">Ayah list</h2>
    <div class="tools-table-overflow">
    <table class="table table-hover">
      <thead class="tw-sticky tw-top-0 tw-z-10 tw-bg-white">
      <tr>
        <th><%= sort_order_link 'Ayah#', :id %></th>
        <th>Key</th>
        <th>Text</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @verses.each do |verse| %>
        <tr>
          <th scope="row"><%= verse.id %></th>
          <td><%= verse.verse_key %></td>
          <td class="me_quran">
            <%= verse.text_uthmani %>
          </td>

          <td>
            <div class="d-grid align-items-center">
              <%= link_to 'Show', word_text_proofreading_path(verse.id), class: 'btn btn-success' %>
            </div>
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan="4">
          <div class="d-flex align-items-center">
            <div class="me-4">
              <%= pagy_bootstrap_nav(@pagy).html_safe %>
            </div>
            <div>
              <%= pagy_info(@pagy).html_safe %>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
