<%= bootstrap_devise_error_messages! %>

<div class="card panel-default devise-bs my-3">
  <div class="card-header">
    <h4><%= t('.sign_up', default: 'Sign up') %></h4>
  </div>

  <div class="card-body" data-turbo="false">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
      <div class="form-group mb-2">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true, required: true, class: 'form-control' %>
      </div>
      <div class="form-group mb-2">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, required: true, class: 'form-control' %>
      </div>
      <div class="form-group mb-2">
        <%= f.label :email %>
        <%= f.email_field :email, required: true, class: 'form-control' %>
      </div>
      <div class="form-group mb-2">
        <%= f.label :about_me, "Tell us more about yourself" %>
        <%= f.text_area :about_me, required: true, class: 'form-control' %>
        <p class="help-block">
          Please list down your skills, languages you're fluent in, how much time you can contribute each week etc.
        </p>
      </div>
      <div class="form-group mb-2">
        <%= f.label :password %>
        <%= f.password_field :password, required: true, class: 'form-control' %>
      </div>
      <div class="form-group mb-2">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, required: true, class: 'form-control' %>
      </div>
      <%= f.submit t('.sign_up', default: 'Sign up'), class: 'btn btn-primary mt-3' %>
    <% end %>
  </div>
</div>
<%= render 'devise/shared/links' %>
