<%= render 'layouts/grid' do %>
  <div class="mx-auto px-4 pb-10">
    <div class="flex flex-col md:flex-row gap-6 md:gap-8">
      <div class="w-full bg-black rounded-3xl overflow-hidden h-[30vh] md:h-[80vh] flex items-center justify-center">
        <%= render 'devise/shared/spline_animation' %>
      </div>
      <div class="w-full">
        <div class="py-3 md:px-4">
          <ul class="relative flex gap-4 border-b border-gray-200 pb-2" role="tablist">
            <li>
              <a class="text-gray-400 font-semibold hover:text-black" href="<%= new_user_session_path %>">Login</a>
            </li>
            <li>
              <a class="font-semibold hover:text-black" href="<%= new_user_registration_path %>">Create Account</a>
              <span class="block h-[2px] w-[13ch] bg-black absolute -bottom-[1px] start-[5.5ch]"></span>
            </li>
          </ul>
          <div class="md:py-3" data-turbo="false">
            <%= render 'form' %>
          </div>
          <div class="mb-4 text-center">
            <%= render 'devise/shared/links' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
