<%
  translations = root.english_translations
  grouped_words = Word.unscoped
                      .joins(:word_translation)
                      .where(root: root, word_translations: { language_id: 38 })
                      .select(
                        'words.text_qpc_hafs',
                        'ARRAY_AGG(DISTINCT word_translations.text) AS translations',
                        'COUNT(*) AS count'
                      )
                      .group('words.text_qpc_hafs')
                      .order('count DESC')
%>


<div id="title" class="hidden">
  Root <%= root.arabic_trilateral %> detail
</div>

<div id="body">
  <div class="p-6 qul-docs">
    <p class="prose max-w-none">
      Root <span class="font-bold"><%= root.arabic_trilateral %></span>(<%= root.english_trilateral.chars.join(' ') %>) has
      <span class="font-semibold"><%= root.uniq_words_count %></span> unique word forms and appears
      <span class="font-semibold"><%= root.words_count %></span> times in the Quran.
    </p>

    <% if translations.present? %>
    <p class="prose max-w-none">
      <strong>English gloss</strong>
      <%= translations.join(', ') %>
    </p>
    <% end %>

    <div class="overflow-x-auto max-h-[500px] border rounded-lg shadow-sm">
      <table class="min-w-full table-auto text-sm text-left border-collapse">
        <thead class="bg-gray-100 sticky top-0 z-10">
        <tr>
          <th class="px-4 py-2 border-b">Word</th>
          <th class="px-4 py-2 border-b">Translation</th>
          <th class="px-4 py-2 border-b">Occurrences</th>
        </tr>
        </thead>
        <tbody>
        <% grouped_words.each do |word| %>
          <tr class="hover:bg-gray-50">
            <td class="px-4 py-2 border-b whitespace-nowrap qpc-hafs quran-text leading-normal">
              <%= word.text_qpc_hafs %>
            </td>
            <td class="px-4 py-2 border-b"><%= word.translations.uniq.join(', ') %></td>
            <td class="px-4 py-2 border-b"><%= word.count %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
