<%
  actions = []
  previous_ayah = @verse.previous_ayah
  next_ayah = @verse.next_ayah

  if previous_ayah
    actions << link_to('Previous ayah', word_concordance_label_path(previous_ayah.id), class: 'btn btn-dark')
  end
  if next_ayah
    actions << link_to('Next ayah', word_concordance_label_path(next_ayah.id), class: 'btn btn-dark')
  end

  actions << link_to('Back to filter', word_concordance_labels_path, class: 'btn btn-info')
%>

<%= render 'tools/header',
           name: "Quran corpus tool",
           title: "Corpus tagging for #{@verse.chapter.name_simple} ayah #{@verse.verse_number}",
           key: 'corpus',
           actions: actions
%>

<div class="page-wrapper tw-container tw-max-w-7xl tw-mx-auto tw-px-4">
  <div class="page-section">
    <div class="tw-px-4 tw-py-3 tw-rounded tw-mb-4 tw-bg-gray-800 tw-border tw-border-gray-900 tw-text-white" role="alert">
      <div class="qpc-hafs" id="ayah_text" style="font-size: 30px; margin-top: 10px"><%= @verse.text_qpc_hafs %> </div>
    </div>

    <h2>Words list</h2>
    <table class="tw-w-full hover:tw-bg-gray-50">
      <thead class="tw-sticky tw-top-0 tw-z-10 tw-bg-white tw-border-b-2 tw-border-black">
      <tr>
        <td>ID</td>
        <td style="direction: rtl">Text</td>
        <td style="direction: rtl">Location</td>
        <td style="direction: rtl">Segments</td>
        <td>Actions</td>
      </tr>
      </thead>

      <tbody>
      <% @verse.morphology_words.includes(:word_segments, :word).order('words.position, morphology_word_segments.position').each do |word| %>
        <tr class="hover:tw-bg-gray-200 tw-border-b">
          <td class="tw-py-2 tw-pl-2">
            <%= link_to(word.id, [:cms, word], target: '_blank') %>
          </td>

          <td class="tw-py-2 qpc-hafs">
            <%= word.text %>
          </td>

          <td class="tw-py-2">
            <%= word.location %>
          </td>

          <td class="tw-py-2" style="direction: rtl;">
            <% word.word_segments.each do |segment| %>
             <span>
              <%= link_to(segment.text_uthmani, segment_detail_word_concordance_label_path(@verse.id, word: word.location, segment: segment.position), class: "me_quran btn btn-primary btn-sm") %>
             </span>
            <% end %>
          </td>

          <td class="tw-py-2">
            <%= link_to('Show', word_detail_word_concordance_label_path(@verse.id, word: word.location), class: 'btn btn-success') %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="tw-flex tw-justify-end tw-gap-2 tw-mt-3">
    <%= link_to('Previous ayah', word_concordance_label_path(@verse.id - 1), class: 'btn btn-dark') if previous_ayah %>
    <%= link_to('Next ayah', word_concordance_label_path(@verse.id + 1), class: 'btn btn-dark') if next_ayah %>
    <%= link_to('Back to filter', word_concordance_labels_path, class: 'btn btn-info') %>
  </div>
</div>


