<%
  actions = []
  actions << link_to('Previous Word', word_detail_word_concordance_label_path(@verse.id, word: "#{@verse.verse_key}:#{@word.position - 1}"), class: 'btn btn-dark')
  actions << link_to('Next Word', word_detail_word_concordance_label_path(@verse.id, word: "#{@verse.verse_key}:#{@word.position + 1}"), class: 'btn btn-dark')
  actions << link_to('Back to ayah', word_concordance_label_path(@verse.id), class: 'btn btn-info')
%>

<%= render 'tools/header',
           name: "Quran corpus tool",
           title: "Word #{@word.location}",
           key: 'corpus',
           actions: actions
%>

<div class="page-wrapper container-lg">
  <div class="page-section">
    <div class="d-flex justify-content-between">
      <div>
        <b style="margin-right: 20px">Text: </b>
        <span class="qpc-hafs" id="ayah_text"><%= @word.text %> </span>
      </div>

      <div>
        <b style="margin-right: 20px">Root: </b>
        <span class="qpc-hafs" id="ayah_text">
            <%= @word.word.root&.value %>
          (<%= @word.words_count_for_root %>)
          </span>
      </div>

      <div>
        <b style="margin-right: 20px">Lemma: </b>
        <span class="qpc-hafs" id="ayah_text">
            <%= @word.word.lemma&.text_clean %>
          (<%= @word.words_count_for_lemma %>)
          </span>
      </div>

      <div>
        <b style="margin-right: 20px">Stem: </b>
        <span class="qpc-hafs" id="ayah_text">
            <%= @word.word.stem&.text_clean %>
          (<%= @word.words_count_for_stem %>)
          </span>
      </div>
    </div>

    <div>
      <p>
        <%= safe_html @word.description %>
      </p>
    </div>

    <div>
      <b style="margin-right: 20px">Case: </b>
      <span class="qpc-hafs" id="ayah_text"><%= @word.case %> </span>
    </div>

    <div>
      <b style="margin-right: 20px">Case Reason: </b>
      <span class="qpc-hafs" id="ayah_text"><%= @word.case_reason %> </span>
    </div>

    <div>
      <b style="margin-right: 20px">Grammar pattern: </b>
      <span class="qpc-hafs" id="ayah_text"><%= @word.grammar_pattern&.arabic %> </span>
    </div>

    <div>
      <b style="margin-right: 20px">Base word pattern: </b>
      <span class="qpc-hafs" id="ayah_text"><%= @word.grammar_base_pattern&.arabic %> </span>
    </div>

    <div>
      <b style="margin-right: 20px">Grammar concepts: </b>
      <span class="qpc-hafs" id="ayah_text"><%= @word.grammar_concepts.map(&:arabic).join("<br>").html_safe %> </span>
    </div>
  </div>

  <div class="page-section mt-4">
    <h2>
      Segments
    </h2>

    <table class="table table-hover table-bordered">
      <thead class="tw-sticky tw-top-0 tw-z-10 bg-white border-bottom">
      <tr>
        <td>Position</td>
        <td>Text</td>
        <td>POS</td>
        <td>Tags</td>
        <td>Root</td>
        <td>Lemma</td>
        <td>Actions</td>
      </tr>
      </thead>

      <tbody>
      <% @word.word_segments.each do |segment| %>
        <tr>
          <td><%= link_to segment.position, [:cms, segment], target: '_blank' %></td>

          <td class="quran me_quran">
            <%= segment.text_uthmani %>
          </td>

          <td>
            <%= "#{segment.part_of_speech_key} - #{segment.part_of_speech_name}" %>
          </td>

          <td>
            <%= segment.pos_tags %>
          </td>

          <td class="quran me_quran">
            <%= segment.root_name %>
          </td>

          <td class="quran me_quran">
            <%= segment.lemma_name %>
          </td>

          <td>
            <%#= link_to 'Edit', segment_detail_word_concordance_label_path(@verse.id, word: @word.location, segment: segment.position), class: "me_quran btn btn-info btn-sm" %>
            <%= link_to 'Show', segment_detail_word_concordance_label_path(@verse.id, word: @word.location, segment: segment.position), class: "me_quran btn btn-primary btn-sm" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="page-section mt-4">
    <h2>
      Verb Forms
    </h2>

    <table class="table table-hover table-bordered">
      <thead class="tw-sticky tw-top-0 tw-z-10 bg-white border-bottom">
      <tr>
        <td>Name</td>
        <td>Value</td>
        <td>Action</td>
      </tr>
      </thead>

      <tbody>
      <% @word.verb_forms.each do |form| %>
        <tr>
          <td><%= form.name %></td>

          <td class="quran me_quran">
            <%= form.value %>
          </td>

          <td>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>