<%= render 'layouts/grid' do %>
  <div class="tw-grid tw-subgrid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-16 device-container">
    <%= render 'devise/shared/spline_animation' unless active == 'edit' %>
    <div class="w-full">
      <div>
        <% unless active == 'edit' %>
          <ul class="tw-flex tw-border-b" role="tablist">
            <li class="tw-mr-1">
              <%= link_to "Login", new_user_session_path, class: "tw-inline-block tw-py-2 tw-px-4 #{active == 'login' ? 'tw-border-b-2 tw-border-black tw-font-bold' : 'tw-text-gray-500'}" %>
            </li>
            <li class="tw-mr-1">
              <%= link_to "Create Account", new_user_registration_path, class: "tw-inline-block tw-py-2 tw-px-4 #{active == 'signup' ? 'tw-border-b-2 tw-border-black tw-font-bold' : 'tw-text-gray-500'}" %>
            </li>
          </ul>
        <% end %>
        <div ata-turbo="false">
          <div class="tw-tab-pane" id="tab-<%= active %>" role="tabpanel" aria-labelledby="tab-<%= active %>">
            <div class="tw-mt-8">
              <%= yield %>
            </div>
          </div>
        </div>
        <%= render 'devise/shared/links' unless active == 'edit' %>
        <p class="tw-text-sm tw-text-gray-600 tw-mt-8 tw-text-center">
          By signing up, you agree to the <%= link_to "Terms of Service", "#", class: "tw-text-blue-600" %> and <%= link_to "Privacy Policy", "#", class: "tw-text-blue-600" %>.
        </p>
      </div>
    </div>
  </div>
<% end %>
