<footer class="tw-border-t">
  <%= render 'layouts/grid' do %>
    <div class="w-full tw-items-center tw-py-5 md:tw-py-8 md:tw-justify-between tw-flex tw-flex-col md:tw-flex-row tw-gap-3">
      <div class="tw-flex tw-flex-col tw-gap-3 tw-justify-between">
        <div class="tw-flex tw-gap-3 tw-items-center">
          <div class="qul-tag">
            <span>Quranic</span>
            <span>Universal</span>
            <span>Library</span>
          </div>
          <div class="tw-w-px tw-h-[30px] tw-bg-gray-400"></div>
          <div class="qul-tag">
            <svg width="39" height="32" viewBox="0 0 39 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.35" fill-rule="evenodd" clip-rule="evenodd" d="M30.9746 3.58175L29.4942 2.1367C29.3353 1.98164 29.3316 1.72737 29.4859 1.56776L30.8823 0.123023C31.0382 -0.0382324 31.2957 -0.0413724 31.4554 0.116033L32.9358 1.57465C33.0939 1.73045 33.0964 1.98474 32.9414 2.14362L31.545 3.57479C31.3894 3.73426 31.134 3.73737 30.9746 3.58175ZM34.7748 3.58033L33.2944 2.1353C33.1361 1.98079 33.1318 1.72763 33.2847 1.56782L34.6645 0.125922C34.8201 -0.0366866 35.0786 -0.0404899 35.2389 0.117472L36.7193 1.57607C36.8768 1.73131 36.88 1.98449 36.7263 2.14358L35.3466 3.57192C35.1913 3.73273 34.9348 3.73651 34.7748 3.58033ZM31.8262 4.67011H33.5014C36.9549 4.67011 38.7202 6.28344 38.7202 9.41976C38.7202 12.5561 36.9549 14.1694 33.5014 14.1694H31.8262C31.0679 14.1694 30.391 14.0916 29.7963 13.937H13.2443C12.6957 15.5523 11.2991 16.3571 9.07693 16.3571H4.4328C1.49478 16.3571 0 14.9503 0 12.1237V9.5101H2.19063V12.1237C2.19063 13.7112 3.1442 14.4598 4.94824 14.4727H8.56149C10.2569 14.4727 11.2012 13.8115 11.3088 12.4035V4.90236H13.4994V7.0901H13.5097V12.0526H27.1972C26.8049 11.3477 26.6074 10.469 26.6074 9.41976C26.6074 6.28344 28.3728 4.67011 31.8262 4.67011ZM32.2128 12.2979H33.1148C35.2926 12.285 36.4394 11.317 36.4394 9.41976C36.4394 7.50958 35.2926 6.54158 33.1148 6.54158H32.2128C30.0351 6.54158 28.8882 7.50958 28.8882 9.41976C28.8882 11.317 30.0351 12.285 32.2128 12.2979Z" fill="black"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.94679 29.8564H5.25879C1.7789 29.8564 0 28.2301 0 25.1196C0 21.9704 1.7789 20.3571 5.25879 20.3571H6.94679C10.4267 20.3571 12.2056 21.9704 12.2056 25.1196C12.2056 27.1718 11.3746 28.6044 9.8164 29.3272L10.9331 31.16H8.47898L7.63498 29.8306C7.41424 29.8435 7.18052 29.8564 6.94679 29.8564ZM5.64833 27.9849H6.45338L5.28476 26.1522H7.92064L8.66077 27.3654L8.72569 27.4816C9.51775 27.0427 9.90729 26.2296 9.90729 25.1196C9.90729 23.1966 8.75166 22.2286 6.55725 22.2286H5.64833C3.45392 22.2286 2.29828 23.1966 2.29828 25.1196C2.29828 27.004 3.45392 27.972 5.64833 27.9849ZM27.6246 21.125V26.2103C27.6246 28.8819 25.9107 30.392 23.1579 30.392H18.2952C15.4905 30.392 13.8284 28.8819 13.8284 26.2103V21.125H16.1008V26.1586C16.1008 27.7849 16.776 28.4173 18.8795 28.4173H22.5866C24.6252 28.4173 25.3653 27.7849 25.3653 26.1586V21.125H27.6246ZM29.2155 21.1637V30.1984H38.7203V28.3269H31.4229V21.1637H29.2155Z" fill="black"/>
            </svg>
          </div>
        </div>
        <div class="md:tw-hidden">
          <a
          class="tw-text-gray-900 hover:tw-underline github-button"
          href="https://github.com/TarteelAI/quranic-universal-library"
          data-color-scheme="no-preference: light; light: light; dark: dark;"
          data-size="large"
          data-show-count="true"
          target="_blank"
          aria-label="Star QUL on Github"
          title="Star QUL on Github"
        >Star us</a>
        </div>
      </div>
      <div class="tw-flex tw-gap-5 tw-justify-start md:tw-justify-end">
        <%= link_to 'FAQ', faq_path, class: 'tw-text-gray-900 hover:tw-underline tw-w-[max-content]' %>
        <%= link_to 'Credits', credits_path, class: 'tw-text-gray-900 hover:tw-underline tw-w-[max-content]' %>
        <%= link_to 'Terms of use', 'https://www.tarteel.ai/terms', class: 'tw-text-gray-900 hover:tw-underline tw-w-[max-content]', target: '_blank' %>
        <%= link_to 'Privacy Policy', 'https://www.tarteel.ai/privacy', class: 'tw-text-gray-900 hover:tw-underline tw-w-[max-content]', target: '_blank' %>
        <div class="tw-hidden md:tw-block">
          <a
          class="tw-text-gray-900 hover:tw-underline github-button"
          href="https://github.com/TarteelAI/quranic-universal-library"
          data-color-scheme="no-preference: light; light: light; dark: dark;"
          data-size="large"
          data-show-count="true"
          target="_blank"
          aria-label="Star QUL on Github"
          title="Star QUL on Github"
        >Star us</a>
        </div>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
      </div>
    </div>
  <% end %>
</footer>