<div class="container-lg">
  <h4>Developer Resources</h4>
</div>
<div class="tools-container mt-4 gap-3 gap-md-4">
  <% featured_developer_resources.each do |card| %>
    <% if false %>
      <a href="<%= tool.url %>">
        <div class="tool-card tool-card-with-bg <%= tool.type %>">
          <div class="overlay"></div>
          <div>
            <h5><%= tool.title %></h5>
            <p class="info">
              <%= tool.description %>
            </p>
          </div>

          <div class="cta" style="background: <%= tool.cta_bg %>;">
          <span>
            Learn more
          </span>
          </div>

          <div class="icon">
            <%= image_tag "card-icon/#{tool.icon}" %>
          </div>

          <% if tool.info_tip %>
            <div class="info d-flex">
              <svg
                title="<%= tool.info_tip %>"
                data-controller="tooltip"
                width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 0.660217C5.376 0.660217 0 6.03622 0 12.6602C0 19.2842 5.376 24.6602 12 24.6602C18.624 24.6602 24 19.2842 24 12.6602C24 6.03622 18.624 0.660217 12 0.660217ZM13.2 18.6602H10.8V11.4602H13.2V18.6602ZM13.2 9.06022H10.8V6.66022H13.2V9.06022Z" fill="white"/>
              </svg>
            </div>
          <% end %>
        </div>
      </a>
    <% end %>

    <a href="<%= card.url %>">
      <div class="resource-card tool-card tool-card-with-bg  <%= card.type %>">
        <div class="overlay"></div>
        <div class="p-3 gap-4 h-100 d-flex flex-column justify-content-between">
          <div>
            <h5>
              <%= card.title %>
            </h5>

            <p class="info">
              <%= card.description %>
            </p>
          </div>

          <div class="icon">
            <%= image_tag "card-icon/#{card.icon}" %>
          </div>

          <div class="d-flex align-items-center justify-content-between">
            <% if card.count.to_i > 0 %>
              <div class="text-white fw-bold">
                <%= card.stats.to_s.html_safe %>
              </div>

              <div class="featured-count-badge">
                <%= card.count %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </a>
  <% end %>
</div>

<div class="container-lg mt-4">
  <%= link_to 'VIEW ALL DEVELOPER RESOURCES', resources_path, class: 'btn-link text-white' %>
</div>

