<%= render 'layouts/grid' do %>
  <div>
    <h2 class="text-5xl text-white">Developer Resources</h2>
  </div>
<% end %>

<div class="tools-container mt-10 gap-3 md:gap-4">
  <% featured_developer_resources.each do |card| %>
    <% if false %>
      <a href="<%= tool.url %>">
        <div class="tool-card tool-card-with-bg <%= tool.type %>">
          <div class="overlay"></div>
          <div>
            <h5><%= tool.title %></h5>
            <p class="info">
              <%= tool.description %>
            </p>
          </div>

          <div class="cta"">
          <span>
            Learn More
          </span>
          </div>

          <div class="icon">
            <%= image_tag "card-icon/#{tool.icon}" %>
          </div>

          <% if tool.info_tip %>
            <div class="info d-flex">
              <svg
                title="<%= tool.info_tip %>"
                data-controller="tooltip"
                width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 0.660217C5.376 0.660217 0 6.03622 0 12.6602C0 19.2842 5.376 24.6602 12 24.6602C18.624 24.6602 24 19.2842 24 12.6602C24 6.03622 18.624 0.660217 12 0.660217ZM13.2 18.6602H10.8V11.4602H13.2V18.6602ZM13.2 9.06022H10.8V6.66022H13.2V9.06022Z" fill="white"/>
              </svg>
            </div>
          <% end %>
        </div>
      </a>
    <% end %>

    <a href="<%= card.url %>">
      <div class="resource-card tool-card tool-card-with-bg  <%= card.type %>">
        <div class="overlay"></div>
        <div class="p-3 gap-4 h-full flex flex-col justify-between">
          <div class="flex flex-col gap-2">
            <%= render 'card/card-title', title: card.title %>
            <%= render 'card/card-description', description: card.description %>
          </div>

          <div class="icon">
            <%= image_tag "card-icon/#{card.icon}" %>
          </div>

          <div class="flex items-center justify-between">
            <% if card.count.to_i > 0 %>
              <div class="text-white font-bold">
                <%= card.stats.to_s.html_safe %>
              </div>

              <div class="rounded-full bg-[#E0FAEC] text-[#099a4d] font-bold text-sm px-3 py-1 border-2 border-[#56B599]">
                <%= card.count %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </a>
  <% end %>
</div>

<%= render 'layouts/grid' do %>
  <p class="mt-10">
    <%= link_to 'VIEW ALL DEVELOPER RESOURCES', resources_path, class: 'text-white opacity-70 font-semibold' %>
  </p>
<% end %>
