<div class="container-lg px-4">
  <div class="hero row">
    <div class="col-12 hero-message px-3 py-0 pt-md-3 px-md-5 position-relative">
      <%= render 'landing/spline' %>
      <%= render 'landing/hero' %>
    </div>
  </div>

  <%= render 'landing/overview' %>
</div>

<div class="developer-tools ps-4 pe-0">
  <%= render 'landing/tools' %>
</div>

<div class="developer-tools ps-4 pe-0" style="background-color: #404040">
 <%= render 'landing/resources' %>
</div>

<style>
    .tool-card.segments {
        background: url("<%= image_url 'tools-cards/timestamp' %>");
    }

    .tool-card.mushaf-layout, .tool-card.page-layout {
        backdrop-filter: brightness(1.2);
        background: linear-gradient(rgba(245, 222, 179, 0.3), rgba(0, 0, 0, 0.5)), url("<%= image_url 'tools-cards/mushaf-layout' %>");
    }

    .tool-card.mutashabihat {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("<%= image_url 'tools-cards/mutashabihat' %>");
    }

    .tool-card.quranic-text {
        background: url("<%= image_url 'tools-cards/quran' %>");
    }

    .tool-card.translation {
        background: url("<%= image_url 'tools-cards/translation' %>");
    }

    .tool-card.tafsirs {
        backdrop-filter: brightness(0.2) sepia(1) saturate(2) hue-rotate(180deg); /* Add bluish tint */

        background: url("<%= image_url 'tools-cards/tafsirs' %>");
    }
</style>
