<div class="flex justify-center flex-col items-center px-4 lg:px-8">
  <div class="bg-black rounded-3xl text-white w-full max-w-[1600px] relative overflow-hidden z-10">
    <div class="grid grid-cols-1 lg:grid-cols-2 min-h-[500px] md:min-h-[600px]">
      <div class="absolute h-full w-full lg:w-1/2 left-0">
        <div class="lg:hidden absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black/70 to-transparent z-10 h-2/3 md:h-full"></div>
        <%= render 'landing/spline' %>
      </div>
      <div class="hidden lg:block col-span-1"><!-- Empty column for spline background --></div>
      <%= render 'landing/hero' %>
    </div>
  </div>
</div>

<%= render 'landing/overview' %>

<div class="bg-black text-white py-10 md:py-16 mt-4">
  <%= render 'landing/resources' %>
</div>

<div class="text-white py-10 md:py-16 bg-[#404040]">
  <%= render 'landing/tools' %>
</div>
