<div class="container-lg" id="resources">
  <div class="hero">
    <div class="col-12 hero-message px-3 py-0 pt-md-3 px-lg-5 position-relative">
      <%= render 'landing/spline' %>
      <div class="overlay d-md-none"></div>
      <%= render 'landing/hero' %>
    </div>
  </div>

  <%= render 'landing/overview' %>
</div>

<div class="developer-tools py-5 mt-4" style="background-color: #404040">
  <div class="developer-tools-inner-container">
    <%= render 'landing/resources' %>
  </div>
</div>

<div class="developer-tools py-5">
  <%= render 'landing/tools' %>
</div>
