<div class="container-lg" id="resources">
  <div class="hero bg-black flex justify-center items-center rounded-3xl text-white overflow-hidden relative">
    <div class="w-full hero-message p-4 md:p-5 container">
      <%= render 'landing/spline' %>
      <div class="overlay d-md-none"></div>
      <%= render 'landing/hero' %>
    </div>
  </div>

  <%= render 'landing/overview' %>
</div>

<div class="developer-tools py-5 mt-4">
  <div class="developer-tools-inner-container">
    <%= render 'landing/resources' %>
  </div>
</div>

<div class="developer-tools py-5" style="background-color: #404040">
  <%= render 'landing/tools' %>
</div>
