<div class="container-lg px-4" id="resources">
  <div class="hero row">
    <div class="col-12 hero-message px-3 py-0 pt-md-3 px-md-5 position-relative">
      <%= render 'landing/spline' %>
      <%= render 'landing/hero' %>
    </div>
  </div>

  <%= render 'landing/overview' %>
</div>

<div class="developer-tools ps-4 pe-0" style="background-color: #404040">
 <%= render 'landing/resources' %>
</div>

<div class="developer-tools ps-4 pe-0">
  <%= render 'landing/tools' %>
</div>
