<div class="admin-actions">
  <div class="d-flex flex-wrap">
  <%= form_tag admin_action_cms_database_backups_path(name: 'new_db_dump'), method: :put, class: 'action' do %>
    <%= button_tag "Backup database", data: { confirm: 'Are you sure?' } %>
  <% end %>

  <%= form_tag admin_action_cms_database_backups_path(name: 'sync_quranenc'), method: :put, class: 'action' do %>
    <%= button_tag "Fetch changes from QuranEnc", data: { confirm: 'Are you sure?' } %>
  <% end %>

  <%= form_tag admin_action_cms_database_backups_path(name: 'import_lokalise'), method: :put, class: 'action' do %>
    <%= button_tag "Import Data from Lokalise", data: { confirm: 'Are you sure?' } %>
  <% end %>

  <% if Utils::System.sidekiq_stopped? %>
    <%= form_tag admin_action_cms_database_backups_path(name: 'restart_sidekiq'), method: :put, class: 'action' do %>
      <%= button_tag "Start Sidekiq", data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>

  <%= link_to 'View Sidekiq', '/sidekiq', class: 'button action', target: '_blank' %>
  </div>

  <div class="mt-2">
    <%= form_tag admin_action_cms_database_backups_path(name: 'clear_cdn_cache'), method: :put, class: 'action' do %>
      <p>Enter comma-separated URLs of assets</p>
      <%= text_area_tag "urls" %>
      <br>
      <%= button_tag "Clear Cache", data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
