<h2>How to export translations?</h2>
<p>
  Easy, Click on <strong>Content -> Resource Content</strong> from menu

  <strong>
    Or
    <a href="/admin/resource_contents?q%5Bcardinality_type_eq%5D=1_ayah&q%5Bsub_type_eq%5D=translation&order=id_desc&commit=Filter">Click
      here to view all translations</a>
  </strong>

  Search the translation you want to export. Click <strong>View</strong> link.
</p>

<p>
  if translation is already exported, click on <strong>Download</strong> button. Or you can generate the new export from
  sidebar. Simply put the exported db name and click <strong>Export</strong> button.
  App will export the db in the background and send you the dump via email. Or wait for a minute or two, refresh the
  page and download the exported file.
</p>


<% if can? :admin, :run_actions %>
  <div class="admin-actions">
    <h2>Actions</h2>
    <%= form_tag admin_action_admin_database_backups_path(name: 'new_db_dump'), method: :put, class: 'action' do %>
      <%= button_tag "Take new dump", data: { confirm: 'Are you sure?' } %>
    <% end %>

    <%= form_tag admin_action_admin_database_backups_path(name: 'sync_quranenc'), method: :put, class: 'action' do %>
      <%= button_tag "Fetch changes from QuranEnc", data: { confirm: 'Are you sure?' } %>
    <% end %>

    <%= form_tag admin_action_admin_database_backups_path(name: 'import_lokalise'), method: :put, class: 'action' do %>
      <%= button_tag "Import Data from Lokalise", data: { confirm: 'Are you sure?' } %>
    <% end %>

    <% if Utils::System.sidekiq_stopped? %>
      <%= form_tag admin_action_admin_database_backups_path(name: 'restart_sidekiq'), method: :put, class: 'action' do %>
        <%= button_tag "Start Sidekiq", data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>

    <%= link_to 'View Sidekiq', '/sidekiq', class: 'button action', target: 'blank' %>
  </div>
<% end %>