<div class="mt-2">
  <%= semantic_form_for ResourceTag.new, url: cms_resource_tags_path, method: :post do |form| %>
    <ul class="m-0 mb-1">
      <%= form.hidden_field :resource_id, value: resource.id %>
      <%= form.hidden_field :resource_type, value: resource.class.to_s %>

      <%= form.select :tag_id, options_for_select(Tag.pluck(:name, :id)),
                      {include_blank: 'Select a tag'},
                      class: 'select2',
                     data: { controller: 'select2' } %>
    </ul>

    <%= form.submit('Submit', data: { disable_with: 'Please wait...' }) %>
  <% end %>
</div>