<div id=title>
 Confirm refreshing the exported files for <%= resource.name %>
</div>

<div id="body">
  <div class="p-6" id=modal-body>
    <div class="px-4 py-3 rounded mb-4 bg-blue-100 border border-blue-400 text-blue-700">
     This will refresh the exported files for <%= resource.name %>, the old files will be replaced with the new ones.
    </div>

    <%= form_with url: refresh_downloads_cms_downloadable_resource_path(resource), method: :put do |form| %>
      <div class="mb-4">
        <%= form.check_box :notify_users %>
        <%= form.label :notify_users, 'Notify users about the new version via email' %>
        <div class="text-sm text-gray-600 mt-1">
          If check, system will send send an email to all users who have downloaded this resource in the past.
        </div>
      </div>

      <div class="mb-4 mt-3">
        <%= form.submit 'Submit' %>
      </div>
    <% end %>
  </div>
</div>