<%
  params_values = params
%>

<%= semantic_form_for :check, url: "/cms/data_integrity_check", html: { id: 'data-filters'}, method: :get do |form| %>
  <%= hidden_field_tag :check_name, check_name %>

  <% check[:fields].each do |field| %>
    <div>
      <% stimulus_controller = field[:type] == :select ? 'select2' : '' %>
      <% field[:selected] = params_values[field[:name]] if field[:type] == :select %>
      <%= form.input field[:name], as: field[:type], input_html: {
        value: params_values[field[:name]],
        name: field[:name],
        data: { controller: stimulus_controller}
      } , **field.except(:name, :type) %>

      <p class="help-block">
        <%= field[:name].to_s.humanize %>: <%= params_values[field[:name]] %>
      </p>
    </div>
  <% end %>

  <%= form.actions :submit %>
<% end %>