<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

<%= render SplitScreenComponent.new do |split| %>
  <%  split.with_left do %>
    <h2 class="tw-bg-gray-200 tw-p2">
      Updated Text (<%= resource.group_verse_key_from %> - <%= resource.group_verse_key_to %>)
    </h2>

    <div class="tafsir p-2 <%= language_name %>">
      <%= safe_html resource.draft_text %>
    </div>
  <% end %>

  <%  split.with_right do %>
    <h2 class="tw-bg-gray-200 tw-p2 tm-mb-4">
      Current Text (<%= resource.group_verse_key_from %> - <%= resource.group_verse_key_to %>)
    </h2>

    <div class="tafsir p-2 <%= language_name %>">
      <%= safe_html resource.current_text %>
    </div>
  <% end %>
<% end %>