<%
  ayah = options[:ayah]
  ranges = options[:matches]&.compact_blank.presence || []
  matcher = options[:matcher]
  phrase_ayah_id = options[:phrase_ayah_id]
  persisted = phrase_ayah_id
  skipped_words = options[:skipped_words] || []
%>

<div
  id="<%= dom_id ayah %>"
  data-ranges="<%= ranges %>"
  data-ayahid="<%= ayah.id %>"
  data-ayahkey="<%= ayah.verse_key %>"
  class="ayah d-flex quran-text flex-column border p-3 mb-2 border-2 <%= 'border-success' if persisted %>">
  <div class="actions">
    <% if persisted %>
      <%= link_to "/cms/morphology_phrase_verses/#{phrase_ayah_id}", target: '_blank', title: 'See ayah in admin', data: { controller: 'tooltip' } do %>
        <span class="badge bg-success">
          <i class="fas fa-check"></i>
        </span>
      <% end %>
    <% end %>

    <span class="badge bg-success"><%= ayah.verse_key %></span>
    <span class="badge bg-info">
      <%= matcher %>
    </span>

    <span class="badge bg-info">
      <%= ranges %>
    </span>

    <% if @access %>
      <a class="btn btn-sm btn-success" data-action="savePhrase" title="Save phrase" data-controller="tooltip">
        <i class="fas fa-save"></i>
      </a>

      <a class="btn btn-sm btn-info" data-action="resetSelection" title="Reset selection" data-controller="tooltip">
        <i class="fas fa-refresh"></i>
      </a>

      <a class="btn btn-sm btn-danger has-tooltip" data-action="removePhrase" title="Remove phrase" data-controller="tooltip">
        <i class="fas fa-trash"></i>
      </a>

      <a class="btn btn-sm btn-outline-success" data-action="bookmark" title="Bookmark" data-controller="tooltip">
        <i class="fas fa-bookmark"></i>
      </a>
    <% end %>
  </div>

  <div class="words d-flex flex-wrap">
    <% ayah.words.order('position asc').each do |w| %>
      <% if !w.ayah_mark? %>
        <%
          range = ranges.detect do |r|
            w.position >= r[0].to_i && w.position <= r[1].to_i
          end || [-1, -1]

          selected = w.position >= range[0] && w.position <= range[1]
          skipped = skipped_words.include?(w.position)
        %>
        <div class="d-flex flex-column m-3 align-items-center word <%= 'selected' if selected %>"
             data-position="<%= w.position %>"
        >
          <% if @access %>
            <i class="fa-solid fa-xmark p-1 rounded <%= 'active' if skipped %>"
               data-action="remove"
               title="Exclude from phrase"
               data-controller="tooltip"
            ></i>
          <% end %>
          <span class="my-2 quran-text qpc-hafs <%= 'text-success' if selected %> <%= 'text-danger' if skipped %>">
          <%= w.text_qpc_hafs %>
        </span>

          <span class="fs-xs">
          <%= w.position %>
        </span>

          <% if @access %>
            <i data-action="add"
               title="Include in phrase"
               data-controller="tooltip"
               class="fa-solid fa-plus p-1 rounded <%= 'active' if selected %>">
            </i>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
