<%
  verse = mapping[:verse]
  words = verse.words
  ayah_phrases = mapping[:phrase_verses]
  approved_phrases = ayah_phrases.approved.joins(:phrase).select do |p|
    p.phrase.approved && p.phrase.review_status == 'new' && p.phrase.word_position_from && p.phrase.words_count >= 3
  end

  phrase_groups = {}

  words.each do |w|
    selected_phrase = approved_phrases.detect do |p|
      if p.word_position_from && p.word_position_to
        w.position >= p.word_position_from && w.position <= p.word_position_to
      end
    end

    if selected_phrase
      phrase_groups[selected_phrase.phrase] ||= []
      phrase_groups[selected_phrase.phrase].push(w)
    else
      phrase_groups[w.id] = w
    end
  end
%>

<div class="tw-space-y-6">
  <div class="tw-flex tw-flex-col tw-items-end">
    <span class="tw-inline-flex tw-items-center tw-px-2.5 tw-py-0.5 tw-rounded tw-text-xs tw-font-medium tw-bg-green-600 tw-text-white">
      <%= verse.verse_key %>
    </span>
    <div class="quran-text qpc-hafs tw-flex tw-flex-wrap tw-gap-x-1 tw-mt-3 tw-text-2xl tw-leading-relaxed tw-text-right tw-justify-end">
      <% phrase_groups.each do |key, group| %>
        <% if key.is_a?(Morphology::Phrase) %>
          <%
            title = key.phrase_verses.approved.map &:text
            title = title.join("<br/>").html_safe
          %>
          <span title="(<%= key.id %>: <%= key.source_verse.verse_key %>)<%= key.text_qpc_hafs %> <span class='tw-bg-blue-100 tw-text-blue-800 tw-px-1 tw-rounded tw-text-xs'><%= key.occurrence %></span> <%= title %>"
                class="phrase tw-inline-flex tw-mr-1"
                data-controller="tooltip"
                style="color: <%= key.get_color %>">
            <% group.each do |w| %>
              <span><%= w.text_qpc_hafs %></span>
            <% end %>
          </span>
        <% else %>
          <span class="tw-text-gray-900">
            <%= group.text_qpc_hafs %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="tw-border-t tw-border-gray-200 tw-pt-6">
    <h3 class="tw-text-lg tw-font-semibold tw-text-gray-800 tw-mb-4 tw-flex tw-items-center tw-gap-2">
      <span class="tw-inline-flex tw-items-center tw-px-2.5 tw-py-0.5 tw-rounded tw-text-xs tw-font-medium tw-bg-green-600 tw-text-white">Phrases</span>
    </h3>
    <div class="tw-space-y-3">
      <%= render partial: 'phrase_verse', collection: ayah_phrases.sort_by { |s| -s.score }, as: :phrase_verse %>
    </div>
  </div>
</div>