<%= render 'tools/header', name: 'Mutashabihat ul Quran', key: 'mutashabihat' %>

<div id=title>
  New mutashabihat phrase
</div>

<div id="body">
  <div class="modal-body">
    <%= form_with url: new_morphology_phrase_path, method: 'get', id: 'form' do |f| %>
      <div class="form-group">
        <%= f.label :text, 'Enter phrase text' %>
        <%= f.text_field :text, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :ayah_key, 'Or select ayah' %>
        <%= f.select :ayah_key, options_for_select(Verse.order('id asc').pluck(:verse_key, :verse_key)), {include_blank: true}, class: 'form-control', data: {placeholder: 'Select ayah', controller: 'select2', parent: '#form'} %>
        <p class="help-block">
          Ayah has more priority, if selected it'll ignore the phrase
        </p>
      </div>

      <div class="form-group my-3 d-flex justify-content-end">
        <%= f.submit 'Suggest', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>