<%= render 'tools/header', name: 'Mutashabihat ul Quran', key: 'mutashabihat' %>

<div id=title>
  New mutashabihat phrase
</div>

<div id="body">
  <div class="tw-p-6">
    <%= form_with url: new_morphology_phrase_path, method: 'get', id: 'form' do |f| %>
      <div class="tw-tw-mb-4">
        <%= f.label :text, 'Enter phrase text' %>
        <%= f.text_field :text, class: 'form-control' %>
      </div>

      <div class="tw-tw-mb-4">
        <%= f.label :ayah_key, 'Or select ayah' %>
        <%= f.select :ayah_key, options_for_select(Verse.order('id asc').pluck(:verse_key, :verse_key)), {include_blank: true}, class: 'form-control', data: {placeholder: 'Select ayah', controller: 'select2', parent: '#form'} %>
        <p class="help-block">
          Ayah has more priority, if selected it'll ignore the phrase
        </p>
      </div>

      <div class="tw-tw-mb-4 tw-my-3 tw-flex tw-justify-end">
        <%= f.submit 'Suggest', class: 'tw-px-4 tw-py-2 tw-text-sm tw-font-medium tw-bg-green-600 hover:tw-bg-green-700 tw-text-white tw-rounded tw-transition-colors' %>
      </div>
    <% end %>
  </div>
</div>