<div class="page-section mt-4 filters">
  <%= form_tag morphology_phrases_path, method: :get do %>
    <%= hidden_field_tag :proofread, true %>
    <div data-controller="chapter-verses-filter" class="d-flex align-items-end tw-flex-wrap">
      <%= render 'shared/filters' %>

      <div class="form-group d-flex align-items-center align-content-center align-self-start">
        <%= submit_tag 'Filter', class: 'btn btn-primary me-3', data: { disable_with: 'Please wait..' } %>
        <%= link_to 'Clear', morphology_phrases_path(proofread: true) if has_filters?(:filter_chapter, :filter_verse) %>
      </div>
    </div>
  <% end %>
</div>

<div class="page-section mt-4">
  <h2>Ayah phrases list</h2>
  <table class="table table-hover mt-4">
    <thead class="tw-sticky tw-top-0 tw-z-10 bg-white border-bottom">
    <tr>
      <th><%= sort_order_link 'Ayah Key', :verse_index, proofread: true %></th>
      <th>Phrases</th>
      <th>Actions</th>
    </tr>

    </thead>
    <tbody>
    <% @verses.each do |verse| %>
      <tr>
        <td scope="row"><%= verse.verse_key %></td>

        <td>
          <%= verse.verse_phrases.size %>
        </td>

        <td>
          <div class="d-grid gap-1">
            <%= link_to 'Preview', morphology_phrase_path(verse.id, proofread: true, verse_id: verse.id), class: 'btn btn-success' %>
          </div>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="4">
        <%= safe_html pagy_bootstrap_nav(@pagy) %>
      </td>

      <td colspan="2">
        <%= safe_html pagy_info(@pagy) %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
