<div class="page-section mt-4 filters">
  <%= form_tag morphology_phrases_path, method: :get do %>
    <%= hidden_field_tag :proofread, true %>
    <div data-controller="chapter-verses-filter" class="flex items-start flex-wrap">
      <%= render 'shared/filters' %>

      <div class="mb-4 flex items-center">
        <%= submit_tag 'Filter', class: 'btn btn-success mr-3 h-[38px]', data: { disable_with: 'Please wait..' } %>
        <%= link_to 'Clear', morphology_phrases_path(proofread: true) if has_filters?(:filter_chapter, :filter_verse) %>
      </div>
    </div>
  <% end %>
</div>

<div class="page-section mt-4">
  <h2>Ayah phrases list</h2>
  <table class="w-full hover:bg-gray-50 mt-4">
    <thead class="sticky top-0 z-10 bg-white border-b-2 border-black">
    <tr>
      <th><%= sort_order_link 'Ayah Key', :verse_index, proofread: true %></th>
      <th>Phrases</th>
      <th>Actions</th>
    </tr>

    </thead>
    <tbody>
    <% @verses.each do |verse| %>
      <tr class="hover:bg-gray-200 border-b">
        <td scope="row" class="py-2 pl-2"><%= verse.verse_key %></td>

        <td class="py-2">
          <%= verse.verse_phrases.size %>
        </td>

        <td class="py-2">
          <div class="d-grid gap-1">
            <%= link_to 'Preview', morphology_phrase_path(verse.id, proofread: true, verse_id: verse.id), class: 'btn btn-success' %>
          </div>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3">
        <%= pagination_section @pagy %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
