<%
  data = generate_complete_the_ayah_quiz
  verse = data[:verse]
  words = data[:words]
  words_to_show = data[:words_to_show]
  remaining_words = data[:remaining_words]
%>

<h2 class="heading my-3">
  Click or drag and drop the missing words to compete the ayah.
</h2>

<div class="quiz" data-controller="activities--fill-in-blank" data-ayah="<%= verse.verse_key %>">
  <div class="qpc-hafs tw-px-4 tw-py-3 tw-rounded tw-mb-4 tw-bg-blue-100 tw-border tw-border-blue-400 tw-text-blue-700 tw-mb-3 tw-flex flex-wrap">
    <% words.each do |word| %>
      <% if words_to_show.include?(word) %>
        <span class="word-box qpc-hafs">
          <%= word.text_qpc_hafs %>
        </span>
      <% else %>
        <span class="blank-box"
              data-word-id="<%= word.id %>">
        </span>
      <% end %>
    <% end %>
  </div>

  <div class="options tw-gap-2 tw-mb-3" id="options">
    <% remaining_words.each do |word| %>
      <div class="draggable-word qpc-hafs"
           data-word-id="<%= word.id %>">
        <%= word.text_qpc_hafs %>
      </div>
    <% end %>
  </div>

  <button type="button" data-action="click->activities--fill-in-blank#resetActivity" class="reset-btn tw-px-4 tw-py-2 tw-rounded tw-font-medium tw-transition-colors tw-bg-blue-500 hover:tw-bg-blue-600 tw-text-white">
    Reset
  </button>
</div>