<%
  tarteel_link = 'https://tarteel.go.link/?adj_t=1foxrfdy&adj_engagement_type=fallback_click&adj_fallback=https%3A%2F%2Fwww.tarteel.ai&adj_redirect_macos=https%3A%2F%2Fwww.tarteel.ai'
  activity = (params[:activity] || params[:id]).presence.to_s.downcase
%>
<div class="tw-pt-32 tw-px-4 tw-pb-20 quiz-container overflow-auto">
  <div class="box">
    <h1 class="h3"><%= activity.tr("_"," ").capitalize %></h1>

    <% if params[:ayah].present? && @filtered_ayah.nil? %>
      <div class="alert alert-warning">
        <strong>Invalid Ayah:</strong> The ayah "<%= params[:ayah] %>" was not found. Please use the format "chapter:verse" (e.g., "1:1"). Showing random content instead.
      </div>
    <% end %>

    <% if valid_activity?(activity) %>
      <%= set_page_title "#{activity.humanize} - Quranic quiz" %>
      <%= render activity %>
      <%= link_to 'Try another', learning_activity_path(activity), class: 'btn btn-outline-dark me-3 my-3' %>
      <div class="result my-5" id="quiz-result">
        <div class="text-danger d-none" id="incorrect-message">
          Incorrect answer. Try again! You can also use Tarteel app to test your memorization. Download
          <a class='text-danger' href="<%= tarteel_link %>" target="_blank">
            Tatreel app here
          </a> to test and improve your memorization.
        </div>
        <div class="d-none text-success" id="correct-message">
          Correct! MashaAllah, you got it right. Download
          <a href="<%= tarteel_link %>" target="_blank">Tarteel app</a> to
          memorize more.
        </div>
      </div>
      <div class="more-activities d-flex justify-content-center gap-2 mt-4 d-none">
        <% ayah_key = @filtered_ayah&.verse_key || '1:1' %>
        <%= link_to 'Learn more about this ayah', '#_', class: 'btn btn-outline-success me-3 ayah-info', data: { controller: 'ajax-modal', url: "/ayah/#{ayah_key}", css_class: 'modal-lg', use_turbo: true} %>
        <% next_url = @filtered_ayah ? learning_activity_path(activity, ayah: @filtered_ayah.verse_key) : learning_activity_path(activity) %>
        <%= link_to 'Next Challenge', next_url, class: 'btn btn-outline-dark me-3' %>
        <%= link_to 'More learning activities', learning_activities_path, class: 'btn btn-outline-dark' %>
      </div>
    <% else %>
      <div class="alert alert-warning">
        This activity does not exist, try one from list below instead?
      </div>
      <ol class="list-group text-start">
        <% learning_activities.each do |item| %>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">
                <%= item.title %>
              </div>
              <%= item.description %>
            </div>
            <span>
              <%= link_to 'Try', item.url, class: 'btn btn-success' %>
            </span>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>