<%
  cols_bg = "tw-border tw-border-gray-300 tw-bg-gray-50"
  v1_cols_bg = "tw-border tw-border-gray-300 tw-bg-gray-200"
  v2_cols_bg = "tw-border tw-border-gray-300 tw-bg-gray-50"
  words = @presenter.words
  scripts = @presenter.scripts
%>

<table class="tw-w-full">
  <thead class="tw-bg-white tw-shadow-md tw-sticky tw-top-0">
  <tr class="tw-hover:tw-bg-gray-100 tw-border tw-border-gray-300">
    <th class="tw-px-3 tw-py-2">ID</th>
    <% @presenter.comparision_scripts.each do |script_name| %>
      <th class="tw-px-3 tw-py-2 <%= cols_bg %>">
        <%= @presenter.script_display_name(script_name) %>
      </th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% if words.present? %>
    <% words.each do |word| %>
      <%
        has_char_in_all = scripts.all? { |script| word.send(script).to_s.include?(@presenter.char) }

        if !has_char_in_all
          td_class = 'tw-bg-red-100 tw-px-3 tw-py-2'
        else
          td_class = 'toggle tw-px-3 tw-py-2'
        end
      %>

      <tr class="quran-text <%= td_class %>">
        <td class="<%= cols_bg %> td_class">
          <div data-controller="copy-to-clipboard" data-text="'<%= word.location %>'">
            <%= word.location %>
          </div>

          <%= link_to('View ', [:cms, word], target: '_blank') %>
        </td>

        <% @presenter.comparision_scripts.each do |script_name| %>
          <%
            script_value = word.send(script_name)
            script_class = get_quran_script_font_family(script_name, word) || 'qpc-hafs'
            has_char = script_value.to_s.include?(@presenter.char)
            cell_class = has_char ? '' : 'tw-bg-yellow-200'
          %>

          <td class="<%= script_class %> char <%= cols_bg %> td_class <%= cell_class %>" data-controller="copy-to-clipboard">
            <%= script_value %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="<%= scripts.size + 1 %>" class="tw-text-center tw-py-8">
        No words found containing this character.
      </td>
    </tr>
  <% end %>

  <% if @presenter.words.present? %>
    <tr class="tw-w-full">
      <td colspan="<%= scripts.size + 1 %>">
        <div class="tw-flex tw-items-center">
          <div class="tw-me-4">
            <%= pagy_bootstrap_nav(@presenter.pagination).html_safe %>
          </div>
          <div>
            <%= pagy_info(@presenter.pagination).html_safe %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
