<%
  cols_bg = "border border-gray-300 bg-gray-50"
  v1_cols_bg = "border border-gray-300 bg-gray-200"
  v2_cols_bg = "border border-gray-300 bg-gray-50"
  words = @presenter.words
  scripts = @presenter.scripts
%>

<table class="w-full">
  <thead class="bg-white shadow-md sticky top-0">
  <tr class="hover:bg-gray-100 border border-gray-300">
    <th class="px-3 py-2">ID</th>
    <% @presenter.comparision_scripts.each do |script_name| %>
      <th class="px-3 py-2 <%= cols_bg %>">
        <%= @presenter.script_display_name(script_name) %>
      </th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% if words.present? %>
    <% words.each do |word| %>
      <%
        has_char_in_all = scripts.all? { |script| word.send(script).to_s.include?(@presenter.char) }

        if !has_char_in_all
          td_class = 'bg-red-100 px-3 py-2'
        else
          td_class = 'toggle px-3 py-2'
        end
      %>

      <tr class="quran-text <%= td_class %>">
        <td class="<%= cols_bg %> td_class">
          <div data-controller="copy-to-clipboard" data-text="'<%= word.location %>'">
            <%= word.location %>
          </div>

          <%= link_to('View ', [:cms, word], target: '_blank') %>
        </td>

        <% @presenter.comparision_scripts.each do |script_name| %>
          <%
            script_value = word.send(script_name)
            script_class = get_quran_script_font_family(script_name, word) || 'qpc-hafs'
            has_char = script_value.to_s.include?(@presenter.char)
            cell_class = has_char ? '' : 'bg-yellow-200'
          %>

          <td class="<%= script_class %> char <%= cols_bg %> td_class <%= cell_class %>" data-controller="copy-to-clipboard">
            <%= script_value %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="<%= scripts.size + 1 %>" class="text-center py-8">
        No words found containing this character.
      </td>
    </tr>
  <% end %>

  <% if @presenter.words.present? %>
    <tr class="w-full">
      <td colspan="<%= scripts.size + 1 %>">
        <%= pagination_section @presenter.pagination %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
