<%= render 'tools/header',
           name:    'Ayah Reader',
           title:   'Custom list of Ayahs with Translation',
           key:     'reader',
           actions: [] %>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mb-4 shadow-sm ">
        <div class="card-body lg">
          <%= form_with url: ayah_reader_path, method: :get, local: true, class: 'row g-3' do |f| %>
            <div class="col-md-6">
              <h5 class="card-title">Enter Ayahs IDs</h5>
              <%= f.text_field :ayahs,
                               value: params[:ayahs],
                               class: 'form-control',
                               placeholder: 'Ayahs (e.g. 1:2 or 2:3,8:3)' %>
            </div>
            <div class="col-md-6">
              <h5 class="card-title">Resource ID</h5>
              <%= f.number_field :resource,
                                 value: params[:resource],
                                 class: 'form-control',
                                 placeholder: 'Resource ID (optional)' %>
            </div>
            <div class="col-12">
              <%= f.submit 'Load Ayahs', class: 'btn btn-primary w-100' %>
            </div>
          <% end %>
        </div>
      </div>

      <% if flash.now[:alert] %>
        <div class="alert alert-danger mb-4"><%= flash.now[:alert] %></div>
      <% end %>

      <% if @ayah_pairs.present? %>
        <% @entries.each do |entry| %>
          <% verse = entry[:verse] %>
          <% translation = entry[:translation] %>

          <div class="card mb-5 py-4 shadow-sm">
            <div class="card-body">
              <% if verse %>
                <p class="display-5 mb-4 qpc-hafs quran-text tw-leading-normal">
                  <%= verse.text_qpc_hafs %>
                </p>
              <% else %>
                <p class="text-danger text-center mb-4">Ayah not found</p>
              <% end %>

              <% if translation %>
                <div class="translation-text mt-3">
                  <%= simple_format(translation.text) %>
                </div>
              <% elsif params[:resource].present? %>
                <div class="alert alert-warning mt-3 text-center">
                  Translation not found for Resource ID <%= params[:resource] %>.
                </div>
              <% end %>
            </div>
          </div>

    <% end %>
      <% end %>

    </div>
  </div>
</div>
