<table class="w-full">
  <thead class="sticky top-0 z-10">
  <tr class="border-b bg-slate-100 text-sm">
    <th class="py-3 px-4 font-normal min-w-48">
      <%= sort_order_link 'Tool', :name, {}, data: { turbo_action: 'advance' } %>
    </th>
    <th class="py-3 px-4 font-normal hidden sm:table-cell">Description</th>
    <th class="py-3 px-4 font-normal w-48 hidden md:table-cell">Tags</th>
  </tr>
  </thead>
  <tbody>

  <% @tools.each do |card| %>
    <% search_term = [
      card.title, card.description.to_s,
      card.tags.join(' ').to_s
    ] %>
    <tr class="border-b hover:bg-gray-50"
        data-search="<%= search_term.join(' ').downcase %>">

      <td class="py-3 px-4 text-sm text-pretty align-top">
        <%= link_to card.url, class: 'hover:text-[#46ac7a] transition-colors block space-y-1.5', data: { turbo_frame: '_top' } do %>
          <span class="font-semibold leading-normal block">
            <%= card.title %>
          </span>
          <span class="text-gray-500 text-xs mt-1 sm:hidden leading-normal block">
            <%= card.description %>
          </span>

          <% if card.tags.present? %>
            <div class="flex flex-wrap gap-1 mt-2 md:hidden">
              <% card.tags.each do |tag| %>
                <%= render 'card/card-tag', tag: tag %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </td>

      <td class="py-3 px-4 text-sm hidden sm:table-cell text-pretty align-top">
        <%= link_to card.url, class: 'hover:text-[#46ac7a] transition-colors block', data: { turbo_frame: '_top' } do %>
          <%= card.description %>
        <% end %>
      </td>

      <td class="py-3 px-4 hidden md:table-cell align-top mt-3">
        <% if card.tags.present? %>
          <div class="flex flex-wrap gap-2">
            <% card.tags.each do |tag| %>
              <%= render 'card/card-tag', tag: tag %>
            <% end %>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
