<table class="tw-w-full">
  <thead class="tw-sticky tw-top-0 tw-z-10">
  <tr class="tw-border-b tw-bg-slate-100 tw-text-sm">
    <th class="tw-py-3 tw-px-4 tw-font-normal tw-min-w-48">
      <%= sort_order_link 'Tool', :name, {}, data: { turbo_action: 'advance' } %>
    </th>
    <th class="tw-py-3 tw-px-4 tw-font-normal tw-hidden sm:tw-table-cell">Description</th>
    <th class="tw-py-3 tw-px-4 tw-font-normal tw-hidden md:tw-table-cell">Additional Info</th>
    <th class="tw-py-3 tw-px-4 tw-font-normal tw-w-48 tw-hidden md:tw-table-cell">Tags</th>
  </tr>
  </thead>
  <tbody>

  <% @tools.each do |card| %>
    <% search_term = [
      card.title, card.description.to_s,
      card.tags.join(' ').to_s
    ] %>
    <tr class="tw-border-b hover:tw-bg-gray-50"
        data-search="<%= search_term.join(' ').downcase %>">

      <td class="tw-py-3 tw-px-4 tw-text-sm tw-text-pretty tw-align-top">
        <%= link_to card.url, class: 'hover:tw-text-black tw-block tw-space-y-1.5', data: { turbo_frame: '_top' } do %>
          <span class="tw-font-semibold tw-leading-normal tw-block">
            <%= card.title %>
          </span>
          <span class="tw-text-gray-500 tw-text-xs tw-mt-1 sm:tw-hidden tw-leading-normal tw-block">
            <%= card.description %>
          </span>

          <% if card.tags.present? %>
            <div class="tw-flex tw-flex-wrap tw-gap-1 tw-mt-2 md:tw-hidden">
              <% card.tags.each do |tag| %>
                <%= render 'card/card-tag', tag: tag %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </td>

      <td class="tw-py-3 tw-px-4 tw-text-sm tw-hidden sm:tw-table-cell tw-text-pretty tw-align-top">
        <%= link_to card.url, class: 'hover:tw-text-black tw-block', data: { turbo_frame: '_top' } do %>
          <%= card.description %>
        <% end %>
      </td>

      <td class="tw-py-3 tw-px-4 tw-text-sm tw-hidden md:tw-table-cell tw-text-gray-500 tw-align-top">
        <%= link_to card.url, class: 'hover:tw-text-black tw-block', data: { turbo_frame: '_top' } do %>
          <%= card.info_tip if card.respond_to?(:info_tip) %>
        <% end %>
      </td>

      <td class="tw-py-3 tw-px-4 tw-hidden md:tw-table-cell tw-align-top tw-mt-3">
        <% if card.tags.present? %>
          <div class="tw-flex tw-flex-wrap tw-gap-2">
            <% card.tags.each do |tag| %>
              <%= render 'card/card-tag', tag: tag %>
            <% end %>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
