<h2>Translation for <%= verse.verse_key %></h2>

<div class="qpc-hafs tw-my-3">
  <%= verse.text_qpc_hafs %>
</div>

<div id="ayah_text" style="margin-top: 10px"
     class="<%= @translation.language_name %>"
     data-controller="translation-footnote"
>
  <%= safe_html @translation.text %>
</div>

<% if @translation.foot_notes.present? %>
  <div class="tw-mt-3 mt-md-5">
    <h2 class="tw-font-bold">Foot notes</h2>
    <% @translation.foot_notes.each do |foot_note| %>
      <div>
        <p><%= foot_note.id %></p>
        <div class="<%= @translation.language_name %>">
          <%= safe_html foot_note.text %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>