<div class="page-wrapper tw-container tw-max-w-7xl tw-mx-auto tw-px-4">
  <%= render SplitScreenComponent.new do |component| %>
    <%= component.with_left do %>
      <%= render 'shared/pdf_or_archive_embed' %>
    <% end %>
    <%= component.with_right do %>
      <%= render 'page_view', verse: verse %>
    <% end %>
  <% end %>
</div>


