<%= render 'tools/header',
           name: "Ayah translation",
           title: "Update #{@resource.name} translation for #{@translation.verse.verse_key}",
           key: 'ayah_translation'
%>

<% lang = @resource.language_name.to_s.downcase %>

<%= render 'shared/access_message' %>

<div class="page-wrapper container-lg">
  <div class="page-section">
    <%= form_with model: @draft_translation, url: translation_proofreading_path(@translation.verse.id, resource_id: @resource.id), method: :put, html: { role: 'form', class: 'form', autocomplete: 'off', data: { controller: 'remote-form' } } do |form| %>
      <%= hidden_field_tag :resource_id, @resource.id %>
      <%= render 'shared/form_errors', object: @translation %>

      <div class="form-floating mb-3">
        <%= form.text_area :draft_text, class: "form-control #{lang}", autofocus: true, required: true %>
        <%= form.label :draft_text, 'Translation', required: true %>

        <div class="invalid-feedback">
          Translation can't be blank.
        </div>
      </div>

      <h3>Footnotes</h3>
      <%= form.fields_for :foot_notes, @draft_translation.foot_notes do |f_form| %>
        <div class="form-floating mb-3">
          <%= f_form.hidden_field :id %>
          <%= f_form.hidden_field :foot_note_id %>
          <%= f_form.text_area :draft_text, class: "form-control #{lang}", required: true %>
          <%= f_form.label :draft_text, "Footnote (#{f_form.object.foot_note_id})", required: true %>

          <div class="invalid-feedback">
            Footnote text can't be blank.
          </div>
        </div>
      <% end %>

      <div class="text-center mt-5">
        <%= link_to 'Cancel', translation_proofreading_path(@translation.verse.id, resource_id: @resource.id), class: 'btn btn-default' %>
        <%= form.submit 'Purpose changes', class: 'btn btn-success', data: { disable_with: 'Please wait...' } %>
      </div>
    <% end %>
  </div>
</div>
