<%= render 'tools/header',
           name: "Ayah translation",
           title: @resource.name,
           key: 'ayah_translation'
%>

<div class="page-wrapper container-lg">
  <div class="page-section filters">
    <%= form_tag translation_proofreadings_path, method: :get, class: 'd-flex' do %>
      <div class="form-group me-2">
        <%= select_tag :resource_id, options_from_collection_for_select(@ayah_translations, :id, :humanize, selected: @resource.id), include_blank: false, class: 'form-select', data: { placeholder: 'Select translation', controller: 'select2' } %>
        <p class="form-text">Filter by Surah</p>
      </div>

      <div class="form-group me-2">
        <%= select_tag :filter_chapter, options_for_select(1..114, params[:filter_chapter]), include_blank: true, class: 'form-select', data: { placeholder: 'Filter by surah', controller: 'select2' } %>
        <p class="form-text">Filter by Surah</p>
      </div>

      <div class="form-group me-2">
        <%= select_tag :filter_verse, options_for_select(1..114, params[:filter_verse]), include_blank: true, class: 'form-select', data: { placeholder: 'Filter by surah', controller: 'select2' } %>
        <p class="form-text">Filter by Ayah</p>
      </div>

      <div class="form-group me-2">
        <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search' %>
        <p class="form-text">Search translation content</p>
      </div>

      <div class="form-group">
        <%= submit_tag 'Filter', class: 'btn btn-primary', data: { disable_with: 'Please wait..' } %>
      </div>
    <% end %>
  </div>

  <div class="page-section mt-4">
    <h2>Translations</h2>
    <table class="table table-hover">
      <thead class="position-sticky bg-white border-bottom top-0">
      <tr>
        <th><%= sort_order_link 'Ayah key', :verse_key, resource_id: @resource.id %></th>
        <th>Footnotes</th>
        <th>Resource</th>
        <th>Text</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @translations.each do |translation| %>
        <tr>
          <td scope="row"><%= translation.verse.verse_key %></td>
          <td>
            <%= translation.foot_notes.size %>
          </td>
          <td>
            <%= translation.resource_name %>
          </td>
          <td dir="<%= @resource.language&.direction %>">
            <%= translation.text.html_safe %>
          </td>
          <td>
            <div class="d-flex gap-1">
              <%= link_to 'Edit', edit_translation_proofreading_path(translation.verse_id, resource_id: @resource.id), class: 'btn btn-info' %>
              <%= link_to 'Show', translation_proofreading_path(translation.verse_id, resource_id: @resource.id), class: 'btn btn-success' %>
            </div>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="4">
          <%= pagy_bootstrap_nav(@pagy).html_safe %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
