<%
  actions = []
  verse = @translation.verse
  previous_ayah = verse.previous_ayah
  next_ayah = verse.next_ayah

  if @access
    actions << link_to('Edit', edit_translation_proofreading_path(verse.id, resource_id: @resource.id), class: 'btn btn-success')
  end

  if previous_ayah
    actions << link_to('Previous ayah', translation_proofreading_path(previous_ayah.id, resource_id: @resource.id), class: 'btn btn-dark')
  end
  if next_ayah
    actions << link_to('Next ayah', translation_proofreading_path(next_ayah.id, resource_id: @resource.id), class: 'btn btn-dark')
  end

  actions << link_to('Back to filter', translation_proofreadings_path(resource_id: @resource.id), class: 'btn btn-info')
%>

<%= render 'tools/header',
           name: "Ayah translation",
           title: "#{@resource.name} - #{@translation.verse.verse_key}",
           key: 'ayah_translation',
           actions: actions
%>

<div class="page-wrapper container-lg">
  <div class="page-section">
    <h2>Translation for <%= verse.verse_key %></h2>

    <div id="ayah_text" style="font-size: 30px; margin-top: 10px"
         class="<%= @translation.language_name %>"
         data-controller="translation-footnote"
    >
      <%= @translation.text.to_s.html_safe %>
    </div>

    <% if @translation.foot_notes.present? %>
      <div class="mt-3">
        <h2>Foot notes</h2>
        <% @translation.foot_notes.each do |foot_note| %>
          <div style="font-size: 30px;margin-top: 10px">
            <strong><%= foot_note.id %></strong>
            <div class="<%= @translation.language_name %>">
              <%= foot_note.text.to_s.strip.html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

