<h1 class="text-2xl font-semibold mt-4">
  Forgot your password?
</h1>
<p class="mt-6">
  No worries! Just enter your <strong>email address</strong> below, and we'll send you a link to reset your password.
</p>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'inputs_container', method: :post, data: { controller: 'remote-form' } }) do |f| %>
  <%= render 'shared/form_errors', object: resource %>
  <div class="relative mt-6">
    <%= f.email_field :email, autofocus: true, required: true, class: 'block w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent peer', placeholder: ' ' %>
    <%= f.label :email, class: 'absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1 pointer-events-none', required: true %>
    <div class="text-sm text-red-600 mt-1 hidden invalid-feedback">
      Please enter a valid email
    </div>
  </div>
  <div class="text-center mt-8">
    <%= f.submit 'Send me reset password instructions', class: 'px-8 py-3 rounded font-medium transition-colors bg-gray-800 hover:bg-gray-900 text-white mt-2' %>
  </div>
<% end %>
