<div id="title">
  <%= tag.name %>
</div>

<div id="body">
  <div class="modal-body docs">
    <style>
        .docs a{
            text-decoration: underline;
            font-weight: bold;
        }
        .docs pre {
            background-color: #ecf0f1;
            padding: 10px;
            border-radius: 5px;
            font-size: 1.1em;
            color: #2c3e50;
        }
        .docs code {
            font-family: "Courier New", monospace;
            background-color: #ecf0f1;
            padding: 2px 5px;
            border-radius: 3px;
        }
        .docs .example {
            background-color: #eafaf1;
            padding: 15px;
            border-radius: 5px;
            border: 1px solid #b3e0b3;
        }
        .docs .note {
            background-color: #fef6e4;
            border-left: 4px solid #f39c12;
            padding: 10px;
            margin-bottom: 15px;
        }
    </style>

    <div class="prose max-w-none">
      <%= tag.description.to_s.html_safe %>

      <% if tag.glossary_term.present? %>
        <div class="tw-d-block">
          <%= link_to "Click here", "https://www.tarteel.ai/glossary/#{tag.glossary_term}", class: 'tw-underline hover:tw-no-underline' %> to read more
          about <%= tag.name %> on <%= link_to 'Tarteel glossary', 'https://www.tarteel.ai/glossary', class: 'tw-underline hover:tw-no-underline'  %> page.
        </div>
      <% end %>

      <% if tag.downloadable_resources.any? %>
        <div class="tw-mt-4">
          <h3 class="tw-text-2xl md:tw-text-3xl tw-font-light tw-leading-none">
            Resources for <%= tag.name %>:
          </h3>

          <ul class="tw-ml-6 tw-mt-4 tw-list-disc tw-space-y-2">
            <% tag.downloadable_resources.each do |resource| %>
              <li class="tw-text-gray-700 hover:tw-text-black tw-transition">
                <%= link_to resource.name, detail_resources_path(resource.resource_type, resource.id), class: "tw-text-blue-600 hover:tw-text-blue-800 tw-underline" %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
