<table class="tw-w-full">
  <thead>
  <tr class="tw-border-b tw-bg-slate-100 tw-text-sm">
    <th class="tw-py-3 tw-min-w-48 tw-px-4 tw-font-normal tw-align-top">
      <%= sort_order_link 'Name', :name, {}, data: { turbo_action: 'advance' } %>
    </th>
    <th class="tw-py-3 tw-font-normal tw-hidden md:tw-table-cell tw-w-max tw-align-top">Category</th>
    <% if @resources.any? { |card| card.get_tags.present? } %>
      <th class="tw-py-3 tw-px-4 tw-font-normal tw-hidden md:tw-table-cell tw-align-top">Tags</th>
    <% end %>
    <th class="tw-py-3 tw-px-4 tw-font-normal tw-w-20 tw-hidden md:tw-table-cell tw-align-top">Download</th>
  </tr>
  </thead>
  <tbody>

  <% @resources.each do |card| %>
    <% tags = card.get_tags %>

    <tr class="tw-border-b" id="<%= dom_id card %>"
        data-search="<%= "#{card.name.downcase} #{card.info.to_s.downcase} #{card.humanize_cardinality_type.to_s.downcase} #{card.tag_names.join(' ').downcase}" %>">
      <td class="tw-py-3 tw-px-4 tw-text-sm tw-text-pretty tw-max-w-[500px] tw-align-top">
        <p class="tw-font-semibold tw-block">
          <%= link_to card.name, detail_resources_path(card.resource_type, card.id), data: { turbo_frame: '_top' } %>
        </p>

        <% if card.related_resources.present? %>
          <div>
            <small>
              View
              <%= link_to pluralize(card.related_resources.size, 'related resource'),  related_resources_path(card.resource_type, card.id), data: { turbo_frame: '_top', controller: 'ajax-modal', css_class: 'modal-lg', url: related_resources_path(card.resource_type, card.id) } %>
            </small>
          </div>
        <% end %>

        <div class="tw-text-gray-500 tw-text-xs tw-mt-1 md:tw-hidden tw-flex tw-flex-col tw-gap-1 tw-space-y-1">
          <%= render 'card/card-description', description: card.humanize_cardinality_type || card.description %>

          <% if tags.present? %>
            <div class="tw-flex tw-flex-wrap tw-gap-1 tw-pb-1">
              <%= render 'card/card-tag', as: :tag, collection: tags %>
            </div>
          <% end %>

          <div>
            <%= render 'card/download_dropdown', resource: card %>
          </div>
        </div>
      </td>

      <td class="tw-py-3 tw-text-sm tw-hidden md:tw-table-cell tw-w-max tw-align-top">
        <%= render 'card/card-description', description: card.humanize_cardinality_type %>
      </td>

      <% if @resources.any? { |card| card.get_tags.present? } %>
        <td class="tw-py-3 tw-px-4 tw-text-sm tw-hidden md:tw-flex tw-flex-wrap tw-gap-1 tw-text-pretty tw-align-top">
          <% if card.get_tags.present? %>
            <% card.get_tags.each do |tag| %>
              <%= render 'card/card-tag', tag: tag %>
            <% end %>
          <% end %>
        </td>
      <% end %>

      <td class="tw-text-center tw-py-3 tw-px-4 tw-hidden md:tw-table-cell tw-align-top">
        <%= render 'card/download_dropdown', resource: card %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
