<%
  lines = group_words_lines(words)
  use_images = mushaf.use_images?
  tajweed_rules = false
  show_controls = !local_assigns[:hide_controls]
  mushaf_class = local_assigns[:mushaf_class]
  page_class = local_assigns[:page_class]
  params[:word] = params[:word].to_i

  words_groups = {}
  lines_mapping = MushafLineAlignment
    .where(
      mushaf_id: mushaf.id,
      page_number: page)
    .index_by(&:line_number)

  if params[:mushtabiat] == '1'
    ayah_phrases = Morphology::PhraseVerse.approved.includes(:phrase).where(verse_id: words.pluck(:verse_id).uniq).group_by(&:verse_id)

    words.each do |w|
      selected_phrase = ayah_phrases[w.verse_id]&.find do |p|
        w.position_in_verse.between?(p.word_position_from, p.word_position_to)
      end
      words_groups[w.line_number] ||= {} if selected_phrase
      words_groups[w.line_number][w.id] = selected_phrase if selected_phrase
    end
  end
%>

<%= turbo_frame_tag dom_id(mushaf, "page_#{page}") do %>
  <%= render 'shared/tajweed_images_styles' if use_images %>
  <%= render 'shared/page_font', pages: [page], words: nil %>

  <div class="theme-light mushaf mushaf-<%= mushaf.font_code %> <%= mushaf.font_code %> <%= mushaf_class %>" data-controller="mushaf-page tajweed-highlight">
    <% if show_controls %>
      <div class="mushaf-page-setting d-flex flex-column mb-4">
        <div><span>Name: <%= name %></span></div>

        <div class="d-none">
          <label for="mushtabiat">Enable Mushtabiat</label>
          <input type="checkbox" id="mushtabiat" <%= 'checked' if params[:mushtabiat] == '1' %> />
        </div>

        <div>
          Font size: (<span id="size"></span>)
          <input type="range" min="15" max="100" value="28" class="font-size-slider">
        </div>

        <% if (font_options = mushaf_font_options(mushaf)).present? %>
          <div id="font-switcher">
            <label for="font-switcher">Change font</label>
            <%= select_tag :change_font, options_for_select(font_options), class: '' %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="page-wrapper container-lg flex">
      <div id="page-<%= page %>"
           data-controller="<%= 'tajweed-font' if mushaf.font_code == 'v4-tajweed' %>"
           class="page p<%= page %>-<%= mushaf.font_code %> <%= page_class %>">
        <% 1.upto(mushaf.lines_per_page) do |line_number| %>
          <%
            line_mapping = lines_mapping[line_number] || MushafLineAlignment.dummy
            verses = lines[line_number] || []
          %>
          <% next if line_mapping.blank? && verses.blank? %>

          <div class="line-container" data-line="<%= line_number %>">
            <div class="line <%= 'line--center' if line_mapping.is_center_aligned? %> <%= 'line--surah-name' if line_mapping.is_surah_name? %> <%= 'line---bismillah' if line_mapping.is_bismillah? %>" id="line-<%= line_number %>">
              <% if line_mapping.is_surah_name? %>
                <%= render 'shared/chapter_name', chapter: Chapter.find_by(id: line_mapping.get_surah_number) %>
              <% end %>

              <% if line_mapping.is_bismillah? %>
                <%= render 'shared/bismillah' %>
              <% end %>

              <% verses.each do |verse_id, words| %>
                <div class="ayah-container">
                  <div class="ayah" data-ayah="<%= verse_id %>">
                    <%
                      current_group = nil
                      group_tag_started = false
                    %>

                    <% words.each do |word| %>
                      <% current_group = words_groups[word.line_number] && words_groups[word.line_number][word.id] %>

                      <% if current_group && !group_tag_started %>
                        <% group_tag_started = true %>
                        <div class="d-inline-block mushtabiat" data-group="<%= current_group.id %>" style="color: <%= current_group.phrase.get_color %>">
                      <% elsif !current_group && group_tag_started %>
                        <% group_tag_started = false %>
                        </div>
                      <% end %>

                      <span class="char <%= word.css_class %> <%= 'bg-success' if params[:word] == word.word_id %> char-<%= word.char_type_name %> <%= 'word--missing' if word.word_id.nil? %>"
                            id="word-<%= word.position_in_page %>"
                            data-word-id="<%= word.word_id %>"
                            data-location="<%= word.word.location %>"
                            data-ayah="<%= word.word.verse_key %>"
                            data-position="<%= word.position_in_verse %>"
                            data-id="<%= word.id %>">
                      <a href="<%= cms_mushaf_word_path(word.id) %>" target="_blank">
                        <% if use_images %>
                          <% if tajweed_rules %>
                            <% tajweed_rules.positions.each do |part| %>
                              <span class="part rl<%= part['rule'] %>" data-img-width="<%= part['imageWidth'] %>" style="width: <%= part['width'] %>px; height: <%= part['height'] %>px; margin-top: <%= part['top'] %>px; margin-left: <%= part['left'] %>px;" group="<%= part['group'] %>" rule="<%= part['rule'] %>" audio="<%= part['audio'] %>"></span>
                            <% end %>
                          <% end %>
                          <img src="<%= word.image_url %>"/>
                        <% else %>
                          <%= safe_html word.text %>
                        <% end %>
                      </a>
                    </span>
                    <% end %>

                    <% if group_tag_started %>
                      </div>
                    <% end %>
                    </div>
                </div>
              <% end %>
              </div>
          </div>
        <% end %>
        </div>
  </div>
  </div>
<% end %>