<%
  archive_url = @resource.get_archive_embed_url
  pdf_url = @resource.get_source_pdf_url
  jump_to_page = local_assigns[:jump_to_page] || 1
  page_url = @resource.get_proofrading_image_url
  img_format = @resource.get_proofrading_image_type

  views = []
  views << :image if page_url.present?
  views << :archive if archive_url.present?
  views << :pdf if pdf_url.present?

  default_view = views.first
%>

<div id="proofreading-view-switcher" class="tw-h-full tw-flex tw-flex-col" data-turbo-permanent>
  <div data-controller="proofreading-view-switcher" class="tw-h-full tw-flex tw-flex-col">
    <% if views.size > 1 %>
      <div class="source-buttons tw-flex tw-gap-1 tw-flex mx-2" role="group">
        <% if page_url.present? %>
          <button type="button"
                  class="tw-px-4 tw-py-2 tw-rounded tw-font-medium tw-transition-colors tw-border tw-border-blue-500 tw-text-blue-500 hover:tw-bg-blue-500 hover:tw-text-white <%= 'active' if default_view == :image %>"
                  data-view="image">
            Image View
          </button>
        <% end %>

        <% if archive_url.present? %>
          <button type="button"
                  class="tw-px-4 tw-py-2 tw-rounded tw-font-medium tw-transition-colors tw-border tw-border-blue-500 tw-text-blue-500 hover:tw-bg-blue-500 hover:tw-text-white <%= 'active' if default_view == :archive %>"
                  data-view="archive">
            Archive View
          </button>
        <% end %>

        <% if pdf_url.present? %>
          <button type="button"
                  class="tw-px-4 tw-py-2 tw-rounded tw-font-medium tw-transition-colors tw-border tw-border-blue-500 tw-text-blue-500 hover:tw-bg-blue-500 hover:tw-text-white <%= 'active' if default_view == :pdf %>"
                  data-view="pdf">
            PDF View
          </button>
        <% end %>
      </div>
    <% end %>

    <% if page_url.present? %>
      <div class="proofreading-container <%= 'active' if default_view == :image %>"
           data-view-type="image">
        <div class="tw-p-4 tw-tw-text-center zoomable"
             data-controller="zoom-image"
             data-page="<%= jump_to_page %>"
             data-host="<%= page_url %>"
             data-format="<%= img_format %>"
        >
          <label for="zoom-slider" class="tw-block tw-text-sm tw-font-medium tw-text-gray-700 tw-mb-1">
            Page <span id="page"><%= jump_to_page %></span>
          </label>
          <input type="range" class="form-range" min="1" max="3" step="0.1" id="zoom-slider" value="1"/>
          <div class="tw-flex tw-justify-between tw-tw-mb-3">
            <button class="tw-px-4 tw-py-2 tw-rounded tw-font-medium tw-transition-colors tw-bg-blue-400 hover:tw-bg-blue-500 tw-text-white" id="previous-page">Previous Page</button>
            <button class="tw-px-4 tw-py-2 tw-rounded tw-font-medium tw-transition-colors tw-bg-blue-400 hover:tw-bg-blue-500 tw-text-white" id="next-page">Next page</button>
          </div>
          <div id="image-container" class="tw-tw-mt-4 tw-p-4">
            <img id="zoom-image"
                 data-controller="lazy-load"
                 width="100%"
                 data-src="<%= page_url %>/<%= jump_to_page %>.<%= img_format %>"/>
          </div>
        </div>
      </div>
    <% end %>

    <% if archive_url.present? %>
      <div class="proofreading-container <%= 'active' if default_view == :archive %>"
           data-view-type="archive">
        <div class="iframe-container">
          <iframe
            data-controller="lazy-load"
            data-src="<%= archive_url %>"
            frameborder="0"
            webkitallowfullscreen="true"
            mozallowfullscreen="true"
            allowfullscreen>
          </iframe>
        </div>
      </div>
    <% end %>

    <% if pdf_url.present? %>
      <div class="proofreading-container tw-overflow-auto tw-h-full tw-flex tw-flex-col <%= 'active' if default_view == :pdf %>"
           data-view-type="pdf">
        <div data-controller="pdf-viewer"
             class="tw-h-full tw-flex tw-flex-col"
             data-pdf-url="<%= pdf_url %>"
             data-page="<%= jump_to_page %>">
          <div id="pdf-wrapper" class="tw-flex-1 tw-overflow-auto">
            <div id="pdf-container">
              <canvas id="pdf-canvas"></canvas>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if views.empty? %>
      <div class="tw-tw-text-center text-faded pt-4">
        PDF of this resource isn't available, please contact the admin to upload it.
      </div>
    <% end %>
  </div>
</div>
