<%
  tarteel_link = 'https://tarteel.go.link/?adj_t=1foxrfdy&adj_engagement_type=fallback_click&adj_fallback=https%3A%2F%2Fwww.tarteel.ai&adj_redirect_macos=https%3A%2F%2Fwww.tarteel.ai'
%>

<div class="quiz-container overflow-auto py-4">
  <div class="container-lg d-flex justify-content-center">
    <div class="box">
      <div>
        <h3 class="text-danger">Sorry, the page you are looking for does not exist.</h3>
        Let's turn this detour into a chance to learn more about the Quran!
      </div>

      <% activity = ['ayah_mastery', 'complete_the_ayah'].sample %>
      <%= render "learning_activities/#{activity}" %>

      <div class="result my-5" id="quiz-result">
        <div class="text-danger d-none" id="incorrect-message">
          Incorrect answer. Try again! You can also use Tarteel app to test your memorization. Download
          <a class='text-danger' href="<%= tarteel_link %>" target="_blank">
            Tatreel app here
          </a> to test and improve your memorization.
        </div>

        <div class="d-none text-success" id="correct-message">
          Correct! MashaAllah, you got it right. Download
          <a href="<%= tarteel_link %>" target="_blank">Tarteel app</a> to
          memorize more.
        </div>
      </div>

      <div class="more-activities d-flex justify-content-center gap-2 mt-4 d-none">
        <%= link_to 'Learn more about this ayah', '#_', class: 'btn btn-outline-success me-3 ayah-info', data: { controller: 'ajax-modal', url: '/ayah/1:1', css_class: 'modal-lg', use_turbo: true} %>
        <%= link_to 'Try another', learning_activity_path(activity), class: 'btn btn-outline-dark me-3' %>
        <%= link_to 'More learning activities', learning_activities_path, class: 'btn btn-outline-dark' %>
      </div>
    </div>
  </div>
</div>
