<%
  pagy, failures = @presenter.failures
%>

<div class="page-wrapper container-lg">
  <div class="page-section filters">
    <%= form_tag segments_failures_path, method: :get do %>
      <div data-controller="chapter-verses-filter" class="d-flex tw-flex-wrap">
        <div class="form-group me-2">
          <%= select_tag :surah, options_for_select(@presenter.chapter_options, @presenter.selected_surah), include_blank: true, class: 'form-select tw-w-[85vw] sm:tw-w-auto ', id: 'chapter-select', data: { controller: 'select2' } %>
          <p class="form-text">Filter by Surah</p>
        </div>

        <div class="form-group me-2">
          <%= select_tag :reciter, options_for_select(@presenter.reciters.pluck(:name, :id), @presenter.selected_reciter), include_blank: true, class: 'form-select tw-w-[85vw] sm:tw-w-[200px]', data: { controller: 'select2' } %>
          <p class="form-text">Filter reciter</p>
        </div>

        <div class="form-group me-2">
          <%= search_field_tag :failure_type, params[:failure_type], class: 'tw-w-[85vw] sm:tw-w-[200px]' %>
          <p class="form-text">Search with failure type</p>
        </div>

        <div class="form-group me-2">
          <%= search_field_tag :expected_text, params[:expected_text], class: 'tw-w-[85vw] sm:tw-w-[200px]' %>
          <p class="form-text">Search with expected script</p>
        </div>

        <div class="form-group me-2">
          <%= search_field_tag :received_text, params[:received_text], class: 'tw-w-[85vw] sm:tw-w-[200px]' %>
          <p class="form-text">Search with received script</p>
        </div>

        <div class="form-group me-2">
          <div class="form-group me-2">
            <%= select_tag :correction_status, options_for_select([['All', 'all'], ['Corrected', 'corrected'], ['Pending', 'pending']], params[:corrected]), include_blank: true, class: 'form-select tw-w-[85vw] sm:tw-w-[200px]' %>
            <p class="form-text">Filter by correction</p>
          </div>
        </div>

        <div class="form-group">
          <%= submit_tag 'Filter', class: 'btn btn-success', data: { disable_with: 'Please wait..' } %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="page-section mt-4">
    <h2 class="tw-text-2xl tw-my-2">
      Failures
    </h2>
    <div class="tools-table-overflow">
      <table class="table table-hover">
        <thead class="tw-position-sticky tw-bg-white border-bottom top-0">
        <tr class="tw-bg-gray-100 tw-text-left">
          <th class="tw-p-2 tw-border-b">Surah</th>
          <th class="tw-p-2 tw-border-b">Ayah</th>
          <th class="tw-p-2 tw-border-b">Word</th>
          <th class="tw-p-2 tw-border-b">Start Time</th>
          <th class="tw-p-2 tw-border-b">End Time</th>
          <th class="tw-p-2 tw-border-b">Reciter</th>
          <th class="tw-p-2 tw-border-b">Failure Type</th>
          <th>
            Received transcript
          </th>
          <th>
            Expected
          </th>

          <th>
            Corrected?
          </th>

          <th>
            Actions
          </th>
        </tr>
        </thead>

        <tbody>
        <% failures.each do |failure| %>
          <tr class="tw-border-b hover:tw-bg-gray-50">
            <td class="tw-p-2">
              <%= failure.surah_number %>
            </td>

            <td class="tw-p-2">
              <%= failure.ayah_number %>
              <% if failure.corrected_ayah_number && failure.corrected_ayah_number != failure.ayah_number %>
                <span class="tw-ml-2 tw-inline-block tw-bg-green-100 tw-text-green-800 tw-text-xs tw-font-semibold tw-px-2 tw-py-1 tw-rounded-full">
                  <%= failure.corrected_ayah_number %>
                 </span>
              <% end %>
            </td>
            <td class="tw-p-2">
              <%= failure.word_number %>
              <% if failure.corrected_word_number && failure.corrected_word_number != failure.word_number %>
                <span class="tw-ml-2 tw-inline-block tw-bg-green-100 tw-text-green-800 tw-text-xs tw-font-semibold tw-px-2 tw-py-1 tw-rounded-full">
                  <%= failure.corrected_word_number %>
                 </span>
              <% end %>
            </td>
            <td class="tw-p-2">
              <%= failure.start_time %>

              <% if failure.corrected_start_time %>
                <span class="tw-ml-2 tw-inline-block tw-bg-green-100 tw-text-green-800 tw-text-xs tw-font-semibold tw-px-2 tw-py-1 tw-rounded-full">
                  <%= failure.corrected_start_time %>
                 </span>
              <% end %>
            </td>

            <td class="tw-p-2">
              <%= failure.end_time %>

              <% if failure.corrected_end_time %>
                <span class="tw-ml-2 tw-inline-block tw-bg-green-100 tw-text-green-800 tw-text-xs tw-font-semibold tw-px-2 tw-py-1 tw-rounded-full">
                  <%= failure.corrected_end_time %>
                 </span>
              <% end %>
            </td>
            <td class="tw-p-2"><%= failure.reciter_id || "N/A" %></td>
            <td class="tw-p-2">
              <div data-controller="tooltip" title="<%= failure.mistake_positions %>">
                <%= failure.failure_type %>
              </div>
            </td>
            <td class="tw-p-2">
              <span class="qpc-hafs">
                <%= failure.received_transcript %>
              </span>
            </td>
            <td class="tw-p-2">
              <span class="qpc-hafs">
                <%= failure.expected_transcript.presence || failure.text %>
              </span>
            </td>
            <td>
              <% if failure.corrected? %>
                <span
                  class="badge bg-success"
                  data-controller="tooltip"
                  title="Corrected word <%= failure.surah_number %>:<%= failure.corrected_ayah_number %>:<%= failure.corrected_word_number %>"
                >
                  Yes
                </span>
              <% else %>
                <span class="badge bg-danger">No</span>
              <% end %>
            </td>
            <td>
              <%= link_to 'logs', segments_logs_path(reciter: failure.reciter_id, surah: failure.surah_number), target: '_blank' %>
              <%= link_to '<i class="fas fa-stream"></i>'.html_safe, segments_timeline_path(reciter: failure.reciter_id, surah: failure.surah_number, ayah: failure.ayah_number || failure.corrected_ayah_number), target: '_blank' %>
            </td>
          </tr>
        <% end %>

        <tr>
          <td colspan="10">
            <div class="d-flex align-items-center">
              <div class="me-4">
                <%= safe_html pagy_bootstrap_nav(pagy) %>
              </div>

              <div>
                <%= safe_html pagy_info(pagy) %>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
