<%= render 'segments/header' %>

<div class="page-wrapper container max-w-7xl mx-auto px-4">
  <div class="page-section mt-4" data-turbo="false">
    <h1 class="text-2xl font-bold mb-4">
      Uploaded databases
    </h1>

    <div class="space-y-4">
      <% @presenter.segment_databases.each do |db| %>
        <div class="flex items-center justify-between p-4 bg-white rounded-lg shadow">
          <div>
            <h3 class="text-lg font-semibold"><%= db.name %></h3>
            <div class="text-sm text-gray-500">
              Status:
              <span class="<%= db.active ? 'text-green-600' : 'text-red-600' %>">
                <%= db.active ? 'Active' : 'Inactive' %>
              </span>
            </div>
          </div>

          <%= button_to "Use",
                        segments_setup_db_path(id: db.id),
                        method: :post,
                        class: "px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium rounded-lg shadow"
          %>
        </div>
      <% end %>
    </div>

    <div class="space-y-4">
      <% @presenter.segment_databases.each do |db| %>
        <div class="flex items-center justify-between p-4 bg-white rounded-lg shadow">
          <div>
            <h3 class="text-lg font-semibold"><%= db.name %></h3>
            <div class="text-sm text-gray-500">
              Status:
              <span class="<%= db.active ? 'text-green-600' : 'text-red-600' %>">
                <%= db.active ? 'Active' : 'Inactive' %>
              </span>
            </div>
          </div>

          <%= button_to "Use",
                        segments_setup_db_path(id: db.id),
                        method: :post,
                        class: "px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium rounded-lg shadow"
          %>
        </div>
      <% end %>
    </div>

    <h1 class="text-2xl font-bold mb-4">
      Upload Database File
    </h1>

    <%= form_with model: @db, url: segments_setup_db_path, method: 'post', html: { multipart: true } do |f| %>
      <div class="mb-4 my-2">
        <%= f.label :name, class: "block text-gray-700 font-medium" %>
        <%= f.text_field :name, class: 'form-control', required: true %>
      </div>

      <div class="mb-4 my-2">
        <%= f.label :db_file, "Select File", class: "block text-gray-700 font-medium mb-2" %>
        <%= f.file_field :db_file, class: "w-full border rounded px-3 py-2", required: true %>
      </div>

      <div>
        <%= f.submit "Upload", class: "bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" %>
      </div>
    <% end %>
  </div>
</div>
