<%= render 'tools/header',
           name: 'Arabic/Urdu Transliterations',
           key: 'arabic_transliteration'
%>

<div class="page-wrapper container-lg">
  <div class="page-section filters">
    <%= form_tag arabic_transliterations_path, method: :get  do %>
      <div data-controller="chapter-verses-filter" class="d-flex tw-flex-wrap">
        <%= render 'shared/filters' %>

        <div class="form-group me-2">
          <%= select_tag :filter_progress, options_for_select([['Ayah with missing transliteration', 'missing'], ['Ayah with full transliteration', 'completed'], ['All ayah', 'all']], params[:filter_progress] || 'all'), class: 'form-select tw-w-[85vw] sm:tw-w-[200px] tw-border-gray-400 tw-rounded-[5px] tw-h-[38px]', data: { placeholder: 'Filter by progress' } %>
          <p class="form-text">Filter by Ayah progress</p>
        </div>

        <div class="form-group">
          <%= submit_tag 'Filter', class: 'btn btn-success', data: { disable_with: 'Please wait..' } %>
          <%= link_to 'Clear', arabic_transliterations_path, class: 'btn-link text-dark' if has_filters?(:filter_chapter, :filter_verse, :filter_progress) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="page-wrapper container-lg">
  <div class="page-section">
    <h2 class="tw-text-2xl tw-mb-4">Ayah list</h2>
    <div class="tools-table-overflow">
    <table class="table table-hover">
      <thead class="tw-sticky tw-top-0 tw-z-10 tw-bg-white">
      <tr>
        <th><%= sort_order_link 'Ayah key', :verse_key %></th>
        <th>Progress</th>
        <th>Text</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @verses.each do |verse| %>
        <tr>
          <th scope="row"><%= verse.verse_key %></th>

          <td>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="<%= verse.arabic_transliteration_progress %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 1em;width: <%= verse.arabic_transliteration_progress %>%;">
                <%= verse.arabic_transliteration_progress %>%
              </div>
            </div>
          </td>

          <td class="indopak">
            <%= verse.text_indopak %>
          </td>

          <td>
            <%= link_to 'Show', arabic_transliteration_path(verse.id), class: 'btn btn-success' %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan="4">
          <div class="d-flex align-items-center">
            <div class="me-4">
              <%= safe_html pagy_bootstrap_nav(@pagy) %>
            </div>
            <div>
              <%= safe_html pagy_info(@pagy) %>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
