<%= render 'tools/header',
           name: "Arabic/Urdu Transliterations",
           title: "Arabic/Urdu Transliterations - #{@verse.verse_key}",
           key: 'arabic_transliteration'
%>

<%
  img_host = "https://static-cdn.tarteel.ai/qul/images/page/transliteration"
  page_number = @predicted_page
%>

<div class="page-wrapper container-lg">
  <div class="page-section zoomable">
    <div class="alert alert-info" role="alert">
      <div class="indopak-nastaleeq quran-text mb-2">
        <%= @verse.text_indopak_nastaleeq %>
      </div>

      <div class="indopak-nastaleeq quran-text mb-2 text-transliteration">
        <%= render 'ayah_preview' %>
      </div>
    </div>

    <div id="editor-wrap"
         data-host="<%= img_host %>"
         data-page="<%= @predicted_page %>"
         data-controller="zoom-image">
      <div class="form-group">
        <%= select_tag :change_page, options_for_select(1..980, @predicted_page), id: 'jump-to-page', class: 'form-control', data: { placeholder: 'Jump to page', controller: 'select2' } %>
        <div class="help-block">Jump to page number</div>
      </div>

      <div class="text-center position-sticky top-0"
           data-controller="zoom-image"
           data-page="<%= page_number %>"
           data-host="<%= img_host %>"
      >
        <input type="range" class="form-range" min="1" max="3" step="0.1" id="zoom-slider" value="1"/>
        <div class="d-flex justify-content-between">
          <button class="btn btn-info" id="previous-page">Previous Page</button>
          <button class="btn btn-info" id="next-page">Next page</button>
        </div>

        <div id="image-container" class="mt-4 p-4" style="height: 400px">
          <img id="zoom-image" data-controller="lazy-load" width="100%" data-src="<%= img_host %>/<%= page_number %>.jpg" } %>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section position-relative">
    <div class="indopak" id="ayah_text">
      <%= @verse.verse_key %> <%= @verse.text_indopak %>
    </div>

    <%= form_for @verse, url: arabic_transliterations_path(verse_id: @verse.id), method: :post, html: { class: 'form', dir: 'rtl', autocomplete: 'off' } do |form| %>
      <div id="words row">
        <%= form.fields_for :arabic_transliterations, @arabic_transliterations do |trans_form| %>
          <%= trans_form.hidden_field :word_id %>
          <%= trans_form.hidden_field :page_number, class: 'word-page' %>
          <%= trans_form.hidden_field :position_x, class: 'pos-x' %>
          <%= trans_form.hidden_field :position_y, class: 'pos-y' %>
          <%= trans_form.hidden_field :zoom, class: 'zoom' %>

          <div class="well">
            <p>Word# <%= trans_form.object.location %></p>
            <div class="row">
              <div class="col-lg-3">
                <div class="form-group ">
                  <%= trans_form.check_box :continuous %>
                  <div class="help-block">
                    ?Continuous
                  </div>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                  <%= trans_form.text_field :text, placeholder: trans_form.object.text_simple, autocomplete: false, class: 'form-control indopak' %>
                  <div class="help-block">
                    Transliteration
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="form-group">
        <%= form.submit "Save transliteration", class: 'btn btn-success', data: { disable_with: 'Please wait...' } %>
      </div>
    <% end %>
  </div>
</div>
