<div>
  <% if collection.any? %>
    <div class="card border-0 mb-4 morphology-graph-index">
      <div class="card-header bg-light">
        <div>
          <div class="d-flex justify-content-between align-items-center">
            <% if @verse_info %>
              <div>
                <div class="row">
                  <div class="d-flex align-items-center gap-2">
                    <p class="mb-1"><strong>Verse:</strong> <%= @verse_info[:verse_key] %> (Chapter <%= @verse_info[:chapter] %>, Verse <%= @verse_info[:verse] %>)</p>
                    <% if @navigation[:prev_chapter_id] %>
                      <%= link_to morphology_treebank_index_path(chapter_id: @navigation[:prev_chapter_id], verse_id: @navigation[:prev_verse_id], graph_number: @navigation[:prev_graph_number]), class: 'btn btn-info btn-sm', title: 'Previous' do %>
                        <i class="fa fa-chevron-left"></i>
                      <% end %>
                    <% else %>
                      <span class="btn btn-secondary btn-sm disabled" title="No previous">
                        <i class="fa fa-chevron-left"></i>
                      </span>
                    <% end %>
                    
                    <% if @navigation[:next_chapter_id] %>
                      <%= link_to morphology_treebank_index_path(chapter_id: @navigation[:next_chapter_id], verse_id: @navigation[:next_verse_id], graph_number: @navigation[:next_graph_number]), class: 'btn btn-success btn-sm', title: 'Next' do %>
                        <i class="fa fa-chevron-right"></i>
                      <% end %>
                    <% else %>
                      <span class="btn btn-secondary btn-sm disabled" title="No next">
                        <i class="fa fa-chevron-right"></i>
                      </span>
                    <% end %>
                  </div>
                </div>
                <p class="mb-0"><strong>Graph Number:</strong> <%= @verse_info[:graph_number] %> of <%= @verse_info[:total_graphs] %></p>
              </div>
            <% end %>
            <div>
              <p class="mb-1"><strong>Total Nodes:</strong> <%= collection.count %></p>
              <p class="mb-0">
                <strong>Types:</strong> 
                Word: <%= collection.where(type: 'word').count %> | 
                Reference: <%= collection.where(type: 'reference').count %> | 
                Phrase: <%= collection.where(type: 'phrase').count %> | 
                Elided: <%= collection.where(type: 'elided').count %>
              </p>
            </div>
            <div>
              <%= link_to 'Edit Graph', edit_morphology_treebank_index_path(chapter_id: @chapter_id, verse_id: @verse_id, graph_number: @graph_number), class: 'btn btn-primary btn-sm' %>
            </div>
          </div>
        </div>
        
        
      </div>
      <div class="card-body syntax-graph-section">
        <div class="bg-light p-3 rounded syntax-graph-container"
             style="min-height: 400px;"
             data-controller="syntax-graph"
             data-syntax-graph-url-value="<%= syntax_graph_morphology_treebank_index_path(chapter_id: @chapter_id || 1, verse_id: @verse_id || 1, graph_number: @graph_number || 1) %>">
          <div data-syntax-graph-target="container">Loading syntax graph...</div>
        </div>
      </div>
    </div>
  <% end %>
</div>
