<%= render 'layouts/qul_head' %>

<div class="container max-w-7xl mx-auto px-4 mb-4" data-turbo="false">
  <div class="page-section mt-4 flex gap-4">
    <%= link_to segments_dashboard_path, class: "bg-gray-100 text-gray-800 px-4 py-2 rounded shadow flex items-center gap-2 hover:bg-gray-200 hover:text-black" do %>
      <i class="fas fa-tachometer-alt"></i>
      <span>Dashboard</span>
    <% end %>

    <%= link_to segments_failures_path, class: "bg-red-100 text-red-800 px-4 py-2 rounded shadow flex items-center gap-2 hover:bg-red-200 hover:text-black" do %>
      <i class="fas fa-times-circle"></i>
      <span>Failures</span>
    <% end %>

    <%= link_to segments_word_failures_path, class: "bg-purple-100 text-purple-800 px-4 py-2 rounded shadow flex items-center gap-2 hover:bg-purple-200 hover:text-black" do %>
      <i class="fas fa-chart-bar"></i>
      <span>Word Stats</span>
    <% end %>

    <%= link_to segments_detections_path, class: "bg-blue-100 text-blue-800 px-4 py-2 rounded shadow flex items-center gap-2 hover:bg-blue-200 hover:text-black" do %>
      <i class="fas fa-check-circle"></i>
      <span>Detections</span>
    <% end %>

    <%= link_to segments_review_ayahs_path, class: "bg-yellow-100 text-yellow-800 px-4 py-2 rounded shadow flex items-center gap-2 hover:bg-yellow-200 hover:text-black" do %>
      <i class="fas fa-exclamation-triangle"></i>
      <span>Review Ayahs</span>
    <% end %>

    <%= link_to segments_reciters_path, class: "bg-gray-100 text-gray-800 px-4 py-2 rounded shadow flex items-center gap-2 hover:bg-gray-200 hover:text-black" do %>
      <i class="fas fa-microphone-alt"></i>
      <span>Reciters</span>
    <% end %>

    <%= link_to segments_timeline_path, class: "bg-green-100 text-green-800 px-4 py-2 rounded shadow flex items-center gap-2 hover:bg-green-200 hover:text-black" do %>
      <i class="fas fa-stream"></i>
      <span>Timeline</span>
    <% end %>

    <%= link_to segments_ayah_report_path, class: "bg-orange-100 text-orange-800 px-4 py-2 rounded shadow flex items-center gap-2 hover:bg-orange-200 hover:text-black" do %>
      <i class="fas fa-stream"></i>
      <span>Ayah report</span>
    <% end %>

    <%= link_to segments_setup_db_path, class: "bg-gray-100 text-gray-800 px-4 py-2 rounded shadow flex items-center gap-2 hover:bg-gray-200 hover:text-black" do %>
      <i class="fas fa-upload"></i>
      <span>Upload DB</span>
    <% end %>
  </div>
</div>
