<%= render 'layouts/qul_head' %>

<div class="container-lg tw-mb-4" data-turbo="false">
  <div class="page-section mt-4 tw-flex tw-gap-4">
    <%= link_to segments_dashboard_path, class: "tw-bg-gray-100 tw-text-gray-800 tw-px-4 tw-py-2 tw-rounded tw-shadow tw-flex tw-items-center tw-gap-2 hover:tw-bg-gray-200 hover:tw-text-black" do %>
      <i class="fas fa-tachometer-alt"></i>
      <span>Dashboard</span>
    <% end %>

    <%= link_to segments_failures_path, class: "tw-bg-red-100 tw-text-red-800 tw-px-4 tw-py-2 tw-rounded tw-shadow tw-flex tw-items-center tw-gap-2 hover:tw-bg-red-200 hover:tw-text-black" do %>
      <i class="fas fa-times-circle"></i>
      <span>Failures</span>
    <% end %>

    <%= link_to segments_word_failures_path, class: "tw-bg-purple-100 tw-text-purple-800 tw-px-4 tw-py-2 tw-rounded tw-shadow tw-flex tw-items-center tw-gap-2 hover:tw-bg-purple-200 hover:tw-text-black" do %>
      <i class="fas fa-chart-bar"></i>
      <span>Word Stats</span>
    <% end %>

    <%= link_to segments_detections_path, class: "tw-bg-blue-100 tw-text-blue-800 tw-px-4 tw-py-2 tw-rounded tw-shadow tw-flex tw-items-center tw-gap-2 hover:tw-bg-blue-200 hover:tw-text-black" do %>
      <i class="fas fa-check-circle"></i>
      <span>Detections</span>
    <% end %>

    <%= link_to segments_review_ayahs_path, class: "tw-bg-yellow-100 tw-text-yellow-800 tw-px-4 tw-py-2 tw-rounded tw-shadow tw-flex tw-items-center tw-gap-2 hover:tw-bg-yellow-200 hover:tw-text-black" do %>
      <i class="fas fa-exclamation-triangle"></i>
      <span>Review Ayahs</span>
    <% end %>

    <%= link_to segments_reciters_path, class: "tw-bg-gray-100 tw-text-gray-800 tw-px-4 tw-py-2 tw-rounded tw-shadow tw-flex tw-items-center tw-gap-2 hover:tw-bg-gray-200 hover:tw-text-black" do %>
      <i class="fas fa-microphone-alt"></i>
      <span>Reciters</span>
    <% end %>

    <%= link_to segments_timeline_path, class: "tw-bg-green-100 tw-text-green-800 tw-px-4 tw-py-2 tw-rounded tw-shadow tw-flex tw-items-center tw-gap-2 hover:tw-bg-green-200 hover:tw-text-black" do %>
      <i class="fas fa-stream"></i>
      <span>Timeline</span>
    <% end %>

    <%= link_to segments_ayah_report_path, class: "tw-bg-orange-100 tw-text-orange-800 tw-px-4 tw-py-2 tw-rounded tw-shadow tw-flex tw-items-center tw-gap-2 hover:tw-bg-orange-200 hover:tw-text-black" do %>
      <i class="fas fa-stream"></i>
      <span>Ayah report</span>
    <% end %>

    <%= link_to segments_setup_db_path, class: "tw-bg-gray-100 tw-text-gray-800 tw-px-4 tw-py-2 tw-rounded tw-shadow tw-flex tw-items-center tw-gap-2 hover:tw-bg-gray-200 hover:tw-text-black" do %>
      <i class="fas fa-upload"></i>
      <span>Upload DB</span>
    <% end %>
  </div>
</div>
