<%= turbo_frame_tag :ayah_topics do %>
  <div dir="rtl" class="qpc-hafs text-3xl leading-relaxed text-right bg-white border border-gray-200 rounded p-5 mb-4">
    <%= @ayah.text_qpc_hafs %>
  </div>

  <% topics = @presenter.topics %>
  <% if topics.any? %>
    <div class="bg-white border border-gray-200 rounded divide-y divide-gray-200">
      <% topics.each do |t| %>
        <div class="p-4">
          <div class="flex items-start justify-between gap-4 flex-wrap">
            <div class="text-sm font-semibold text-gray-900"><%= t.name.presence || "Topic ##{t.id}" %></div>
            <%= link_to 'View', '#_', class: 'text-sm text-blue-700 underline',
                        data: { controller: 'ajax-modal', url: @presenter.topic_modal_url(t.id), css_class: 'modal-lg' } %>
          </div>
          <% if t.arabic_name.present? %>
            <div dir="rtl" class="mt-2 text-sm text-gray-700 arabic"><%= t.arabic_name %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="text-sm text-gray-600">No topics linked to this ayah.</div>
  <% end %>
<% end %>


