<%= render 'tools/header',
           name: 'Compare ayah',
           title: 'Compare ayah',
           key: 'compare_ayah',
           actions: [] %>

<%
  common_words = find_common_verses_words(@verses)
%>

<div class="page-wrapper container max-w-7xl mx-auto px-4">
  <div class="px-4 py-3 rounded mb-4 bg-gray-100 border border-gray-400 text-gray-700 flex" role="alert">
    The Compare Ayah tool lets you view and compare multiple Ayahs, with optional translations. This comparison helps in
    exploring similarities in wording, or structure.
  </div>

  <div class="page-section filters mb-3">
    <div class="flex flex-wrap gap-4">
      <div class="col-lg-12">
        <%= form_with url: compare_ayah_path, method: :get do |f| %>
          <div class="flex flex-wrap">
            <div class="mb-4 me-2">
              <%= f.search_field :ayahs,
                                 value: params[:ayahs],
                                 class: 'form-control',
                                 style: 'width: 300px',
                                 placeholder: 'Enter ayah keys (e.g. 1:2,2:3,8:3)' %>
              <p class="text-sm text-gray-600 mt-1">Select ayah</p>
            </div>

            <div class="mb-4 me-2">
              <%= f.select :resource_ids,
                           options_for_select(ResourceContent.translations.one_verse.pluck(:name, :id), params[:resource_ids]),
                           { prompt: 'Select Translation' },
                           multiple: true,
                           class: 'form-control', data: {
                  controller: 'select2',
                  multiple: true,
                  placeholder: 'Select Translation'
                } %>
              <p class="text-sm text-gray-600 mt-1">Select translation</p>
            </div>

            <div class="mb-4">
              <%= f.submit 'Show Ayahs', class: 'btn btn-success btn-sm' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if @verses.present? %>
    <% @verses.each do |verse| %>
      <div class="bg-white border border-gray-200 rounded-lg shadow-sm mb-2">
        <div class="p-6">
          <div class="display-5 qpc-hafs quran-text leading-normal">
            <div>
              <span class="badge badge-default">
                <%= verse.verse_key %>
              </span>
              <span>
                <% verse.words.each do |word| %>
                  <% if common_words.include?(word.text_qpc_hafs.remove_diacritics) %>
                    <span class="text-green-600"><%= word.text_qpc_hafs %></span>
                  <% else %>
                    <%= word.text_qpc_hafs %>
                  <% end %>
                <% end %>
              </span>
            </div>
          </div>

          <% if @show_translation %>
            <% verse.translations.sort_by { |tr| @translation_ids.index(tr.resource_content_id.to_s) || Float::INFINITY }.each do |tr| %>
              <div class="translation-text mt-3">
                <h3 class="mb-2 font-semibold">
                  (<%= tr.resource_content_id %>)
                  <%= tr.resource_name %>
                </h3>

                <%= safe_html tr.text %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="border border-gray-300 border-gray-300 rounded-lg p-4 text-gray-500 text-center">
      Please select some ayahs
    </div>
  <% end %>
</div>