<%= render 'tools/header',
           name: 'Compare ayah',
           title: 'Compare ayah',
           key: 'compare_ayah',
           actions: [] %>

<%
  common_words = find_common_verses_words(@verses)
%>

<div class="page-wrapper container-lg">
  <div class="alert alert-secondary d-flex" role="alert">
    The Compare Ayah tool lets you view and compare multiple Ayahs, with optional translations. This comparison helps in
    exploring similarities in wording, or structure.
  </div>

  <div class="page-section filters mb-3">
    <div class="row">
      <div class="col-lg-12">
        <%= form_with url: compare_ayah_path, method: :get do |f| %>
          <div class="tw-flex tw-flex-wrap">
            <div class="form-group me-2">
              <%= f.search_field :ayahs,
                                 value: params[:ayahs],
                                 class: 'form-control',
                                 style: 'width: 300px',
                                 placeholder: 'Enter ayah keys (e.g. 1:2,2:3,8:3)' %>
              <p class="form-text">Select ayah</p>
            </div>

            <div class="form-group me-2">
              <%= f.select :resource_ids,
                           options_for_select(ResourceContent.translations.one_verse.pluck(:name, :id), params[:resource_ids]),
                           { prompt: 'Select Translation' },
                           multiple: true,
                           class: 'form-control', data: {
                  controller: 'select2',
                  multiple: true,
                  placeholder: 'Select Translation'
                } %>
              <p class="form-text">Select translation</p>
            </div>

            <div class="form-group">
              <%= f.submit 'Show Ayahs', class: 'btn btn-success' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if @verses.present? %>
    <% @verses.each do |verse| %>
      <div class="card mb-2 shadow-sm">
        <div class="card-body">
          <div class="display-5 qpc-hafs quran-text tw-leading-normal">
            <div>
              <span class="badge bg-secondary text-white">
                <%= verse.verse_key %>
              </span>
              <span>
                <% verse.words.each do |word| %>
                  <% if common_words.include?(word.text_qpc_hafs.remove_diacritics) %>
                    <span class="tw-text-green-600"><%= word.text_qpc_hafs %></span>
                  <% else %>
                    <%= word.text_qpc_hafs %>
                  <% end %>
                <% end %>
              </span>
            </div>
          </div>

          <% if @show_translation %>
            <% verse.translations.sort_by { |tr| @translation_ids.index(tr.resource_content_id.to_s) || Float::INFINITY }.each do |tr| %>
              <div class="translation-text mt-3">
                <h3 class="tw-mb-2 tw-font-semibold">
                  (<%= tr.resource_content_id %>)
                  <%= tr.resource_name %>
                </h3>

                <%= safe_html tr.text %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="border border-gray-300 rounded-lg p-4 text-gray-500 text-center">
      Please select some ayahs
    </div>
  <% end %>
</div>