<%
  char = params[:char].strip
  script = params[:script].to_s.downcase.strip
  words = Word.order('word_index ASC').where("#{script} ilike ?", "%#{char}%")
  pagination, words = pagy(words, items: 500)
%>

<style>
    .char span {
        color: #00a650;
    }
</style>

<div class="page-wrapper container max-w-7xl mx-auto px-4" data-controller="chars-info">
  <div class="page-section">
    <h2>List of words from <%= scripts[script.to_sym] %> script that include <%= char %></h2>
    <%= render 'char_font_options' %>

    <div>
      <table class="w-full hover:bg-gray-50 text-center">
        <thead class="sticky top-0 z-10 bg-white border-b-2 border-black">
        <tr>
          <th>Location</th>
          <th>Text</th>
        </tr>
        </thead>

        <tbody>
          <% words.each do |word| %>
          <tr class="hover:bg-gray-200 border-b">
            <td class="py-2 pl-2"><%= link_to word.location, cms_word_path(word) %></td>
            <td class="py-2">
              <div class="char <%= params[:font] %>" data-controller="tajweed-highlight">
                <% if script.include?('tajweed') %>
                  <%= safe_html word.read_attribute(script) %>
                <% else %>
                  <%= highlight safe_html(word.read_attribute(script)), char, highlighter: '<span>\1</span>' %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>

        <tr>
          <td colspan="2">
            <%= pagination_section pagination %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>