<%
  key = params[:key].to_s.downcase.strip
%>

<% if available_tool_keys.include?(key) %>
  <% docs = send("#{key}_help") rescue [] %>

  <div id="title">
    <%= docs.blank? ? 'Work in process' : docs[0] %>
  </div>

  <div id="body">
    <div class="tw-p-6">
      <% if docs.blank? %>
        <div class="tw-flex tw-py-5 tw-items-center tw-justify-center">
          <i class="fa fa-exclamation-triangle fa-5x tw-text-yellow-600"></i>
          The documentation for this tool is not yet available.
        </div>
      <% else %>
        <% docs[1..].each_with_index do |doc, i| %>
          <div class="section tw-mb-2">
            <% if doc[:type] == 'heading' %>
              <h3>
                <%= safe_html doc[:text] %>
              </h3>
            <% elsif doc[:type] == 'info' %>
              <div class="tw-px-4 tw-py-3 tw-rounded tw-mb-4 tw-bg-[#d3d3d4] tw-border tw-text-black">
                <%= safe_html doc[:text] %>

                <% if doc[:screenshot] %>
                  <div class="screenshot tw-my-2">
                    <%= doc_image_tag(doc[:screenshot]) %>
                  </div>
                <% end %>
              </div>
            <% elsif doc[:type] == 'step' %>
              <div class="step">
                <h4 class="step-title tw-flex tw-items-center tw-justify-between tw-border tw-border-gray-300 tw-p-3 tw-rounded-md tw-cursor-pointer hover:tw-bg-gray-50 tw-transition-colors tw-my-2" data-controller="collapse" data-action="click->collapse#toggle" data-collapse-target-value="#step-<%= i %>" aria-expanded="false" aria-controls="step-<%= i %>">
                  <%= safe_html doc[:title] %>

                  <div>
                    <span class="collapsed-reveal"><i class="fa fa-chevron-down"></i></span>
                    <span class="collapsed-hidden tw-hidden"><i class="fa fa-chevron-up"></i></span>
                  </div>
                </h4>

                <div id="step-<%= i %>" class="collapse tw-hidden" data-controller="collapse">
                  <div>
                    <%= safe_html doc[:text] %>
                  </div>

                  <% if doc[:screenshot] %>
                    <div class="screenshot tw-my-2">
                      <%= doc_image_tag(doc[:screenshot]) %>
                    </div>
                  <% end %>

                  <% if doc[:sections] %>
                    <% doc[:sections].each do |section| %>
                      <div class="tw-mt-3">
                        <% if section[:text] %>
                          <div class="<%= 'tw-p-4 tw-mb-4 tw-bg-gray-800 tw-border tw-border-gray-700 tw-text-gray-100 tw-rounded' if 'info' == section[:type] %> <%= section[:css_class] %>">
                            <%= safe_html section[:text] %>
                          </div>
                        <% end %>

                        <% if section[:screenshot] %>
                          <div class="screenshot tw-my-2">
                            <%= doc_image_tag(section[:screenshot]) %>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% elsif doc[:type] == 'demo' %>
              <div class="step">
                <h4 class="step-title tw-flex tw-items-center tw-justify-between tw-border tw-border-gray-300 tw-p-3 tw-rounded-md tw-cursor-pointer hover:tw-bg-gray-50 tw-transition-colors tw-my-2" data-controller="collapse" data-action="click->collapse#toggle" data-collapse-target-value="#step-<%= i %>" aria-expanded="false" aria-controls="step-<%= i %>">
                  <%= safe_html doc[:title] %>

                  <div>
                    <span class="collapsed-reveal"><i class="fa fa-chevron-down"></i></span>
                    <span class="collapsed-hidden tw-hidden"><i class="fa fa-chevron-up"></i></span>
                  </div>
                </h4>

                <div id="step-<%= i %>" class="collapse tw-hidden" data-controller="collapse">
                  <div>
                    <%= safe_html doc[:text] %>
                  </div>
                </div>
              </div>
            <% else %>
              <p class="<%= doc[:type] %>">
                <%= safe_html doc[:text] %>
              </p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div id=title>
    Invalid tool
  </div>

  <div id="body">
    <div class="tw-p-6">
      <div class="tw-text-center tw-py-5">
        <i class="fa fa-exclamation-triangle fa-5x tw-text-yellow-600"></i>
        The tool you are looking for does not exist.
      </div>
    </div>
  </div>
<% end %>