<%
  key = params[:key].to_s.downcase.strip
%>

<% if available_tool_keys.include?(key) %>
  <% docs = send("#{key}_help") rescue [] %>

  <div id="title">
    <%= docs.blank? ? 'Work in process' : docs[0] %>
  </div>

  <div id="body">
    <div class="modal-body">
      <% if docs.blank? %>
        <div class="d-flex py-5 align-items-center justify-content-center">
          <i class="fa fa-exclamation-triangle fa-5x text-warning"></i>
          The documentation for this tool is not yet available.
        </div>
      <% else %>
        <% docs[1..].each_with_index do |doc, i| %>
          <div class="section mb-2">
            <% if doc[:type] == 'heading' %>
              <h3>
                <%= safe_html doc[:text] %>
              </h3>
            <% elsif doc[:type] == 'info' %>
              <div class="alert alert-dark">
                <%= safe_html doc[:text] %>
              </div>
            <% elsif doc[:type] == 'step' %>
              <div class="step">
                <h4 class="step-title flex-between" data-bs-toggle="collapse" data-bs-target="#step-<%= i %>" aria-expanded="false" aria-controls="step-<%= i %>">
                  <%= safe_html doc[:title] %>

                  <div>
                    <span class="collapsed-reveal"><i class="fa fa-chevron-down"></i></span>
                    <span class="collapsed-hidden"><i class="fa fa-chevron-up"></i></span>
                  </div>
                </h4>

                <div id="step-<%= i %>" class="collapse">
                  <div>
                    <%= safe_html doc[:text] %>
                  </div>

                  <% if doc[:screenshot] %>
                    <div class="screenshot my-2">
                      <%= doc_image_tag(doc[:screenshot]) %>
                    </div>
                  <% end %>

                  <% if doc[:sections] %>
                    <% doc[:sections].each do |section| %>
                      <div class="mt-3">
                        <% if section[:text] %>
                          <div class="<%= 'alert alert-dark' if 'info' == section[:type] %> <%= section[:css_class] %>">
                            <%= safe_html section[:text] %>
                          </div>
                        <% end %>

                        <% if section[:screenshot] %>
                          <div class="screenshot my-2">
                            <%= doc_image_tag(section[:screenshot]) %>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% elsif doc[:type] == 'demo' %>
              <div class="step">
                <h4 class="step-title flex-between" data-bs-toggle="collapse" data-bs-target="#step-<%= i %>" aria-expanded="false" aria-controls="step-<%= i %>">
                  <%= safe_html doc[:title] %>

                  <div>
                    <span class="collapsed-reveal"><i class="fa fa-chevron-down"></i></span>
                    <span class="collapsed-hidden"><i class="fa fa-chevron-up"></i></span>
                  </div>
                </h4>

                <div id="step-<%= i %>" class="collapse">
                  <div>
                    <%= safe_html doc[:text] %>
                  </div>
                </div>
              </div>
            <% else %>
              <p class="<%= doc[:type] %>">
                <%= safe_html doc[:text] %>
              </p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div id=title>
    Invalid tool
  </div>

  <div id="body">
    <div class="modal-body">
      <div class="text-center py-5">
        <i class="fa fa-exclamation-triangle fa-5x text-warning"></i>
        The tool you are looking for does not exist.
      </div>
    </div>
  </div>
<% end %>