<%
  resources = local_assigns[:resources] || @resources || @resource_cards
%>

<div class="resources-table">
  <table class="w-full mt-8">
    <thead class="sticky top-0 z-10 min-w-full">
      <tr class="border-b bg-slate-100 text-sm">
        <th class="py-3 px-4 font-normal whitespace-nowrap">
          <%= sort_order_link 'Resource', :name, {}, data: { turbo_action: 'advance' } %>
        </th>
        <th class="py-3 px-4 font-normal hidden sm:table-cell">Description</th>
        <th class="py-3 px-4 font-normal whitespace-nowrap">
          <%= sort_order_link 'Count', :count %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% resources.each do |card| %>
        <tr class="border-b hover:bg-gray-50"
          data-search="<%= "#{card.type} #{card.title.downcase} #{card.description.to_s.downcase}" %>">
          <td class="py-3 px-4 text-sm text-pretty align-top">
            <%= link_to card.url, class: 'hover:text-[#46ac7a] transition-colors block', data: { turbo_frame: '_top' } do %>
              <div class="flex gap-3">
                <div>
                  <%= inline_svg_tag "svgs/#{card.list_icon || 'layout.svg'}" %>
                </div>
                <div class="space-y-3">
                  <span class="block font-semibold">
                    <%= card.title %>
                  </span>
                  <span class="block text-gray-500 text-xs">
                    <%= card.stats.to_s.html_safe if card.respond_to?(:stats) %>
                  </span>
                  <span class="block text-gray-500 text-xs mt-1 sm:hidden w-full">
                    <%= card.description %>
                  </span>
                </div>
              </div>
            <% end %>
          </td>

          <td class="py-3 px-4 text-sm hidden sm:table-cell text-pretty align-top">
            <%= link_to card.description, card.url, class: 'hover:text-black block', data: { turbo_frame: '_top' } %>
          </td>

          <td class="text-center py-3 px-4 align-top">
            <% if card.respond_to?(:count) && card.count.present? %>
              <%= link_to card.count, card.url, class: 'rounded-full bg-[#E0FAEC] text-[#099a4d] hover:text-[#46ac7a] font-bold text-xs md:text-sm px-2 md:px-3 py-1 leading-none border-2 border-[#56B599] inline-block min-w-[30px] md:min-w-[35px] text-center transition-colors', data: { turbo_frame: '_top' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
