<%
  recitations = Recitation.all.map do |a|
    [a.humanize, a.id]
  end
%>

<%= render 'tools/header',
           name: 'Ayah recitations',
           title: @recitation.humanize,
           key: 'ayah_recitation'
%>

<div class="page-wrapper container-lg">
  <div class="page-section filters">
    <%= form_tag ayah_audio_files_path, method: :get do %>
      <div data-controller="chapter-verses-filter" class="d-flex">
        <%= render 'shared/filters' %>

        <div class="form-group me-2">
          <%= select_tag :id, options_for_select(recitations, params[:id]), class: 'form-select', data: { controller: 'select2' } %>
          <p class="form-text">Filter reciter</p>
        </div>

        <div class="form-group">
          <%= submit_tag 'Filter', class: 'btn btn-success', data: { disable_with: 'Please wait..' } %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="page-section mt-4">
    <h2>Ayah segments</h2>
    <table class="table table-hover">
      <thead class="position-sticky bg-white border-bottom top-0">
      <tr>
        <th><%= sort_order_link 'Id', :id, id: @recitation.id %></th>
        <th><%= sort_order_link 'Surah', :chapter_id %></th>
        <th><%= sort_order_link 'Ayah', :verse_number %></th>
        <th>Segment Progress</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @audio_files.each do |file| %>
        <tr>
          <th scope="row"><%= file.id %></th>
          <th scope="row"><%= file.chapter_id %></th>
          <th scope="row"><%= file.verse_number %></th>

          <td>
            <% progress = file.segment_progress %>

            <div class="progress">
              <div class="progress-bar progress-bar-success"
                   role="progressbar"
                   aria-valuenow="<%= progress %>"
                   aria-valuemin="0" aria-valuemax="100"
                   style="width: <%= progress %>%; min-width: 30px">
                <%= progress %>%
              </div>
            </div>
          </td>

          <td>
            <div class="d-flex gap-1">
              <%= link_to 'Show', ayah_audio_file_path(@recitation.id, chapter_id: file.chapter_id), class: 'btn btn-success' %>
              <%= link_to 'Fix Segments', segment_builder_ayah_audio_file_path(@recitation.id, chapter_id: file.chapter_id), class: 'btn btn-success' %>
            </div>
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan="5">
          <div class="d-flex align-items-center">
            <div class="me-4">
              <%= pagy_bootstrap_nav(@pagy).html_safe %>
            </div>
            <div>
              <%= pagy_info(@pagy).html_safe %>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


