<%= javascript_include_tag "segments/index", defer: true %>
<%= stylesheet_link_tag "segments/index", defer: true %>

<%
  actions = []
  if @chapter.id > 1
    actions << link_to('Previous Surah', segment_builder_ayah_audio_file_path(@recitation.id, chapter_id: @chapter.id - 1), class: 'btn btn-dark')
  end
  if @chapter.id < 114
    actions << link_to('Next Surah', segment_builder_ayah_audio_file_path(@recitation.id, chapter_id: @chapter.id + 1), class: 'btn btn-dark')
  end

  actions << link_to('Short keys', '#_', class: 'btn btn-info', data: { controller: 'ajax-modal', url: builder_help_surah_audio_files_path })
  actions << link_to('Back to Index', ayah_audio_files_path(recitation_id: @recitation.id), class: 'btn btn-info')
%>

<%= render 'tools/header',
           name: 'Ayah recitations',
           title: "Segment builder for #{@recitation.humanize}(#{@recitation.id})<div style='font-size: 0.5em'>Surah #{@chapter.name_simple}</div>",
           key: 'ayah_recitation',
           actions: actions
%>

<div class="page-wrapper container-lg mt-0">
  <div class="page-section mt-4">
    <div id="app"
         data-recitation="<%= @recitation.id %>"
         data-segment-locked="<%= @recitation.segment_locked? || !@access %>"
         data-chapter="<%= @chapter.id %>"
         data-verses-count="<%= @chapter.verses_count %>"
         data-verse="<%= params[:verse] %>"
         data-segments-url="ayah_audio_files"
         data-auto-play="false"
         data-audio-type="ayah">
      <p>Loading</p>
    </div>
  </div>
</div>
