<div id=title>
  Proofreading comments for <%= @resource.name %>
</div>

<div id=body>
  <div class="modal-body">
    <%= form_for @resource.proof_read_comments.build, data: {controller: 'remote-form'} do |form| %>
      <div class="row">
        <div class="col-md-12">
          <%= form.hidden_field :resource, value: @resource.class.to_s %>
          <%= form.hidden_field :resource_id, value: @resource.id %>

          <div class="form-group">
            <%= form.label :text, "Add comment" %>
            <%= form.text_area :text, required: true, placeholder: 'Write your comment', cols: nil, rows: nil, class: 'form-control' %>
          </div>

          <div class="form-group mt-2" style="text-align: right">
            <%= form.submit "Add comment", class: 'btn btn-success' %>
          </div>
        </div>
      </div>

      <div class="comments-list row" id="comments">
        <%= render partial: 'comment', collection: @comments, as: :comment %>
      </div>
    <% end %>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>