<%
  tajweed_annotation = TajweedAnnotation::Service.new
  tajweed_annotation.add_annotation_on_verse(@word.verse)
  tajweed_text = tajweed_annotation.to_html

  ayah_tajweeed_words = TajweedWord.where(
    verse_id: @word.verse_id,
    mushaf_id: 23
  ).order('position asc')
%>

<div class="page-section mt-4" data-controller="mushaf-page">
  <h2>
    <%
      verse = @word.verse
      next_verse = verse.next_ayah
      previous_verse = verse.previous_ayah
    %>

    <%= link_to tajweed_word_path("#{previous_verse.verse_key}:1"), class: 'btn-link text-decoration-none', title: 'Preview ayah', data: { controller: 'tooltip' } do %>
      <i class="fa fa-arrow-left"></i>
    <% end if previous_verse %>

    Ayah <%= @word.verse_key %>

    <%= link_to tajweed_word_path("#{next_verse.verse_key}:1"), class: 'btn-link text-decoration-none', title: 'Next ayah', data: { controller: 'tooltip' } do %>
      <i class="fa fa-arrow-right"></i>
    <% end if next_verse %>

    <span class="ms-4">
      Font size: (<span id=size>30</span>)<input type="range" min="30" max="100" value="30" class="font-size-slider">
    </span>
  </h2>

  <h3 class="my-3">Ayah preview</h3>
  <div class="d-flex flex-wrap gap-1 quran-text ayah-tajweed-words tajweed-new">
    <% ayah_tajweeed_words.each do |w| %>
      <%= link_to tajweed_word_path(w.location), class: 'text-decoration-none', style: 'color: inherit' do %>
        <div data-location='<%=w.location%>' class="border border-solid p-1 mx-1 <%= 'border-primary' if w.position == @word.position %> preview-<%= w.location.gsub(':', '-') %>">
          <div class="qpc-hafs char"
               data-controller="tajweed-highlight">
            <%= safe_html w.text %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <h3>
    Auto tajweed annotation<br>
    <small>This text is auto-annotated and may contain errors or missing rules. Fixing Tajweed for any word will not update the preview below.</small>  </h3>
  <div class="qpc-hafs tajweed-new char" data-controller="tajweed-highlight">
    <%= safe_html tajweed_text %>
  </div>

  <h3>V4 tajweed</h3>
  <div class="d-flex flex-wrap gap-1 quran-text ayah-tajweed-words">
    <% verse.words.each do |w| %>
      <%= link_to tajweed_word_path(w.location), class: 'text-decoration-none', style: 'color:inherit;' do %>
        <div data-location='<%=w.location%>' class="border border-solid p-1 mx-1 <%= 'border-primary' if w.position == @word.position %>">
          <div class="p<%= w.v2_page %>-v4-tajweed char">
            <%= w.code_v2 %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <h3>QuranAcademy Tajweed images</h3>
  <div class="d-flex flex-wrap gap-1 quran-text ayah-tajweed-words">
    <% verse.words.each do |w| %>
      <%= link_to tajweed_word_path(w.location), class: 'text-decoration-none', style: 'color:inherit;' do %>
        <div data-location='<%=w.location%>' class="border border-solid p-1 mx-1 <%= 'border-primary' if w.position == @word.position %>">
          <img data-controller="lazy-load" data-src="<%= w.qa_tajweed_image_url %>"/>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
