<% rule_name = tajweed.name(letter['r']) %>
<tr id="<%= dom_id @tajweed_word, letter['i'] %>">
  <th scope="row">
    <%= letter['i'].to_i + 1 %>
  </th>

  <td>
    <div class="flex-between">
      <%= link_to Unicode::Name.of(letter['c']), chars_info_path(char: letter['c'], script: 'text_uthmani'), target: '_blank', class: 'me-2', title: 'View all words with this char', data: {controller: 'tooltip'} %>

      <div class="qpc-hafs <%= rule_name %> text-left"
           title="Copy <%= letter['c'] %>"
           data-text="<%= letter['c'] -%>"
           data-controller="copy-to-clipboard">
        <%= letter['c'] %>
      </div>
    </div>
  </td>

  <td>
    <%= link_to rule_name, tajweed_rule_path(rule_name), target: '_blank' if rule_name %>
  </td>

  <td>
    <% if @access %>
      <%= form_with model: @tajweed_word, url: tajweed_word_path(@tajweed_word.location), data: { controller: 'tajweed-word-form' } do |f| %>
        <%= f.hidden_field :letter_index, value: letter['i'] %>
        <div class="d-flex justify-content-between">
          <%= f.select :rule, options_for_select(rule_options, selected: letter['r']), { include_blank: 'Select rule' }, id: "l-#{@tajweed_word.id}-#{letter['i']}", data: { controller: 'select2', placeholder: 'Select rule' } %>

          <%= f.submit 'Save', class: 'btn btn-success btn-sm' %>
        </div>
      <% end %>
    <% end %>
  </td>
</tr>