<%
  page_number = @word.page_number
  new_tajweed_img_host = "https://static-cdn.tarteel.ai/qul/images/page/daralmarfiah-tajweed"
%>


<div class="offcanvas offcanvas-start"
     tabindex="-1" id="tajweed-rules-sidebar"
     aria-labelledby="tajweed-paletee">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="tajweed-paletee">Tajweed Rule Palette</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <div class="tajweed-palette">
      <% documentation = tajweed.documentation %>
      <% tajweed.rules.each_with_index do |r, i| %>
        <%
          key = r[0]
          rule = documentation[key.to_sym]
        %>

        <div class="py-2 border-bottom">
          <div class="d-flex">
            <span class="me-2">
              <%= i + 1 %>
            </span>
            <span class="tajweed-new tajweed-rule-icon <%= key %>"></span>
            <span class="ms-2">
              <%= key %>
            </span>

            <span class="ms-auto">
              <%= link_to 'View detail', tajweed_rule_path(key), target: '_blank' %>
            </span>
          </div>

          <div class="flex-between">
            <span>
              Letters
            </span>
            <span class="qpc-hafs" style="font-size: 20px">
               <%= rule[:rule_letters] %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-start"
     tabindex="-1"
     id="tajweed-page-sidebar"
     aria-labelledby="tajweed-page"
     style="width: 90%;"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="tajweed-page">
      Page <span class="page-number"><%= page_number %></span>
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <div class="text-center d-flex">
      <div class="p-4 text-center zoomable"
           data-controller="zoom-image"
           data-page="<%= page_number %>"
           data-host="<%= new_tajweed_img_host %>"
      >
        <label for="zoom-slider" class="form-label">New Tajweed page</label>
        <input type="range" class="form-range" min="1" max="3" step="0.1" id="zoom-slider" value="1"/>
        <div class="d-flex justify-content-between">
          <button class="btn btn-info" id="previous-page">Previous Page</button>
          <button class="btn btn-info" id="next-page">Next page</button>
        </div>

        <div id="image-container" class="mt-4 p-4">
          <img id="zoom-image" data-controller="lazy-load" width="100%" data-src="<%= new_tajweed_img_host %>/<%= page_number %>.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>