<table class="tw-w-full hover:tw-bg-gray-50 tw-mt-4">
  <thead class="tw-sticky tw-top-0 tw-z-10 tw-bg-white tw-border-b-2 tw-border-black">
  <tr>
    <th>Word id</th>
    <th>IndoPak text</th>
    <th>En translation</th>
    <th><%= current_language.name %> Translation</th>
    <th>Proofreading</th>
  </tr>
  </thead>

  <tbody>
  <% @verse.words.order('position asc').each do |word| %>
    <% translation = word.translation_for_language(current_language) %>
    <tr class="hover:tw-bg-gray-200 tw-border-b <%= 'bg-danger text-white' if translation.blank? %>">
      <th scope="row" class="tw-py-2 tw-pl-2"><%= word.position %></th>

      <td class="tw-py-2">
        <span class="indopak">
        <%= word.text_indopak %>
        </span>
      </td>

      <td class="tw-py-2">
        <%= word.en_translation&.text %>
      </td>

      <td class="tw-py-2">
        <span class="<%= current_language.iso_code %> current_language.name.downcase">
          <%= translation&.text %>
        </span>
      </td>
      <td class="tw-py-2">
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
