<%
  #TODO: use presenter, we're initialization lot of variables in the views.
  tajweed = TajweedRules.new
  actions = []
  next_word = @word.next_word
  previous_word = @word.previous_word
  ayah_tajweeed_words = TajweedWord.where(verse_id: @word.verse_id).order('position asc')

  if previous_word
    actions << link_to('Previous word', tajweed_word_path(previous_word.location), class: 'btn btn-dark')
  end

  if next_word
    actions << link_to('Next word', tajweed_word_path(next_word.location), class: 'btn btn-dark')
  end

  actions << link_to('Back to filter', tajweed_words_path, class: 'btn btn-info')
  rule_options = tajweed_rule_options_for_select(tajweed)

  auto_annotation = TajweedAnnotation::Service.new
  auto_annotation.add_annotation_on_verse(@word.verse)
%>

<%= render 'tools/header',
           name: "Tajweed tool",
           title: "Tajweed rules preview for #{@word.location}",
           key: 'word_tajweed',
           actions: actions
%>

<%= render 'shared/page_font', verses: [@word.verse] %>

<div class="page-wrapper container-lg">
  <div class="page-section">
    <%= render 'word_preview' %>
  </div>

  <div class="page-section mt-4">
    <h2 class="position-sticky bg-white border px-2 py-3 d-flex align-items-center justify-content-between" style="z-index: 100; top:5px">
      <span>
        Letters with tajweed rules
      </span>

      <div class="d-flex">
        <button class="btn btn-info me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#tajweed-rules-sidebar" aria-controls="tajweed-rules-sidebar">
          Tajweed Palette
        </button>

        <button class="btn btn-info me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#tajweed-page-sidebar" aria-controls="tajweed-page-sidebar">
          Show Page
        </button>

        <div class="preview-<%= @tajweed_word.location.gsub(':', '-') %>">
          <div class="qpc-hafs"
               data-controller="tajweed-highlight">
            <%= @tajweed_word.text.html_safe %>
          </div>
        </div>
      </div>
    </h2>

    <table class="table table-hover">
      <thead class="position-sticky bg-white border-bottom top-0">
      <tr>
        <th>Index</th>
        <th>Letter</th>
        <th>Rule</th>
        <th>Select rule</th>
      </tr>
      </thead>

      <tbody>
      <% @tajweed_word.letters.each do |letter| %>
        <%= render 'letter_row', letter: letter, rule_options: rule_options, tajweed: tajweed %>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="page-section mt-4">
    <h2>
      <%
        verse = @word.verse
        next_verse = verse.next_ayah
        previous_verse = verse.previous_ayah
      %>

      <%= link_to tajweed_word_path("#{previous_verse.verse_key}:1"), class: 'btn-link text-decoration-none', title: 'Preview ayah', data: { controller: 'tooltip' } do %>
        <i class="fa fa-arrow-left"></i>
      <% end if previous_verse %>

      Ayah <%= @word.verse_key %>

      <%= link_to tajweed_word_path("#{next_verse.verse_key}:1"), class: 'btn-link text-decoration-none', title: 'Next ayah', data: { controller: 'tooltip' } do %>
        <i class="fa fa-arrow-right"></i>
      <% end if next_verse %>
    </h2>

    <h3>Auto tajweed annotation</h3>
    <div class="qpc-hafs tajweed-new" data-controller="tajweed-highlight">
      <%= auto_annotation.to_html.html_safe %>
    </div>

    <h3>Ayah preview with new tajweed text</h3>
    <div class="d-flex flex-wrap gap-1 quran-text ayah-tajweed-words">
      <% ayah_tajweeed_words.each do |w| %>
        <%= link_to tajweed_word_path(w.location), class: 'text-decoration-none', style: 'color:inherit;' do %>
          <div class="border border-solid p-1 mx-1 <%= 'border-primary' if w.position == @word.position %> preview-<%= w.location.gsub(':', '-') %>">
            <div class="qpc-hafs"
                 data-controller="tajweed-highlight">
              <%= w.text.html_safe %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <h3>V4 tajweed</h3>
    <div class="d-flex flex-wrap gap-1 quran-text ayah-tajweed-words">
      <% verse.words.each do |w| %>
        <%= link_to tajweed_word_path(w.location), class: 'text-decoration-none', style: 'color:inherit;' do %>
          <div class="border border-solid p-1 mx-1 <%= 'border-primary' if w.position == @word.position %>">
            <div class="p<%= w.v2_page %>-v4-tajweed">
              <%= w.code_v2 %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-start"
     tabindex="-1" id="tajweed-rules-sidebar"
     aria-labelledby="tajweed-paletee">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="tajweed-paletee">Tajweed Rule Palette</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <div class="tajweed-palette">
      <% documentation = tajweed.documentation %>
      <% tajweed.rules.each do |key, rule_id| %>
        <% rule = documentation[key.to_sym] %>
        <div>
          <div class="d-flex">
            <span class="tajweed-new tajweed-rule-icon <%= key %>"></span>
            <span class="ms-2">
              <%= key %>
            </span>
          </div>

          <div class="">
            <%= rule[:info] %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-start"
     tabindex="-1"
     id="tajweed-page-sidebar"
     aria-labelledby="tajweed-page"
     style="width: 50%;"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="tajweed-page">Page <%= @word.page_number %></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <div class="p-4 text-center" data-controller="zoom-image">
      <label for="zoom-slider" class="form-label">Zoom</label>
      <input type="range" class="form-range" min="1" max="3" step="0.1" id="zoom-slider" value="1"/>

      <div id="image-container" class="mt-4 p-4">
        <%= image_tag "https://quran.ksu.edu.sa/tajweed_png/#{@word.page_number}.png", id: "zoom-image" %>
      </div>
    </div>
  </div>
</div>