<%
  #TODO: use presenter, we're initialization lot of variables in the views.
  tajweed = TajweedRules.new('new')
  actions = []
  next_word = @word.next_word
  previous_word = @word.previous_word

  if previous_word
    actions << link_to('Previous word', tajweed_word_path(previous_word.location), class: 'btn btn-dark')
  end

  if next_word
    actions << link_to('Next word', tajweed_word_path(next_word.location), class: 'btn btn-dark')
  end

  actions << link_to('Back to filter', tajweed_words_path, class: 'btn btn-info')
  rule_options = tajweed_rule_options_for_select(tajweed)
%>

<%= render 'tools/header',
           name: "Tajweed tool",
           title: "Tajweed rules preview for #{@word.location}",
           key: 'tajweed',
           actions: actions
%>

<%= render 'shared/page_font', verses: [@word.verse] %>

<div class="page-wrapper container-lg" data-controller="tajweed-annotator">
  <div class="page-section">
    <%= render 'word_preview' %>
  </div>

  <div class="page-section mt-4">
    <h2 class="position-sticky bg-white border px-2 py-3 d-flex align-items-center justify-content-between" style="z-index: 100; top:5px">
      <span>
        Letters with tajweed rules
      </span>

      <div class="d-flex">
        <button class="btn btn-info me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#tajweed-rules-sidebar" aria-controls="tajweed-rules-sidebar">
          Tajweed Palette
        </button>

        <button class="btn btn-info me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#tajweed-page-sidebar" aria-controls="tajweed-page-sidebar">
           Tajweed page
        </button>

        <div class="preview-<%= @tajweed_word.location.gsub(':', '-') %>">
          <div class="qpc-hafs"
               data-controller="tajweed-highlight">
            <%= safe_html @tajweed_word.text %>
          </div>
        </div>
      </div>
    </h2>

    <table class="table table-hover">
      <thead class="tw-sticky tw-top-0 tw-z-10 bg-white border-bottom">
      <tr>
        <th>Index</th>
        <th>Letter</th>
        <th>Rule</th>
        <th>Select rule</th>
      </tr>
      </thead>

      <tbody>
      <% @tajweed_word.letters.each do |letter| %>
        <%= render 'letter_row', letter: letter, rule_options: rule_options, tajweed: tajweed %>
      <% end %>
      </tbody>
    </table>
  </div>

  <%= render 'ayah_preview' %>
</div>

<%= render 'sidebar', tajweed: tajweed %>
