<%
  #TODO: use presenter, we're initialization lot of variables in the views.
  tajweed = TajweedRules.new('new')
  actions = []
  next_word = @word.next_word
  previous_word = @word.previous_word

  if previous_word
    actions << link_to('Previous word', tajweed_word_path(previous_word.location), class: 'tw-px-4 tw-py-2 tw-text-sm tw-font-medium tw-bg-gray-800 hover:tw-bg-gray-900 tw-text-white tw-rounded tw-transition-colors')
  end

  if next_word
    actions << link_to('Next word', tajweed_word_path(next_word.location), class: 'tw-px-4 tw-py-2 tw-text-sm tw-font-medium tw-bg-gray-800 hover:tw-bg-gray-900 tw-text-white tw-rounded tw-transition-colors')
  end

  actions << link_to('Back to filter', tajweed_words_path, class: 'tw-px-4 tw-py-2 tw-text-sm tw-font-medium tw-border tw-border-blue-500 tw-text-blue-500 hover:tw-bg-blue-500 hover:tw-text-white tw-rounded tw-transition-colors')
  rule_options = tajweed_rule_options_for_select(tajweed)
%>

<%= render 'tools/header',
           name: "Tajweed tool",
           title: "Tajweed rules preview for #{@word.location}",
           key: 'tajweed',
           actions: actions
%>

<%= render 'shared/page_font', verses: [@word.verse] %>

<div class="page-wrapper tw-container tw-max-w-7xl tw-mx-auto tw-px-4" data-controller="tajweed-annotator">
  <div class="page-section">
    <%= render 'word_preview' %>
  </div>

  <div class="page-section tw-mt-4">
    <h2 class="tw-sticky tw-bg-white tw-border tw-border-gray-300 tw-px-2 tw-py-3 tw-flex tw-items-center tw-justify-between" style="z-index: 40; top:5px">
      <span>
        Letters with tajweed rules
      </span>

      <div class="tw-flex">
        <button class="tw-px-4 tw-py-2 tw-rounded tw-font-medium tw-transition-colors tw-bg-blue-400 hover:tw-bg-blue-500 tw-text-white tw-me-2" type="button" data-controller="offcanvas" data-action="click->offcanvas#toggle" data-offcanvas-target-value="#tajweed-rules-sidebar" aria-controls="tajweed-rules-sidebar">
          Tajweed Palette
        </button>

        <button class="tw-px-4 tw-py-2 tw-rounded tw-font-medium tw-transition-colors tw-bg-blue-400 hover:tw-bg-blue-500 tw-text-white tw-me-2" type="button" data-controller="offcanvas" data-action="click->offcanvas#toggle" data-offcanvas-target-value="#tajweed-page-sidebar" aria-controls="tajweed-page-sidebar">
           Tajweed page
        </button>

        <div class="preview-<%= @tajweed_word.location.gsub(':', '-') %>">
          <div class="qpc-hafs"
               data-controller="tajweed-highlight">
            <%= safe_html @tajweed_word.text %>
          </div>
        </div>
      </div>
    </h2>

    <table class="tw-w-full hover:tw-bg-gray-50">
      <thead class="tw-sticky tw-top-0 tw-z-10 tw-bg-white tw-border-b-2 tw-border-black">
      <tr>
        <th>Index</th>
        <th>Letter</th>
        <th>Rule</th>
        <th>Select rule</th>
      </tr>
      </thead>

      <tbody>
      <% @tajweed_word.letters.each do |letter| %>
        <%= render 'letter_row', letter: letter, rule_options: rule_options, tajweed: tajweed %>
      <% end %>
      </tbody>
    </table>
  </div>

  <%= render 'ayah_preview' %>
</div>

<%= render 'sidebar', tajweed: tajweed %>
