<%
  tajweed = TajweedRules.new('new')
  rule_options = tajweed_rule_options_for_select(tajweed)
%>
<%= turbo_stream.replace "#{dom_id @tajweed_word, @letter['i']}" do %>
  <%= render 'letter_row', letter: @letter, rule_options: rule_options, tajweed: tajweed %>
<% end %>

<%= turbo_stream.replace 'tajweed-preview' do %>
  <%= render 'word_preview' %>
<% end %>

<%= turbo_stream.update_all ".preview-#{@tajweed_word.location.gsub(':', '-')}" do %>
  <div class="qpc-hafs tajweed-new"
       data-controller="tajweed-highlight">
    <%= safe_html @tajweed_word.text %>
  </div>
<% end %>