<%= render 'layouts/qul_head' %>

<div class="tw-container tw-mx-auto tw-px-6 tw-py-10 tw-space-y-8">
  <div class="tw-space-y-4">
    <div>
      <%= link_to 'Back to changelog', change_logs_path, class: 'tw-text-blue-600 hover:tw-text-blue-800 tw-underline' %>
    </div>

    <div class="tw-space-y-3">
      <h1 class="tw-text-4xl tw-font-bold tw-text-gray-900"><%= @change_log.title %></h1>
      <div class="tw-flex tw-flex-wrap tw-gap-3 tw-text-sm tw-text-gray-500">
        <span><%= @change_log.created_at.strftime('%B %d, %Y at %I:%M %P %Z') %></span>
        <span><%= change_log_resource_type(@change_log) %></span>
        <span><%= @change_log.user.name %></span>

        <% if change_log_resource_path(@change_log).present? %>
          <%= link_to @change_log.resource_content.name, change_log_resource_path(@change_log), class: 'tw-text-blue-600 hover:tw-text-blue-800 tw-underline' %>
        <% else %>
          <span><%= @change_log.resource_content.name %></span>
        <% end %>
      </div>
    </div>
  </div>

  <article class="tw-bg-white tw-border tw-border-gray-200 tw-rounded-xl tw-p-6 tw-shadow-sm">
    <div class="trix-content tw-text-gray-700">
      <%= safe_html @change_log.text %>
    </div>
  </article>
</div>
