<h1 class="tw-text-2xl tw-font-semibold tw-mt-4">
  Salam! Let’s get you logged in.
</h1>

<p class="tw-mt-6">
  Login using your <strong>Email</strong> credentials.
</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form', class: 'inputs_container ', data: { controller: 'remote-form', auto_close: true } }) do |f| %>
  <div class="tw-relative tw-mt-3">
    <%= f.email_field :email, autofocus: true, required: true, class: 'tw-block tw-w-full tw-px-3 tw-py-2 tw-border tw-border-gray-300 tw-rounded-md tw-shadow-sm tw-placeholder-gray-400 focus:tw-outline-none focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-sm:text-sm', placeholder: 'Enter your email' %>
    <%= f.label :email, required: true, class: 'tw-block tw-text-sm tw-font-medium tw-text-gray-700 tw-mb-1' %>
    <div class="tw-text-red-600 tw-text-sm tw-mt-1">
      Please enter a valid email
    </div>
  </div>
  <div class="tw-relative tw-mt-3 password">
    <%= f.password_field :password, class: 'tw-block tw-w-full tw-px-3 tw-py-2 tw-border tw-border-gray-300 tw-rounded-md tw-shadow-sm tw-placeholder-gray-400 focus:tw-outline-none focus:tw-ring-blue-500 focus:tw-border-blue-500 tw-sm:text-sm', placeholder: 'enter your password', required: true, minlength: 6, data: {controller: 'toggle-password' } %>
    <%= f.label :password, required: true, class: 'tw-block tw-text-sm tw-font-medium tw-text-gray-700 tw-mb-1' %>
    <div class="tw-text-red-600 tw-text-sm tw-mt-1">
      Password does not meet minimum security requirements.
    </div>
  </div>
  <div class="tw-mt-3 tw-flex tw-gap-3 lg:tw-gap-4 tw-flex-row tw-justify-between tw-items-center tw-flex-wrap">
    <div class="tw-ms-1 tw-flex tw-items-center">
      <%= f.label :remember_me, class: "tw-flex tw-items-center tw-gap-2 tw-cursor-pointer" do %>
        <%= f.check_box :remember_me, class: "tw-w-4 tw-h-4 tw-rounded tw-border-gray-300 tw-text-primary-600 focus:tw-ring-primary-500" %>
        <span class="tw-text-gray-700">Remember me</span>
      <% end %>
    </div>
    <div class="tw-w-full md:tw-w-fit">
      <%= link_to 'Forgot your password?', new_user_password_path, class: 'hover:tw-text-black hover:tw-underline' %>
    </div>
  </div>
  <div class="tw-text-center tw-mt-8">
    <%= f.submit t('.sign_in', default: 'Sign in'), class: 'tw-bg-gray-800 tw-text-white tw-border-gray-800 hover:tw-bg-gray-900 hover:tw-border-gray-900 focus:tw-ring-2 focus:tw-ring-gray-500 focus:tw-ring-offset-2 tw-px-8 tw-py-3 tw-text-sm tw-font-medium tw-rounded-md tw-border tw-transition-colors tw-duration-200 tw-cursor-pointer tw-inline-flex tw-items-center tw-justify-center tw-mt-2' %>
  </div>
<% end %>
