<h1 class="text-2xl font-semibold mt-4">
  Salam! Let’s get you logged in.
</h1>

<p class="mt-6">
  Login using your <strong>Email</strong> credentials.
</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form', class: 'inputs_container ', data: { controller: 'remote-form', auto_close: true } }) do |f| %>
  <div class="relative mt-6">
    <%= f.email_field :email, autofocus: true, required: true, class: 'block w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent peer', placeholder: ' ' %>
    <%= f.label :email, class: 'absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1 pointer-events-none', required: true %>
    <div class="text-sm text-red-600 mt-1 hidden invalid-feedback">
      Please enter a valid email
    </div>
  </div>
  <div class="relative mt-6 password">
    <%= f.password_field :password, class: 'block w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent peer', placeholder: ' ', required: true, minlength: 6, data: {controller: 'toggle-password' } %>
    <%= f.label :password, class: 'absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1 pointer-events-none', required: true %>
    <div class="text-sm text-red-600 mt-1 hidden invalid-feedback">
      Password does not meet minimum security requirements.
    </div>
  </div>
  <div class="mt-6 flex gap-3 lg:gap-4 flex-row justify-between items-center flex-wrap">
    <div class="ms-1 flex items-center">
      <%= f.label :remember_me, class: "flex items-center gap-2 cursor-pointer" do %>
        <%= f.check_box :remember_me, class: "w-4 h-4 rounded border-gray-300 text-primary-600 focus:ring-primary-500" %>
        <span class="text-gray-700">Remember me</span>
      <% end %>
    </div>
    <div class="w-full md:w-fit">
      <%= link_to 'Forgot your password?', new_user_password_path, class: 'hover:text-black hover:underline' %>
    </div>
  </div>
  <div class="text-center mt-8">
    <%= f.submit t('.sign_in', default: 'Sign in'), class: 'btn btn-dark btn-lg mt-2' %>
  </div>
<% end %>
