<h1 class="tw-text-2xl tw-font-semibold tw-mt-4">
  Salam! Let’s get you logged in.
</h1>

<p class="tw-mt-6">
  Login using your <strong>Email</strong> credentials.
</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form', class: 'inputs_container ', data: { controller: 'remote-form', auto_close: true } }) do |f| %>
  <div id="form-error-wrapper" class="tw-relative tw-mt-6">
    <div class="d-none"></div>
  </div>
  <div class="tw-relative tw-mt-6">
    <%= f.email_field :email, autofocus: true, required: true, class: 'tw-block tw-w-full tw-px-3 tw-py-2 tw-border tw-border-gray-300 tw-rounded-md tw-focus:tw-outline-none tw-focus:tw-ring-2 tw-focus:tw-ring-blue-500 tw-focus:tw-border-transparent peer', placeholder: ' ' %>
    <%= f.label :email, class: 'tw-absolute tw-text-sm tw-text-gray-500 tw-duration-300 tw-transform -tw-translate-y-4 tw-scale-75 tw-top-2 tw-z-10 tw-origin-[0] tw-bg-white tw-px-2 peer-focus:tw-px-2 peer-focus:tw-text-blue-600 peer-placeholder-shown:tw-scale-100 peer-placeholder-shown:-tw-translate-y-1/2 peer-placeholder-shown:tw-top-1/2 peer-focus:tw-top-2 peer-focus:tw-scale-75 peer-focus:-tw-translate-y-4 tw-start-1 tw-pointer-events-none', required: true %>
    <div class="tw-text-sm tw-text-red-600 tw-mt-1 tw-hidden invalid-feedback">
      Please enter a valid email
    </div>
  </div>
  <div class="tw-relative tw-mt-6 password">
    <%= f.password_field :password, class: 'tw-block tw-w-full tw-px-3 tw-py-2 tw-border tw-border-gray-300 tw-rounded-md tw-focus:tw-outline-none tw-focus:tw-ring-2 tw-focus:tw-ring-blue-500 tw-focus:tw-border-transparent peer', placeholder: ' ', required: true, minlength: 6, data: {controller: 'toggle-password' } %>
    <%= f.label :password, class: 'tw-absolute tw-text-sm tw-text-gray-500 tw-duration-300 tw-transform -tw-translate-y-4 tw-scale-75 tw-top-2 tw-z-10 tw-origin-[0] tw-bg-white tw-px-2 peer-focus:tw-px-2 peer-focus:tw-text-blue-600 peer-placeholder-shown:tw-scale-100 peer-placeholder-shown:-tw-translate-y-1/2 peer-placeholder-shown:tw-top-1/2 peer-focus:tw-top-2 peer-focus:tw-scale-75 peer-focus:-tw-translate-y-4 tw-start-1 tw-pointer-events-none', required: true %>
    <div class="tw-text-sm tw-text-red-600 tw-mt-1 tw-hidden invalid-feedback">
      Password does not meet minimum security requirements.
    </div>
  </div>
  <div class="tw-mt-6 tw-flex tw-gap-3 lg:tw-gap-4 tw-flex-row tw-justify-between tw-items-center tw-flex-wrap">
    <div class="tw-ms-1 tw-flex tw-items-center">
      <%= f.label :remember_me, class: "tw-flex tw-items-center tw-gap-2 tw-cursor-pointer" do %>
        <%= f.check_box :remember_me, class: "tw-w-4 tw-h-4 tw-rounded tw-border-gray-300 tw-text-primary-600 focus:tw-ring-primary-500" %>
        <span class="tw-text-gray-700">Remember me</span>
      <% end %>
    </div>
    <div class="tw-w-full md:tw-w-fit">
      <%= link_to 'Forgot your password?', new_user_password_path, class: 'hover:tw-text-black hover:tw-underline' %>
    </div>
  </div>
  <div class="tw-text-center tw-mt-8">
    <%= f.submit t('.sign_in', default: 'Sign in'), class: 'tw-px-8 tw-py-3 tw-rounded tw-font-medium tw-transition-colors tw-bg-gray-800 hover:tw-bg-gray-900 tw-text-white tw-mt-2' %>
  </div>
<% end %>
