<div class="card-container-upper mt-3 gap-4">
  <% featured_downlodable_resource_cards.each do |card| %>
    <div class="featured-resource-card <%= card.type %>" data-search="<%= card.type %> <%= card.title.downcase %> <%= card.description.to_s.downcase %>" >
      <a href="<%= card.url %>">
        <div class="overlay"></div>
        <div class="p-4 h-100 d-flex flex-column justify-content-between">
          <div>
            <h3>
              <%= card.title %>
            </h3>

            <p class="text-white fw-bold">
              <%= card.description %>
            </p>
          </div>

          <div class="w-100 d-flex align-items-center justify-content-center">
            <%= image_tag "landing/#{card.icon}" %>
          </div>

          <div class="d-flex align-items-center justify-content-between">
            <div class="text-white fw-bold">
              <%= card.stats.html_safe %>
            </div>

            <div class="featured-count-badge">
              <%= card.count %>
            </div>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>
