<%
  text_type = resource.meta_value('text_type') || resource.meta_value('script')
  preview_text = resource.meta_value('text')
  font_face = resource.meta_value('font-face')

  is_image = [
    'qa_tajweed_image',
    'qa_black_image',
    'rq_tajweed_image',
    'svg_tajweed',
    'v4_tajweed_image'
  ].include?(text_type)
%>

<% if font_face.present? && preview_text.present? %>
  <div class="bg-primary p-3 text-center rounded quran-text <%= font_face %>">
    <div>
      <%= safe_html preview_text %>
    </div>
  </div>
<% else %>
  <div class="bg-white px-3 py-2 text-center rounded quran-text text-dark <%= resource.meta_value('font')%> p574-<%= resource.meta_value('font') %>">
    <% if is_image %>
      <div class="d-flex">
        <% preview_verse.words.words.each do |w| %>
          <div class="word">
            <img src="<%= w.send("#{text_type}_url") %>" />
          </div>
        <% end %>
      </div>
    <% else %>
      <div>
        <%= safe_html preview_verse.read_attribute(text_type) %>
      </div>
    <% end %>
  </div>
<% end %>
