<%
  page_number = @mushaf_page.page_number
%>

<%= turbo_frame_tag 'lines-info' do %>
  <div class="tw-tw-text-center mx-3 tw-my-3">
    <h4>Line alignment(page: <%= page_number %>)</h4>
    <% 1.upto(@mushaf.lines_per_page) do |line| %>
      <div id="page-<%= page_number %>-line-<%= line %>">
        <%
          model = MushafLineAlignment.where(mushaf_id: @mushaf.id, page_number: page_number, line_number: line).first_or_initialize
        %>

        <%= form_with model: model, url: save_line_alignment_mushaf_layout_path(@mushaf, line: line, page_number: page_number), method: :put, html: { class: 'form-inline' } do |form| %>
          <div class="tw-flex tw-my-2">
            <a class="tw-px-4 tw-py-2 tw-rounded tw-font-medium tw-transition-colors tw-px-3 tw-py-1 tw-text-sm">
              <%= line %>
            </a>

            <%= form.submit "C", title: 'Center aligned', class: "tw-mx-2 tw-px-3 tw-py-1.5 tw-text-sm tw-font-medium tw-rounded tw-transition-colors #{ model.is_center_aligned? ? 'tw-bg-green-600 hover:tw-bg-green-700 tw-text-white' : 'tw-bg-gray-800 hover:tw-bg-gray-900 tw-text-white'}", disabled: !@access,  data: {controller: 'tooltip'} %>
            <%= form.submit "J", title: 'Justify line', class: "tw-mx-2 tw-px-3 tw-py-1.5 tw-text-sm tw-font-medium tw-rounded tw-transition-colors #{ model.is_justified? ? 'tw-bg-green-600 hover:tw-bg-green-700 tw-text-white' : 'tw-bg-gray-800 hover:tw-bg-gray-900 tw-text-white'}",  disabled: !@access, data: {controller: 'tooltip'} %>
            <%= form.submit "B", title: 'Bismillah', class: "tw-mx-2 tw-px-3 tw-py-1.5 tw-text-sm tw-font-medium tw-rounded tw-transition-colors #{ model.is_bismillah? ? 'tw-bg-green-600 hover:tw-bg-green-700 tw-text-white' : 'tw-bg-gray-800 hover:tw-bg-gray-900 tw-text-white'}", disabled: !@access, data: {controller: 'tooltip'} %>
            <%= form.submit "N", title: 'Surah name', class: "tw-mx-2 tw-px-3 tw-py-1.5 tw-text-sm tw-font-medium tw-rounded tw-transition-colors #{ model.is_surah_name? ? 'tw-bg-green-600 hover:tw-bg-green-700 tw-text-white' : 'tw-bg-gray-800 hover:tw-bg-gray-900 tw-text-white'}", disabled: !@access, data: {controller: 'tooltip'} %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>