<%
  pdf_page_offset = (@resource.meta_value('source-pdf-page-offset') || 2).to_i
  page_number = @mushaf_page.page_number.to_i + pdf_page_offset
%>

<div class="page-wrapper container-lg">
  <%= render SplitScreenComponent.new do |component| %>
    <%= component.with_left do %>
      <%= render 'shared/pdf_or_archive_embed', jump_to_page: page_number, page_offset: pdf_page_offset %>
    <% end %>

    <%= component.with_right do %>
      <%= render 'page_mapping' %>
    <% end %>
  <% end %>
</div>