<div class="page-wrapper tw-container tw-max-w-7xl tw-mx-auto tw-px-4">
  <%= render SplitScreenComponent.new do |component| %>
    <%= component.with_left do %>
      <%= render 'shared/pdf_or_archive_embed', resource: @presenter.resource, jump_to_page: @presenter.mushaf_page.page_number %>
    <% end %>

    <%= component.with_right do %>
      <%= render 'page_preview' %>
    <% end %>
  <% end %>
</div>