<%
  mushaf_name = local_assigns[:mushaf_name]
  compare_words = local_assigns[:compare_words] || []
  compare_mushaf_name = local_assigns[:compare_mushaf_name] || 'New'
  compare_mushaf_class = local_assigns[:compare_mushaf_class] || 'compare-char'
  word_class = local_assigns[:word_class].to_s
  show_page_heading = local_assigns[:show_header].nil? ? true : local_assigns[:show_header]
%>

<div class="page-wrapper container-lg">
  <% if show_page_heading %>
    <h1 class="page-header d-flex">
      Page
      <%= page_number %>

      <span>
        <%= link_to 'Previous Page', "#{page_number - 1}", class: 'btn btn-success' %>
        <%= link_to 'Next page', "#{page_number + 1}", class: 'btn btn-success' %>
      </span>
    </h1>
  <% end %>

  <div style="display: flex;justify-content: space-around;" class="mushaf-wrapper">
    <div class="mushaf-layout p<%= page_number %>">
      <%= render 'shared/mushaf_page',
                 words: words,
                 page: page_number,
                 name: mushaf_name,
                 mushaf: mushaf,
                 mushaf_class: word_class %>
    </div>

    <% if compare_words.present? %>
      <div class="mushaf-layout new-p<%= page_number %> compare">
        <%= render 'shared/mushaf_page',
                   words: compare_words,
                   page: page_number,
                   name: compare_mushaf_name,
                   mushaf: mushaf,
                   mushaf_class: compare_mushaf_class %>
      </div>
    <% end %>
  </div>
</div>
