<%= render 'tools/header',
           name: 'Mushaf layouts',
           key: 'mushaf_layouts',
           help: 'mushaf_layout'
%>

<div class="page-wrapper container-lg">
  <div class="page-section">
    <h2 class="tw-text-2xl tw-mb-4">Mushaf list</h2>
    <div class="tools-table-overflow">
    <table class="table table-hover">
      <thead class="tw-sticky tw-top-0 tw-z-10 bg-white border-bottom">
      <tr>
        <th>
          <%= sort_order_link 'Id', :id %>
        </th>
        <th>Name</th>
        <th>Pages</th>
        <th class="md:tw-hidden">Lines</th>
        <th class="tw-hidden md:tw-block">Lines per page</th>
        <th>Font</th>
        <th>Qirat</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @mushafs.each do |m| %>
        <tr>
          <td>
            <%= link_to m.id, mushaf_layout_path(m.id) %>
          </td>
          <td><%= m.name %></td>
          <td><%= m.pages_count %></td>
          <td><%= m.lines_per_page %></td>
          <td><%= m.default_font_name %></td>
          <td><%= m.qirat_type&.name %></td>
          <td>
            <%= link_to 'Show', mushaf_layout_path(m.id), class: 'btn btn-success btn-sm' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>


