<% id = "page-#{@record.page_number}-line-#{@record.line_number}" %>

<%= turbo_stream.replace id do %>
  <div id="<%= id %>">
    <%= form_with model: @record, url: save_line_alignment_mushaf_layout_path(@mushaf, line: @record.line_number, page_number: @record.page_number), method: :put, html: { class: 'form-inline' } do |form| %>
      <div class="tw-flex tw-my-2">
        <a class="btn btn-sm">
          <%= @record.line_number %>
        </a>

        <%= form.submit "C", title: 'Center aligned', class: "tw-mx-2 tw-px-3 tw-py-1.5 tw-text-sm tw-font-medium tw-rounded tw-transition-colors #{ @record.is_center_aligned? ? 'tw-bg-green-600 hover:tw-bg-green-700 tw-text-white' : 'tw-bg-gray-800 hover:tw-bg-gray-900 tw-text-white'}",  data: {controller: 'tooltip'} %>
        <%= form.submit "J", title: 'Justify line', class: "tw-mx-2 tw-px-3 tw-py-1.5 tw-text-sm tw-font-medium tw-rounded tw-transition-colors #{ @record.is_justified? ? 'tw-bg-green-600 hover:tw-bg-green-700 tw-text-white' : 'tw-bg-gray-800 hover:tw-bg-gray-900 tw-text-white'}",  data: {controller: 'tooltip'} %>
        <%= form.submit "B", title: 'Bismillah', class: "tw-mx-2 tw-px-3 tw-py-1.5 tw-text-sm tw-font-medium tw-rounded tw-transition-colors #{ @record.is_bismillah? ? 'tw-bg-green-600 hover:tw-bg-green-700 tw-text-white' : 'tw-bg-gray-800 hover:tw-bg-gray-900 tw-text-white'}",  data: {controller: 'tooltip'} %>
        <%= form.submit "N", title: 'Surah name', class: "tw-mx-2 tw-px-3 tw-py-1.5 tw-text-sm tw-font-medium tw-rounded tw-transition-colors #{ @record.is_surah_name? ? 'tw-bg-green-600 hover:tw-bg-green-700 tw-text-white' : 'tw-bg-gray-800 hover:tw-bg-gray-900 tw-text-white'}", data: {controller: 'tooltip'} %>
      </div>
    <% end %>
  </div>
<% end %>

<%= turbo_stream.replace dom_id(@mushaf_page.mushaf, "page_#{@mushaf_page.page_number}") do %>
  <%= render 'shared/mushaf_page', words: @words, page: @mushaf_page.page_number, mushaf: @mushaf_page.mushaf, name: @resource.name %>
<% end %>
