<%
  draft = Draft::Tafsir.where(tafsir_id: @tafisr.id).first
%>

<div class="page-wrapper container-lg">
  <%= render SplitScreenComponent.new do |component| %>
    <%= component.with_left do %>
      <h2>
        Current text
        (<%= @tafisr.ayah_group_info %>)
      </h2>

      <div class="tafsir <%= @tafisr.language_name %>">
        <%= safe_html @tafisr.text %>
      </div>
    <% end %>
    <%= component.with_right do %>
      <% if draft %>
        <h2>
          Draft text(<%= draft.ayah_group_info %>)
        </h2>

        <div class="tafsir px-4 <%= @tafisr.language_name %>">
          <%= safe_html draft.draft_text %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
