<%= render 'tools/header',
           name: "Ayah tafsir",
           title: "Update #{@resource.name} <div style='font-size: 0.5em'>For ayah #{@tafisr.group_verse_key_from} - #{@tafisr.group_verse_key_to}</div>",
           key: 'ayah_tafsir'
%>

<%= render 'shared/access_message' %>

<% lang = @resource.language_name.to_s.downcase %>

<div class="page-wrapper container-lg">
  <div class="page-section">
    <h2>
      <%= @resource.name %> - (<%= @tafisr.group_verse_key_from %> - <%= @tafisr.group_verse_key_to %>)
    </h2>


  <%= form_with model: @tafisr, url: tafsir_proofreading_path(@tafisr.id, resource_id: @resource.id), html: { role: 'form', class: 'form', autocomplete: 'off', data: { controller: 'remote-form' } } do |form| %>
      <%= hidden_field_tag :resource_id, @resource.id %>
      <%= render 'shared/form_errors', object: @translation %>

      <div class="form-group mb-3">
        <%= form.label :start_verse_id, 'Verse from', class: 'form-label' %>
        <%= form.select :start_verse_id, options_for_select(Verse.order('id asc').pluck(:verse_key, :id), selected: @tafisr.start_verse_id), {}, class: 'form-control', data: { placeholder: 'Ayah from', controller: 'select2' } %>
      </div>

      <div class="form-group mb-3">
        <%= form.label :end_verse_id, 'Verse to', class: 'form-label' %>
        <%= form.select :end_verse_id, options_for_select(Verse.order('id asc').pluck(:verse_key, :id), selected: @tafisr.end_verse_id), {}, class: 'form-control', data: { placeholder: 'Ayah to', controller: 'select2' } %>
      </div>

      <div class="form-group mb-3" id="tafsir_text" class="<%= lang %>">
        <%= form.label :text, 'Tafsir Text', class: 'form-label' %>
        <%= form.text_area :text, class: "form-control", id: 'editor', required: true, autofocus: true, data: { controller: 'tinymce' } %>
      </div>

      <div class="form-group mt-5" style="text-align: right">
        <%= link_to 'Cancel', tafsir_proofreading_path(@tafisr.id, resource_id: @resource.id), class: 'btn btn-default' %>
        <%= form.submit 'Purpose changes', class: 'btn btn-success', data: { disable_with: 'Please wait...' } %>
      </div>
    <% end %>
  </div>
</div>
