<div class="tw-flex tw-items-center tw-justify-between">
  <% if local_assigns[:show_stats] && card.respond_to?(:count) && card.count.to_i > 0 %>
    <div class="tw-text-white tw-font-bold tw-opacity-70">
      <%= card.stats.to_s.html_safe if card.respond_to?(:stats) %>
    </div>
    <div class="tw-rounded-full tw-bg-[#E0FAEC] tw-text-[#099a4d] tw-font-bold tw-text-sm tw-px-3 tw-py-1 tw-border-2 tw-border-[#56B599]">
      <%= card.count %>
    </div>
  <% elsif local_assigns[:show_tags] && card.respond_to?(:tags) %>
    <div class="tw-flex tw-flex-wrap tw-gap-2">
      <% card.tags.each do |tag| %>
        <%= render 'card/card-tag', tag: tag %>
      <% end %>
    </div>
  <% end %>

  <%= render 'card/info-tip', tip: card.info_tip if card.respond_to?(:info_tip) && card.info_tip.present? %>

  <% if card.respond_to?(:get_tags) && card.get_tags.present? %>
    <div class="tw-mt-4">
      <% card.get_tags.each do |tag| %>
        <%= render 'card/card-tag', tag: tag %>
      <% end %>
    </div>
  <% end %>
</div>

<% if local_assigns[:show_activity_cta] %>
  <div class="tw-flex tw-items-center tw-justify-center tw-w-full tw-mt-8">
    <div class="tw-text-center tw-bg-green-600 tw-text-white tw-py-2 tw-px-4 tw-w-full tw-font-semibold tw-rounded-lg">
      <span>Let's go</span>
    </div>
  </div>
<% end %>
