<div class="dropdown">
  <a class="btn btn-primary dropdown-toggle tw-w-full" href="#" role="button" id="dropdown-<%= resource.id %>" data-bs-toggle="dropdown" aria-expanded="false">
    Select download format
  </a>
  <ul class="dropdown-menu !tw-z-30" aria-labelledby="dropdown-<%= resource.id %>">
    <% resource.downloadable_files.each do |file| %>
      <li>
        <% if user_signed_in? %>
          <%= link_to resource_download_file_path(resource.resource_type, token: file.token), class: 'dropdown-item tw-w-full' do %>
            Download <%= file.file_type %>
          <% end %>
        <% else %>
          <%= link_to '#_', class: 'dropdown-item tw-w-full', data: { controller: 'ajax-modal', url: new_user_session_path(user_return_to: resource_download_file_path(resource.resource_type, token: file.token), modal: true)} do %>
            Download <%= file.file_type %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
