<% if resource.restrict_download? %>
  <% url = copyright_resource_path(resource.id) %>
  <div class="tw-text-left tw-text-sm">
    This resource is © copyrighted.
    <%= link_to 'learn more', url,
                class: 'tw-text-blue-600 hover:tw-underline',
                data: { controller: 'ajax-modal', url: url, css_class: 'modal-lg' }
    %>
  </div>
<% else %>
  <div class="dropdown">
    <button class="btn dropdown-toggle tw-w-full md:tw-w-initial tw-bg-white tw-text-gray-800 tw-border tw-border-gray-300 tw-rounded-lg tw-px-4 tw-py-2 tw-text-left focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-[#C5C8E6] focus:tw-ring-offset-2" id="dropdown-<%= resource.id %>" data-bs-toggle="dropdown" aria-expanded="false">
      Select download format
    </button>
    <ul class="dropdown-menu !tw-z-30 tw-w-max tw-absolute tw-left-0 tw-bg-white tw-border tw-border-gray-300 tw-rounded-lg" aria-labelledby="dropdown-<%= resource.id %>">
      <% resource.downloadable_files.each do |file| %>
        <li class="tw-py-2 tw-px-4 hover:tw-bg-gray-100">
          <% if user_signed_in? %>
            <%= link_to resource_download_file_path(resource.resource_type, token: file.token), target: '_blank', class: 'tw-block tw-w-full tw-truncate tw-whitespace-normal tw-break-words hover:!tw-text-black' do %>
              Download <%= file.file_type %>
            <% end %>
          <% else %>
            <%= link_to '#_', class: 'tw-block tw-w-full tw-truncate tw-whitespace-normal tw-break-words hover:!tw-text-black', data: { controller: 'ajax-modal', url: new_user_session_path(user_return_to: "/resources/#{resource.resource_type}/#{resource.id}", modal: true) } do %>
              Download <%= file.file_type %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
