<div class="page-wrapper container-lg">
  <h1 class="page-header">
    Word by word text of ayah <%= @verse.verse_key %>

    <span class=" pull-right">
      <%= link_to 'Contribute', edit_wbw_text_path(@verse.id), class: 'btn btn-success' %>

      <%= link_to 'Previous ayah', wbw_text_path(@verse.id + 1), class: 'btn btn-success' %>
      <%= link_to 'Next ayah', wbw_text_path(@verse.id + 1), class: 'btn btn-success' %>

      <%= link_to 'Back to filter', wbw_texts_path, class: 'btn btn-success' %>
    </span>
  </h1>

  <style>
    <%
    page = @verse.page_number
   v2_page = @verse.v2_page
  font_cdn = "https://static-cdn.tarteel.ai/qul/fonts"
  asset_version = "1"
    %>
    @font-face {
        font-family: 'p<%= v2_page %>-v2';
        src: local(QCF200<%=v2_page%>),
        url('<%= "#{font_cdn}/quran_fonts/v2/woff2/p#{v2_page}.woff2?v=#{asset_version}" %>') format('woff2'),
        url('<%= "#{font_cdn}/quran_fonts/v2/woff/p#{v2_page}.woff?v=#{asset_version}" %>') format('woff'),
        url('<%= "#{font_cdn}/quran_fonts/v2/ttf/p#{v2_page}.ttf?v=#{asset_version}" %>') format('truetype');
        font-display: swap;
    }

    @font-face {
        font-family: 'p<%= page %>-v1';
        src: local(QCF_P<%=page.to_s.rjust(3, '0')%>),
        url('<%= "#{font_cdn}quran_fonts/v1/woff2/p#{page}.woff2?v=#{asset_version}"%>'),
        url('<%= "#{font_cdn}/quran_fonts/v1/woff/p#{page}.woff?v=#{asset_version}" %>') format('woff'),
        url('<%= "#{font_cdn}quran_fonts/v1/ttf/p#{page}.ttf?v=#{asset_version}" %>') format('truetype');
        font-display: swap;
    }

    .p<%= page %>-v1 {
        font-family: 'p<%=page%>-v1';
        direction: rtl;
        font-size: 30px;
    }

    .p<%= v2_page %>-v2 {
        font-family: 'p<%=v2_page%>-v2';
        direction: rtl;
        font-size: 30px;
    }
  </style>

  <div class="callout alert alert-dismissible" role="alert">
    <div class="row">
      <div class="col-md-12 section" id="ayah_text">
        <b>Text Indopak</b>
        <div class="indopak" id="ayah_text" style="font-size: 30px; margin-top: 10px"><%= @verse.text_indopak %> </div>

        <b>Proofreading</b>
        <p class="indopak">
          <% @verse.wbw_texts.order("word_id ASC").each do |w| %>
          <span>
            <%= w.text_indopak %>
           </span>
          <% end %>
        </p>

        <b>Difference</b>

        <div class="indopak diffy" id="ayah_text" style="font-size: 30px;">
          <%= diff_text(@verse.text_indopak.strip, @verse.wbw_texts.order("word_id ASC").pluck(:text_indopak).select(&:present?).map { |t| t.to_s.strip }.join(' ').strip) %>
        </div>
      </div>

      <div class="col-md-12 section">
        <b>Text Imlaei</b>
        <div class="madani" id="ayah_text" style="font-size: 30px; margin-top: 10px"><%= @verse.text_imlaei %> </div>

        <b>Proofreading</b>
        <p class="madani">
          <% @verse.wbw_texts.order("word_id ASC").each do |w| %>
          <span>
            <%= w.text_imlaei %>
           </span>
          <% end %>
        </p>

        <b>Difference</b>

        <div class="madani diffy" id="ayah_text" style="font-size: 30px;">
          <%= diff_text(@verse.text_imlaei.strip, @verse.wbw_texts.order("word_id ASC").pluck(:text_imlaei).select(&:present?).map { |t| t.to_s.strip }.join(' ').strip) %>
        </div>
      </div>

      <div class="col-md-12 section">
        <b>KFQC Uthmani Hafs</b>
        <div class="qpc-hafs" id="ayah_text" style="font-size: 30px; margin-top: 10px"><%= @verse.text_qpc_hafs %> </div>

        <b>Proofreading</b>
        <p class="qpc-hafs">
          <% @verse.wbw_texts.order("word_id ASC").each do |w| %>
          <span style="font-size: 30px;">
            <%= w.word.text_qpc_hafs %>
           </span>
          <% end %>
        </p>

        <b>Difference</b>

        <div class="qpc-hafs diffy" id="ayah_text" style="font-size: 30px;">
          <%= diff_text(@verse.text_qpc_hafs.strip, @verse.wbw_texts.order("word_id ASC").map{|w| w.word.text_qpc_hafs}.select(&:present?).map { |t| t.to_s.strip }.join(' ').strip) %>
        </div>

        <div>
          <b>Text Uthmani with codes</b>
          <div style="direction: rtl">
            <% @verse.words.order("position ASC").each do |w| %>
          <span class="p<%= w.page_number %>-v2 char-<%= w.char_type_name.to_s.downcase %>">
            <%= w.code_v2 %>
           </span>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-12 section">
        <b>Text Uthmani</b>
        <div class="madani" id="ayah_text" style="font-size: 30px; margin-top: 10px"><%= @verse.text_uthmani %> </div>

        <b>Proofreading</b>
        <p class="madani">
          <% @verse.wbw_texts.order("word_id ASC").each do |w| %>
          <span>
            <%= w.text_uthmani %>
           </span>
          <% end %>
        </p>

        <b>Difference</b>

        <div class="madani diffy" id="ayah_text" style="font-size: 30px;">
          <%= diff_text(@verse.text_uthmani.strip, @verse.wbw_texts.order("word_id ASC").pluck(:text_uthmani).select(&:present?).map { |t| t.to_s.strip }.join(' ').strip) %>
        </div>

        <div>
          <b>Text Uthmani with codes</b>
          <div style="direction: rtl">

            <% @verse.words.order("position ASC").each do |w| %>
          <span class="p<%= w.page_number %>-v1 char-<%= w.char_type_name.to_s.downcase %>">
            <%= w.code_v1 %>
           </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover mt-4">
  <thead class="position-sticky bg-white border-bottom top-0">
  <tr>
    <td style="direction: rtl">IndoPak</td>
    <td style="direction: rtl">Uthmani</td>
    <td style="direction: rtl">KFQC Hafs</td>
    <td style="direction: rtl">Imlaei</td>
    <td style="direction: rtl">Proofreading</td>
  </tr>
  </thead>

  <tbody>
  <% @verse.wbw_texts.order('word_id asc').each do |w| %>
    <% word = w.word %>
    <tr>
      <td class="indopak">
        <%= word.text_indopak %>
      </td>

      <td class="madani">
        <%= word.text_uthmani %>
      </td>

      <td class="madani">
        <%= word.text_qpc_hafs %>
      </td>

      <td class="madani">
        <%= word.text_imlaei %>
      </td>
      <td>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

