<%
  key = params[:ayah] || '73:4'
  ayah = Verse.find_by(verse_key: key) || Verse.find_by(verse_key: '73:4')
  resource_content = resource.resource_content
  resource_type = resource_content.meta_value('morphology-resource-type')
  partial_name = "#{resource_content.one_word? ? 'word' : 'ayah'}_#{resource_type}".downcase
%>

<div class="tw-mt-5">
  <ul class="nav nav-tabs" id="translation-docs-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active"
              id="tab-docs"
              data-bs-toggle="tab"
              data-bs-target="#tab-preview-pane"
              type="button"
              role="tab"
              aria-controls="tab-preview-pane"
              aria-selected="true">
        <%= resource.name %> Preview
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button class="nav-link"
              id="tab-help"
              data-bs-toggle="tab"
              data-bs-target="#tab-help-pane"
              type="button" role="tab"
              aria-controls="tab-help-pane"
              aria-selected="false">
        Help
      </button>
    </li>
  </ul>

  <div class="tab-content tw-p-2 tw-mt-3" id="translation-docs-tab-content">
    <div class="tab-pane show active"
         id="tab-preview-pane"
         role="tabpanel"
         aria-labelledby="tab-docs" tabindex="0">
      <div class="tw-space-y-6">
        <h2 class="tw-text-xl tw-font-semibold">
          <%= resource.name %> for Surah <%= ayah.chapter.name_simple %> — Ayah <%= ayah.verse_number %>
        </h2>

        <div class="tw-flex tw-flex-wrap tw-items-center tw-justify-center tw-gap-4 tw-mb-6">
          <div class="tw-flex tw-items-center">
            <%= label_tag :ayah, 'Jump to Ayah', class: 'tw-me-2 tw-font-medium' %>
            <%= select_tag :ayah,
                           [],
                           onchange: "jumpToAyah(this.value)",
                           class: "tw-px-3 tw-py-2 tw-border tw-rounded tw-bg-white tw-shadow-sm",
                           style: 'min-width: 220px',
                           data: { controller: 'remote-select2', url: '/api/v1/verses/select2.json' } %>
          </div>

          <div class="tw-flex tw-gap-2">
            <% if ayah.previous_ayah %>
              <%= link_to detail_resources_path('morphology', resource.id, ayah: ayah.previous_ayah.verse_key), class: 'tw-bg-gray-200 hover:tw-bg-gray-300 tw-px-4 tw-py-2 tw-rounded tw-text-sm tw-shadow-sm' do %>
                ← Previous
              <% end %>
            <% end %>

            <% if ayah.next_ayah %>
              <%= link_to detail_resources_path('morphology', resource.id, ayah: ayah.next_ayah.verse_key), class: 'tw-bg-gray-200 hover:tw-bg-gray-300 tw-px-4 tw-py-2 tw-rounded tw-text-sm tw-shadow-sm' do %>
                Next →
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="tw-p-6 tw-rounded-xl tw-bg-white tw-shadow max-w-2xl tw-mx-auto">
         <%= render "resources/previews/morphology/#{partial_name}_preview", resource: resource_content, ayah: ayah %>
        </div>
      </div>
    </div>

    <div class="tab-pane"
         id="tab-help-pane"
         role="tabpanel"
         aria-labelledby="tab-docs" tabindex="1">
      <div class="tw-space-y-6">
        <%= render "resources/previews/morphology/#{partial_name}_help" %>
      </div>
    </div>
  </div>
</div>
