<%= render 'tools/header',
           name: 'Compare translation diffs',
           help: false
%>

<div class="page-wrapper tw-container tw-max-w-7xl tw-mx-auto tw-px-4">
  <div class="page-section tw-mt-4">
    <h2>Exported translations</h2>
    <table class="tw-w-full hover:tw-bg-gray-50">
      <thead class="tw-sticky tw-top-0 tw-z-10 tw-bg-white tw-border-b-2 tw-border-black">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Key</th>
        <th>Current version
        <th>Exported version</th>
        <th>Require new export?</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @presenter.exported_translations.each do |translation| %>
        <%
          latest_version = translation.updated_at.to_i
          exported_version = @presenter.exported_version(translation)
        %>
        <tr class="hover:tw-bg-gray-200 tw-border-b">
          <th scope="row" class="tw-py-2 tw-pl-2"><%= link_to translation.id, translation_diff_path(translation.id, version: @presenter.exported_version(translation)) %></th>

          <td class="tw-py-2">
            <%= translation.name %>
          </td>
          <td class="tw-py-2">
            <%= @presenter.translation_key(translation) %>
          </td>

          <td class="tw-py-2">
            <%= latest_version %>
          </td>

          <td class="tw-py-2">
            <%= exported_version %>
          </td>

          <td class="tw-py-2">
            <%= exported_version && exported_version.to_i < latest_version %>
          </td>

          <td class="tw-py-2">
            <%= link_to 'View diff', translation_diff_path(translation.id, version: @presenter.exported_version(translation)), class: 'btn btn-info' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

