<%= render 'tools/header',
           name: 'Compare translation diffs',
           help: false
%>

<div class="page-wrapper container max-w-7xl mx-auto px-4">
  <div class="page-section mt-4">
    <h2>Exported translations</h2>
    <table class="w-full hover:bg-gray-50">
      <thead class="sticky top-0 z-10 bg-white border-b-2 border-black">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Key</th>
        <th>Current version
        <th>Exported version</th>
        <th>Require new export?</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @presenter.exported_translations.each do |translation| %>
        <%
          latest_version = translation.updated_at.to_i
          exported_version = @presenter.exported_version(translation)
        %>
        <tr class="hover:bg-gray-200 border-b">
          <th scope="row" class="py-2 pl-2"><%= link_to translation.id, translation_diff_path(translation.id, version: @presenter.exported_version(translation)) %></th>

          <td class="py-2">
            <%= translation.name %>
          </td>
          <td class="py-2">
            <%= @presenter.translation_key(translation) %>
          </td>

          <td class="py-2">
            <%= latest_version %>
          </td>

          <td class="py-2">
            <%= exported_version %>
          </td>

          <td class="py-2">
            <%= exported_version && exported_version.to_i < latest_version %>
          </td>

          <td class="py-2">
            <%= link_to 'View diff', translation_diff_path(translation.id, version: @presenter.exported_version(translation)), class: 'btn btn-info' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

