<%= render 'tools/header',
           name: "#{@presenter.resource.name} translation diffs",
           help: false
%>

<style>
    .diff{overflow:auto;}
    .diff ul{background:#fff;overflow:auto;}
    .diff del, .diff ins{display:block;text-decoration:none;}
    .diff li.ins{background:#dfd; color:#080}
    .diff li.del{background:#fee; color:#b00}
    .diff li{background:#ffc; display:inline-block; margin-right: 15px}
    .diff del, .diff ins, .diff span{white-space:pre-wrap;}
    .diff del strong{font-weight:normal;background:#fcc;}
    .diff ins strong{font-weight:normal;background:#9f9;}
    .ml-2{margin-left: 5px}
    .sticky{position: sticky;top:5px;background: #fff;z-index:10;}
    .ltr{direction: ltr;}
    td{cursor: pointer;}
</style>

<div class="page-wrapper tw-container tw-max-w-7xl tw-mx-auto tw-px-4">
  <div class="page-section tw-tw-mt-4">
    <h2>Ayah diff</h2>
    <table class="tw-w-full hover:tw-bg-gray-50">
      <thead class="tw-sticky tw-top-0 tw-z-10 tw-bg-white tw-border-b-2 tw-border-black">
      <tr>
        <th>Key</th>
        <th>Exported translation</th>
        <th>New translation</th>
        <th>Diff</th>
      </tr>
      </thead>

      <tbody lang="<%= @presenter.resource.language&.iso_code %>">
      <% @presenter.current_translations.each do |translation| %>
        <%
          exported, current_translation, diff = @presenter.generate_diff(translation)
        %>

        <% if diff.include?('li') %>
          <tr class="hover:tw-bg-gray-200 tw-border-b">
            <td scope="row" class="tw-py-2 tw-pl-2">
              <%= translation.verse_key %>
            </td>

            <td class="tw-py-2">
              <%= safe_html exported %>
            </td>

            <td class="tw-py-2">
              <div>
                <%= safe_html current_translation %>
              </div>

              <div class="tw-ms-1">
                <%= link_to 'View', "/cms/translations/#{translation.id}", class: 'tw-px-3 tw-py-1.5 tw-text-sm tw-font-medium tw-bg-green-600 hover:tw-bg-green-700 tw-text-white tw-rounded tw-transition-colors', target: '_blank'  %>
              </div>
            </td>

            <td class="tw-py-2">
              <%= safe_html diff %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

