<tr class="edge-row edge-type-<%= edge.type %>" data-edge-id="<%= edge.id %>" id="edge_<%= edge.id %>">
  <td class="edge-id"><%= edge.id %></td>
  <td>
    <%= select_tag "edges[#{edge.id}][source_id]",
                   options_for_select(presenter.available_nodes, edge.source_id),
                   class: 'tw-w-full tw-border tw-border-gray-300 tw-rounded tw-px-2 tw-py-2 tw-text-sm tw-bg-white',
                   data: {
                     controller: 'select2',
                     edge_id: edge.id,
                     field: 'source_id',
                     action: 'change->graph-bulk-edit#saveEdgeField'
                   } %>
  </td>
  <td>
    <%= select_tag "edges[#{edge.id}][target_id]",
                   options_for_select(presenter.available_nodes, edge.target_id),
                   class: 'tw-w-full tw-border tw-border-gray-300 tw-rounded tw-px-2 tw-py-2 tw-text-sm tw-bg-white',
                   data: {
                     controller: 'select2',
                     edge_id: edge.id,
                     field: 'target_id',
                     action: 'change->graph-bulk-edit#saveEdgeField'
                   } %>
  </td>
  <td>
    <%= select_tag "edges[#{edge.id}][relation]",
                   options_for_select(presenter.edge_relations, edge.relation),
                   class: 'tw-w-full tw-border tw-border-gray-300 tw-rounded tw-px-2 tw-py-2 tw-text-sm tw-bg-white',
                   include_blank: '-- Select Relation --',
                   data: {
                     controller: 'select2',
                     edge_id: edge.id,
                     field: 'relation',
                     action: 'change->graph-bulk-edit#saveEdgeField'
                   } %>
  </td>
  <td class="actions-cell">
    <%= button_tag type: 'button',
                   class: 'tw-px-3 tw-py-1.5 tw-text-xs tw-font-medium tw-bg-red-600 hover:tw-bg-red-700 tw-text-white tw-rounded tw-transition-colors remove-edge-btn',
                   title: 'Remove edge',
                   data: {
                     edge_id: edge.id,
                     action: 'click->graph-bulk-edit#removeEdge'
                   } do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </td>
</tr>

