<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
    name="viewport"
    />
  <title><%= content_for?(:title) ? yield(:title) : 'Quranic Universal Library' %></title>
  <%= csrf_meta_tags %>

  <%= yield :head %>
  <script src="https://js.sentry-cdn.com/9c9baca096bbb40bba9c1e944694d76c.min.js" crossorigin="anonymous"></script>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Sarina&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag "bootstrap", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tinymce_custom", "data-turbo-track": "reload", id: 'tinymce_custom_style' %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<%= render 'shared/flash_notices' %>
<div class="container">
  <%= render 'landing/header' %>
  <%= yield %>
  <%= render 'landing/footer' %>
</div>
</body>
</html>
