<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'shared/meta_tags' %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tinymce_custom", "data-turbo-track": "reload", id: 'tinymce_custom_style' %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<%= render 'shared/flash_notices' %>
  <div class="container-lg">
    <% if controller_name == 'credits' %>
      <%= render 'landing/header', locals: { variant: 'credits' } %>
    <% else %>
      <%= render 'landing/header' %>
    <% end %>
  </div>
  <%= yield %>
  <div class="container-lg">
    <%= render 'landing/footer' %>
  </div>
</body>
</html>
