<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <%= render 'shared/meta_tags' %>

  <%= stylesheet_link_tag "landing", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
</head>

<body>
<%= render 'shared/flash_notices' %>
<div class="container-lg">
  <%= render 'landing/header' %>
</div>
<%= yield %>
<div class="container-lg">
  <%= render 'landing/footer' %>
</div>
</body>
</html>
