<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
    name="viewport"/>
  <%= csrf_meta_tags %>

  <title>
    <%= content_for?(:title) ? yield(:title) : 'Quranic Universal Library' %>
  </title>

  <%= yield :head %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Sarina&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag "bootstrap", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "landing", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
</head>

<body>
<%= render 'shared/flash_notices' %>

<%= render 'landing/header' %>
<%= yield %>
<%= render 'landing/footer' %>
</body>
</html>
