<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  <%= csrf_meta_tags %>

  <title>
    <%= content_for?(:title) ? yield(:title) : 'Quranic Universal Library' %>
  </title>

  <%= yield :head %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Sarina&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag "landing", "data-turbo-track": "reload" %>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>
<div class="container">
   <%= render 'landing/header' %>
  <div class="landingPage_Container">
  <%= yield %>
  <%= render 'landing/footer' %>
  </div>
</div>
</body>
</html>
